﻿<a class="ui-tile"
   api-call="/api/admin/content/templates/create-from-page?template={entity.public-id}&node-id={public-id}"
   input-message="{text.page-name=Page Name}"
   input-name="name"
   input-value="{entity.name}"
   on-success="/admin/content/page{data.node.path}">
    
      <div class="title">{entity.name}</div>
    <div class="icon">{icon.folder}</div>
</a>

