﻿<div class="node meta" node-type="{node.type}" title="{node.type-title} ">
   {node.value}
   
    <br>
    Title: {node.option-meta-title}
    <br/>
     Description: {node.option-meta-description}
    <br/>
     Keywords: {node.option-meta-keywords}
    <br/>
</div>