﻿<h2>{node.name}</h2>
<h3>{node.path}</h3>
{previews}
<table class="">
    <thead>
        <tr>
            {translation-headers}
        </tr>
    </thead>
    <tr>
        {translations}
    </tr>
</table>
{children}