﻿<!--<li><a href="/admin/shop/customers">{text.customers=Customers}<span class="icon icon-user-outline"></span></a></li>-->


<a class="ui-tile" href="/admin/shop/customers">
    <div class="icon">{icon.account}</div>
    <div class="title">{text.customers=Customers}</div>
</a>
