﻿<!--<li><a href="/admin/shop/categories">{text.categories=Categories}<span class="icon icon-chart-pie"></span></a></li>-->


<a class="ui-tile" href="/admin/shop/categories">
    <div class="icon">{icon.pie-chart}</div>
    <div class="title">{text.categories=Categories}</div>
</a>