﻿<!--<li><a href="/admin/shop/coupons">{text.coupons=Coupons}<span class="icon icon-ticket"></span></a></li>-->

<a class="ui-tile" href="/admin/shop/coupons">
    <div class="icon">{icon.voucher}</div>
    <div class="title">{text.coupons=Coupons}</div>
</a>