﻿<!--<li><a href="/admin/shop/orders">{text.orders=Orders}<span class="icon icon-tags"></span></a></li>-->


<a class="ui-tile" href="/admin/shop/orders">
    <div class="icon">{icon.purchase-order}</div>
    <div class="title">{text.orders=Orders}</div>
</a>
