﻿<!--<li><a href="/admin/shop/catalogs">{text.catalogs=Catalogs}<span class="icon icon-news"></span></a></li>-->

<a class="ui-tile" href="/admin/shop/catalogs">
    <div class="icon">{icon.news}</div>
    <div class="title">{text.catalogs=Catalogs}</div>
</a>