﻿<!--<li><a href="/admin/shop/businesses">{text.businesses=Businesses}<span class="icon icon-business-card"></span></a></li>-->

<a class="ui-tile" href="/admin/shop/businesses">
    <div class="icon">{icon.contact}</div>
    <div class="title">{text.businesses=Businesses}</div>
</a>