﻿<!--<li><a href="/admin/shop/order-restrictions">{text.restrictions=Restrictions}<span class="icon icon-lock-closed"></span></a></li>-->

<a class="ui-tile" href="/admin/shop/order-restrictions">
    <div class="icon">{icon.lock}</div>
    <div class="title">{text.restrictions=Restrictions}</div>
</a>