﻿<!--<li><a href="/admin/shop/packaging">{text.packaging=Packaging}<span class="icon icon-gift"></span></a></li>-->

<a class="ui-tile" href="/admin/shop/packaging">
    <div class="icon">{icon.box}</div>
    <div class="title">{text.packaging=Packaging}</div>
</a>
