﻿<!--<li><a href="/admin/shop/products">{text.products=Products}<span class="icon icon-tag"></span></a></li>-->

<a class="ui-tile" href="/admin/shop/products">
    <div class="icon">{icon.product}</div>
    <div class="title">{text.products=Products}</div>
</a>