<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
{page.meta-tags}
{page.structured-data}
<!-- Fav Icon -->
<link rel="icon" type="image/png" href="/static/image/favicon.png" />
<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="{cdn-url}/static/bundle/css/machinata-core-bundle.css?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}">
<link rel="stylesheet" type="text/css" href="{cdn-url}/static/bundle/css/machinata-signage-bundle.css?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}">
<!-- Scripts -->
<script type="text/javascript" src="/static/bundle/js/machinata-core-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-signage-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<!-- GA -->
<script type="text/javascript">
        var ga = null;
        if ({analytics.enabled}) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '{analytics.id}', 'auto');
            ga('send', 'pageview');
        }
</script>
