﻿    <div id="footer">
        <table class="left">
            <tr>
                <td><a class="section-start" href="{text.routes.external.default}">Nerves</a></td>
            </tr>
        </table>
        <table class="middle">
            <tr>
                <td>
                    <a class="section-strategy" href="{text.routes.external.strategy}">{text.section.strategy}</a>
                    <a class="section-design" href="{text.routes.external.design}">{text.section.design}</a>
                    <a class="section-branding" href="{text.routes.external.branding}">{text.section.branding}</a>
                    <a class="section-digital" href="{text.routes.external.digital}">{text.section.digital}</a>
                    <span class="start-page-only">We<br />Design<br />Ideas</span>
                </td>
            </tr>
        </table>
        <table class="right">
            <tr>
                <td>
                    <a class="section-agency" href="{text.routes.external.agency}">{text.section.agency}</a>
                    <a class="section-journal" href="{text.routes.external.journal}">{text.section.journal}</a>
                    <a class="section-newsletter" href="{text.routes.external.newsletter}">{text.section.newsletter}</a>
                    <a class="section-jobs" href="{text.routes.external.jobs}">{text.section.jobs}</a>
                    <a class="section-legal" href="{text.routes.external.legal}">{text.section.legal}</a>
                    <a class="section-privacy" href="{text.routes.external.privacy}">{text.section.privacy}</a>
                    <div class="lang-de-only"><a href="{page.route.alias.en}">English</a></div>
                    <div class="lang-en-only"><a href="{page.route.alias.de}">Deutsch</a></div>
                    <div class="pusher"></div>
                    <p>
                        <a href="{text.routes.external.address}" target="_blank">
                            Nerves<br />
                            R&auml;ffelstrasse&nbsp;24<br />
                            8045 Z&uuml;rich<br />
                            Switzerland<br />
                        </a>
                        <a href="tel:0041445520044" target="_blank">
                            +41 44 552 00 44<br />
                        </a>
                        <a href="mailto:info@nerves.ch" target="_blank">
                            info@nerves.ch
                        </a>
                    </p>
                </td>
            </tr>
        </table>
        <div class="clear"></div>
    </div>
<!-- End div.container -->
</div>