﻿<!-- Begin div.container -->
<div id="container" class="container">
    <div id="header">
        <div class="menu">
            <div class="pusher"></div>
            <div class="pusher"></div>
            <div class="pusher"></div>
            <div class="pusher"></div>
            <a class="section-strategy" href="{text.routes.strategy}">{text.section.strategy}</a>
            <a class="section-design" href="{text.routes.design}">{text.section.design}</a>
            <a class="section-branding" href="{text.routes.branding}">{text.section.branding}</a>
            <a class="section-digital" href="{text.routes.digital}">{text.section.digital}</a>
            <a class="section-agency" href="{text.routes.agency}">{text.section.agency}</a>
            <a class="section-journal" href="{text.routes.journal}">{text.section.journal}</a>
            <!--<a class="section-jobs" href="{text.routes.jobs}">{text.section.jobs}</a>-->
            <a class="section-contact" href="{text.routes.contact}">{text.section.contact}</a>
            <!--<a href="{text.routes.legal}">{text.section.legal}</a>-->
            <div class="lang-de-only"><a href="{page.route.alias.en}">English</a></div>
            <div class="lang-en-only"><a href="{page.route.alias.de}">Deutsch</a></div>
        </div>
        <div class="tab"><a href="{text.routes.default}">Nerves</a></div>
    </div>
    <div id="cover">
    </div>
    <div id="menu">
        <table class="vertical-aligner">
            <tr>
                <td class="vertical-alignee">
                    
                </td>
            </tr>
        </table>
    </div>
    <div id="fullscreen">
        <table class="vertical-aligner">
            <tr>
                <td class="vertical-alignee">
                    <div class="image">
                        <div class="toolbar">
                            <div class="tab">
                                <span class="icon icon-close"></span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>