﻿<table class="container" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="header" align="left">
            <!--<a href="{public-url}{tracking-info-with-prefix}"><img class="logo" width="140" height="58" src="{public-url}/static/file/images/todo.png" /></a>-->
        </td>
    </tr>
    <tr>
        <td align="center">
            <table class="sizer" width="600">
                <tr><td class="spacer">&nbsp;</td></tr>
                <tr><td class="spacer">&nbsp;</td></tr>
                <tr>
                    <td class="content" align="left">
                        <h1 class="email-subject">{email.subject}</h1>
                        <table class="ui-card" width="100%"><tr><td align="left">
                            <!-- Begin email contents -->
