﻿                            <!-- End email contents -->
                        </td></tr></table>
                    </td>
                </tr>
                <tr>
                    <td class="spacer">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="footer" align="left">
                        <table width="100%">
                            <tr>
                                <td align="left"></td>
                                <td align="right">
                                    <!--<a class="ui-link" href="{public-url}/disclaimer">{text.disclaimer}</a>
                                    &nbsp;
                                    <a class="ui-link" href="{public-url}/impressum">{text.impressum}</a>-->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td class="spacer">&nbsp;</td></tr>
                <tr><td class="spacer">&nbsp;</td></tr>
                <tr><td class="spacer">&nbsp;</td></tr>
                <tr><td class="spacer">&nbsp;</td></tr>
                <tr><td class="spacer">&nbsp;</td></tr>
            </table>
        </td>
    </tr>
</table>
</html>
