﻿<div>
    <h2>{extension.name}</h2>
    {extension}
    <div class="edit-extension {extension.editable}">
        <ul class="listing spaced">
            <a href="{page.navigation.current-path}/edit-extension/{extension.short-url}">
                <li>
                    {text.edit=Edit}
                </li>
            </a>
        </ul>
    </div>
</div>