﻿<div class="node video image" node-type="{node.type}">
    <a href="{public-url}{text.routes.video}/{node.public-id}{tracking-info-with-prefix}"><img src="{cdn-url}{node.value}?size=860&amp;overlay=video-icon-email.png" class="video" /></a>
</div>