﻿    {email.head}
    {email.header}
<div class="content">
    <p>{text.invoice.salutation}</p>

    <p>{text.invoice.intro-text}</p>

    {message}
</div>

<div class="content">
    <p> 
    {text.invoice.title}: {entity.title}<br/>
    {text.invoice.serial-id}: {entity.serial-id}<br/>
    {text.created-date}: {entity.created.date}<br/>
    {text.invoice.due-date}: {entity.due-date.date}<br/>
    {text.invoice.description}: {entity.description}
    </p>
</div>

 {email.footer}
