﻿.conversation {
    background-color: $table-background-color;
}

.conversation .message {
    padding: $padding;
    padding-left: $padding-double;
    padding-right: $padding-double;
    position: relative;
}
.conversation .message:not(:last-child) {
    border-bottom: 1px solid $white-color;
}

.conversation .message .tab {
    width: $padding;
    background-color: $dark-color;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.conversation .message.is-own-message .tab {
    left: unset;
    right: 0px; 
}
.conversation .message.is-own-message {
    text-align: right;
}

.conversation .message .user {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.conversation .message .text {
    font-size: 1.5em;
}

.conversation .message .created {
    margin-top: 4px;
    font-size: 10px;
}

.conversation .message textarea {
    border-bottom: none;
    resize: none;
}
.conversation .message .spaced-top {
    margin-top: $padding-half;
}

.conversation .message .ui-card-buttons {
   padding-left: 0px;
   padding-top: $padding;
}
  