﻿{email.head}
{email.header}

<div class="content">
    <h1>{sender.name} has sent you a File Transfer!</h1>
</div>

<div class="content">
    <p>Please download your files using the link below:</p>
    <p>
        <a href="{server-url}{transmission.download-path}">
            {server-url}{transmission.download-path}
        </a>
    </p>
    <p>
        {transmission.details}
    </p>
    <p>
        {transmission.message}
    </p>
</div>

{email.footer}
