﻿<!--<li><a href="{page.navigation.current-path}/routes">{text.routes=Routes}<span class="icon icon-flow-switch"></span></a></li>-->

<a class="ui-tile {item.classes}" href="{page.navigation.current-path}/routes">
    <div class="icon">{icon.route}</div>
    <div class="title">{text.routes=Routes}</div>
</a>