﻿<!--<li><a href="{page.navigation.current-path}/tools">{text.tools=Tools}<span class="icon icon-spanner"></span></a></li>-->

<a class="ui-tile {item.classes}" href="{page.navigation.current-path}/tools">
    <div class="icon">{icon.maintenance}</div>
    <div class="title">{text.tools=Tools}</div>
</a>