﻿<!--<li><a href="{page.navigation.current-path}/messages">{text.messages=Messages}<span class="icon icon-messages"></span></a></li>-->


<a class="ui-tile {item.classes}" href="{page.navigation.current-path}/messages">
    <div class="icon">{icon.chat-messages}</div>
    <div class="title">{text.messages=Messages}</div>
</a>