﻿{email.head}
{email.header}
<p>{text.email-order-salutation}</p>
<p>{text.email-shipment-text}</p>
<p><a href="{server-url}/{order-url}/{order-id}">{text.email-order-view-order-online=View Order Online}</a></p>
<p class="remove-if-false-{shipment.has-tracking-link}"><a href="{shipment.tracking-link}">{text.email-order-show-tracking-online}</a></p>
<div>
    {cms-content}
</div>
<h2>{text.summary}</h2>
<table>
    <tr>
        <td class="label">{text.order-number}</td>
        <td>{entity.serial-id}</td>
    </tr>
    <tr>
        <td class="label">{text.order-date}</td>
        <td>{entity.confirmed-date.date}</td>
    </tr>
    <tr class="remove-if-empty-{entity.delivery-shipped-date}">
        <td>{text.delivery-date}</td>
        <td>{entity.delivery-shipped-date}</td>
    </tr>
    <tr>
        <td>{text.order.total-customer}</td>
        <td>{entity.total-customer}</td>
    </tr>
</table>
<div>{shipping-address}</div>
<div>{billing-address}</div>
<div>{line-items}</div>
<div>
    <h2>{text.scan-code}</h2>
    <img src="{cdn-url}/static/qrcode?background=transparent&color=black&size=300&data={entity.public-id}" />
</div>
{email.footer}
