﻿<!--<li class="published-{guide.published}" data-node-id="{guide.public-id}">
    <a href="/admin/guides/guide{guide.path}">
        {guide.name}
        <span class="icon icon-{guide.icon}"></span>
    </a>
</li>-->

<div class="ui-tile published-{guide.published}" data-node-id="{guide.public-id}">
    <a href="/admin/guides/guide{guide.path}">
       <div class="title"> {guide.name}</div>
        <!--<span class="icon icon-{guide.icon}"></span>-->
         <div class="icon">{icon.folder}</div>
    </a>
</div>

