﻿<!--<li><a href="/admin/infrastructure/devices">{text.devices}<span class="icon icon-device-desktop"></span></a></li>-->

<a class="ui-tile" href="/admin/infrastructure/devices">
    <div class="icon">{icon.monitor}</div>
    <div class="title">{text.devices}</div>
</a>