﻿<!--<li><a href="/admin/infrastructure/accounts">{text.accounts}<span class="icon icon-user"></span></a></li>-->
<a class="ui-tile" href="/admin/infrastructure/accounts">
    <div class="icon">{icon.account}</div>
    <div class="title">{text.accounts}</div>
</a>