﻿<!--<li><a href="/admin/infrastructure/contracts">{text.contracts}<span class="icon icon-document-text"></span></a></li>-->

<a class="ui-tile" href="/admin/infrastructure/contracts">
    <div class="icon">{icon.contract}</div>
    <div class="title">{text.contracts}</div>
</a>