﻿<script>
    Machinata.ready(function () {
        // Component toggle
        $("#components-list a").each(function () {
            var opt = $("<option/>");
            opt.text($(this).text());
            opt.attr("value", $(this).attr("href"));
            if (window.location.href.endsWith($(this).attr("href"))) opt.attr("selected", "selected");
            $("#component-toggle").append(opt);
        });
        $("#component-toggle").on("change", function () {
            window.location = $(this).val();
        });
        // Theme toggle
        var currentTheme = Machinata.queryParameter("theme");
        if (currentTheme == null || currentTheme == "") currentTheme = "{page.theme}";
        $("#theme-toggle").val(currentTheme);
        $("#theme-toggle").on("change", function () {
            Machinata.changeQueryString("theme", $("#theme-toggle").val());
        });
    });
</script>
<div class="ui-card">
    <div class="ui-card-content">
        <div class="ui-form" id="uikit-tools">
            <div class="ui-form-row form-type-text" data-form-name="name">
                <div class="ui-label">Component</div>
                <div class="ui-input">
                    <select name="theme" id="component-toggle">
                        
                    </select>
                </div>
                <div class="hidden-content" id="components-list">
                    {uikit.components}
                </div>
            </div>
            <div class="ui-form-row form-type-text" data-form-name="name">
                <div class="ui-label">{text.theme}</div>
                <div class="ui-input">
                    <select name="theme" id="theme-toggle">
                        {uikit.themes}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>