﻿<h3>{order.serial-id}: {order-item.title}</h3>
<input name="{order-item.public-id}_quantity" type="number" value="{order-item.quantity}" />
<input name="{order-item.public-id}_source" type="text" value="/pdf/shop/packaging/product/{product.public-id}?business={business.public-id}&amp;date={date}&amp;download=true&amp;format=pdf" hidden />
<input name="{order-item.public-id}_preview" type="text" value="/pdf/shop/packaging/product/{product.public-id}?business={business.public-id}&amp;date={date}&amp;download=true&amp;format=png" hidden />
<input name="{order-item.public-id}_title" type="text" value="{order.serial-id}: {order-item.title}" hidden />
<p class="image"><img width="600" class="image checkered bordered" src="/pdf/shop/packaging/product/{product.public-id}?business={business.public-id}&amp;date={date}&amp;download=false&amp;format=png" /></p>