﻿<div class="ui-card">
    <div class="ui-card-content">
        <h2>{text.product} {order-item.title}, {order.business}</h2>
        <table class="ui-table highlight-on-hover">
            <tr>
                <td class="label">{text.business}</td>
                <td width="100%">{order.business}</td>
            </tr>
            <tr>
                <td class="label">{text.order}</td>
                <td width="100%">{order.serial-id}</td>
            </tr>
            <tr>
                <td class="label">{text.product}</td>
                <td width="100%">{order-item.title}</td>
            </tr>
            <tr>
                <td class="label">{text.production-date}</td>
                <td width="100%">{date}</td>
            </tr>
            <tr>
                <td class="label">{text.labels-to-print=Labels to Print}</td>
                <td width="100%">{order-item.quantity}</td>
            </tr>
        </table>
    </div>
    <!--<p class="image"><img alt="{text.loading}" style="border: 1px solid black; max-width: 600px; max-height: 600px;" class="image bordered" src="/pdf/shop/packaging/product/{product.public-id}?business={business.public-id}&amp;date={date}&amp;download=false&amp;format=png" /></p>-->
    <div class="ui-card-actions">
        <ul class="ui-listing">
            <li><a target="_blank" href="/pdf/shop/packaging/product/{product.public-id}?business={business.public-id}&amp;date={date}&amp;download=false&amp;format=pdf">{text.view-single-pdf=View Single PDF}{icon.right}</a></li>
            <li><a target="_blank" href="/pdf/shop/packaging/product/{product.public-id}?business={business.public-id}&amp;date={date}&amp;download=false&amp;format=pdf&cover=true&copies={order-item.quantity}">{text.view-production-pdf=View Production PDF} (cover + {order-item.quantity}x){icon.right}</a></li>
            <li><a href="/pdf/shop/packaging/product/{product.public-id}?business={business.public-id}&amp;date={date}&amp;download=true&amp;format=pdf">{text.download-single-pdf=Dowload Single PDF}{icon.download}</a></li>
            <li><a href="/pdf/shop/packaging/product/{product.public-id}?business={business.public-id}&amp;date={date}&amp;download=true&amp;format=pdf&cover=true&copies={order-item.quantity}">{text.download-production-pdf=Dowload Production PDF} (cover + {order-item.quantity}x){icon.download}</a></li>
        </ul>
    </div>
</div>