﻿<!--<li class="published-{entity.published}" data-entity-id="{entity.entity-id}" data-public-id="{entity.public-id}">
<a href="{entity.link}">
    {entity.type}<br/>
    {entity.title-or-id}
    <span class="icon icon-{entity.icon}"></span>
</a>
</li>-->

<a class="ui-tile published-{entity.published}" data-entity-id="{entity.entity-id}" data-public-id="{entity.public-id}" href="{entity.link}">
    <div class="icon">{icon.file}</div>
    <div class="title">{entity.type}<br/>
    {entity.title-or-id}</div>
</a>