﻿<th class="{selected} {arrow.direction} ">
    <a href="javascript:updateSort('{sort.id}','{sort.order}');">
        <span class="icon icon-arrow-{arrow.direction} only-if-selected"></span>
        <!--<span class="icon icon-arrow-down only-if-selected"></span>-->
        {column}
    </a>
</th>