﻿<tr>
    <td>
        {entity.source}
    </td>
    <td>
        {entity.package}
    </td>
    <td>
        {entity.language}
    </td>
    <td>
       {config-value}
    </td>
    <td>
        <input hidden="hidden" value="{entity.package}" name="package" />
        <input hidden="hidden" value="{entity.text-id}" name="text-id" />
        <input hidden="hidden" value="{entity.language}" name="language" />
      
        <input class="value" value="{value}" name="value" type="text" />
       
      
    </td>
    <td>
      
        <input class="ui-button clear" value="{text.clear}" type="button" />
            
      
    <td>
</tr>

