﻿pre {
    font-size: 12px;
    font-family: monospace;
    padding: 8px;
    white-space: pre-wrap;
    background-color: $barely-visible-color;
}

h1 {
    font-weight: bold;
    font-size: $title-size;
    margin-top: $vertical-spacing-double;
    margin-bottom: $vertical-spacing;
}

h1:first-of-type {
    margin-top: 0px;
    margin-bottom: $padding-double;
    color: $highlight-color;
}
h1.option-tight {
    margin-top: 0px;
    margin-bottom: 0px;
}
h1 + h1 {
    margin-top: calc(-$vertical-spacing / 4);
}

h2 {
    font-weight: bold;
    font-size: $subtitle-size;
    margin-top: $vertical-spacing-double;
    margin-bottom: $padding;
}
h2 span {
    font-weight: bold;
    font-size: $subtitle-size;
}
h2.option-two-line {
    min-height: 2.4em;
}



h1 + h2 {
    margin-top: $padding;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: $padding-half;
    margin-bottom: 0px;
    --border-bottom: 1px solid $black-color;
}


a,
a * {
    cursor: pointer;
}
p {
    margin-top: $padding;
    margin-bottom: $padding;
    line-height: $text-line-height;
}


ul,li {
    DEP_list-style-position: inside;
    DEP_margin-left: 1em;
}