﻿#footer {
    padding-top: 4rem;
}

#footer * {
    color: $footer-text-color;
}

#footer .left {
    float: left;
}
#footer .right {
    float: right;
}
#footer .right .ui-link {
    margin-left: $padding;
}



body.mobile #footer .left,
body.mobile #footer .right {
    float: unset
}
body.mobile #footer .right {
    margin-top: $padding-half;
}
body.mobile #footer .right .ui-link {
    margin-left: unset;
    margin-right: $padding;
}


body.option-no-footer #footer {
    display: none;
}
body.option-footer-in-sidebar #footer {
    /* DOES NOT WORK */
    background-color:red;
    width: 40%;
    margin-left: auto;
}
body.no-standard-container #footer {
    margin-left: $padding-double;
    margin-right: $padding-double;
}