﻿


/* ==== Standard ==== */

* {
    font-family: $text-font;
    font-weight: normal;
    font-style: normal;
    /*DEPRECATED: causes issues in SVGs... font-size: 16px; */
    color: $text-color;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    cursor: default;
    box-sizing: border-box;
}



body {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    min-width: 300px;
    font-size: 16px; /* NEW: added since the reset rule is deprecated */
}

/* Remove Firefox focus decoration */
input[type=range]:focus, :focus {
    outline: 0;
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}

/* Remove Safari Mobile */
input:not([type="radio"]):not([type="checkbox"]), textarea {
    -webkit-appearance: none;
    DEP_border-radius: 0;
}

img {
    border: 0px;
}

a {
    text-decoration: none;
}