﻿
body.fullscreen {
    width: 50%;
    height: 50%;
    transform: scale(2.0);
    transform-origin: 0 0;
}



body.no-scroll {
    overflow: hidden;
}






.ui-button,
a.button {
    border: 1px solid transparent;
    color: #fff;
    background-color: #409ACF;
    border-color: transparent;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.72222;
}



.ui-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
}

body.fullscreen .ui-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

}



.ui-listing-header {
    background-color: #EDEDED;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    padding-left: 12px;
    padding-left: 12px;
    text-align: left;
    border-bottom: 2px solid white;
}
.ui-listing {
    display: table;
    width: 100%;
}
.ui-listing.stick-to-header {
    position: relative;
    top: -2px;
}
.ui-listing-item {
    display: table-row;
    background-color: #EDEDED;
}
.ui-listing-item .column {
    display: table-cell;
    padding: 12px;
    border-bottom: 1px solid white;
}

    
.ui-schedule-wrapper {
    position: relative;
}
    
.ui-schedule-items {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.ui-schedule {
        
}


.ui-listing-flag {
    
}
.ui-listing-flag .status {
    font-weight: bold;
    font-size: 1.4em;
    position: relative;
    top: 2px;
}

    
.ui-schedule-slot {
    height: 120px;
}
.ui-schedule-item.in-past,
.ui-schedule-slot.in-past {
    opacity: 0.5;
}
.ui-schedule-slot.is-now.is-today {
    background-color: gray;
}
.ui-schedule-slot.is-now.is-today .column.time {
    color: white;
}
.ui-schedule-slot.no-items {
    height: 50px;
}
.ui-schedule-slot .tag {
    width: 5px;
    padding: 0px;
}
.ui-schedule-slot .column.time {
    font-weight: bold;
}

    
.ui-schedule-item {
    position: absolute;
    left: 68px;
    right: 0px;
    background-color: #409ACF;
}
.ui-schedule-item .title {
    color: white;
    font-weight: bold;
    position: relative;
    top: 12px;
    left: 12px;
}
.ui-schedule-item .relative-time {
    color: white;
    position: relative;
    top: 12px;
    left: 12px;
}
    
.ui-schedule-item.small-slot .title {
    top: 6px;
}
.ui-schedule-item.small-slot .relative-time {
    display: none;
}


.ui-tools {
    padding-top: 12px;
    padding-bottom: 12px;
}
