﻿
    
.wifilogin-sign .sign-title {
}
.wifilogin-sign .meta {
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #EDEDED;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    display: inline-block;
    text-align: left;
}
.wifilogin-sign .meta .wifi-name {
    margin-bottom: 12px;
}





.zvvtimetable-sign .connection.is-past {
    opacity: 0.5;
}
.zvvtimetable-sign .connection .time {
    font-weight: bold;
}
.zvvtimetable-sign .connection .relative-time {
    font-size: 0.7em;
}
.zvvtimetable-sign .connection .column {
        
}
.zvvtimetable-sign .connection .column.product {
    min-width: 68px;
}
.zvvtimetable-sign .connection .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
    color: #3C4C60;
    position: relative;
    top: 7px;
}
.zvvtimetable-sign .connection .icon.icon-tram {
    background-image: url($cdn-url/static/file/images/signage/tram-2x.png?recolor=%233C4C60);
}
.zvvtimetable-sign .connection .icon.icon-train {
    background-image: url($cdn-url/static/file/images/signage/train-2x.png?recolor=%233C4C60);
}
.zvvtimetable-sign .connection .icon.icon-bus {
    background-image: url($cdn-url/static/file/images/signage/bus-2x.png?recolor=%233C4C60);
}
.zvvtimetable-sign .connection .icon.icon-ship {
    background-image: url($cdn-url/static/file/images/signage/ship-2x.png?recolor=%233C4C60);
}
.zvvtimetable-sign .connection .line {
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 0px;
    border-radius: 3px;
    min-width: 20px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
.zvvtimetable-sign .copyright {
    padding-bottom: 12px;
}
body.no-footer .zvvtimetable-sign .copyright {
    display: none;
}


body.auto-reload-enabled .zvvtimetable-sign .copyright {
    padding-top: 2px;
}
body.auto-reload-enabled .zvvtimetable-sign .ui-tools {
    display: none;
}



body.fullscreen .zvvtimetable-sign .copyright {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 12px;
}










.splitscreen-sign {
    width: 100%;
    height: 100%;
    position: absolute;
}
.splitscreen-sign .screen {
    position: absolute;
}
body.debug .splitscreen-sign .screen-a {
    background-color: red;
}
body.debug .splitscreen-sign .screen-b {
    background-color: green;
}








.advertisement-sign {
    width: 100%;
    height: 100%;
    position: absolute;
}
.advertisement-sign .image {
    width: 100%;
    height: 100%;
    position: absolute;
    
    visibility: hidden;
}

.advertisement-sign .text {
    position: absolute;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
   
}

    



