﻿


/* ==== Standard ==== */


* {
    font-family: $text-font-email;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: $text-color;
    cursor: default;
}


img {
    border: 0px;
}
