﻿
body {
    margin: 0px;
    padding: 0px;
}

table.container {
    background-color: $page-color;
}
table.sizer {
    padding-left: $padding;
    padding-right: $padding;
}

td.header {
    background-color: $header-color;
    padding-left: $padding;
    padding-right: $padding;
    padding-top: $padding-half;
    padding-bottom: $padding-quarter;
}





table.ui-card {
    padding: $padding;
    background-color: $solid-color;
    border-radius: $card-corner-radius;
}



h1.email-subject {
    color: $highlight-color;
}


td.footer td,
td.footer td a {
    font-size: $footer-size;
}