﻿
/* =============== Layout Content ===================================================== */

.content h1 {
    margin-top: $padding-double;
    margin-bottom: $padding;
}

.content h2 {
    margin-top: $padding-half;
    margin-bottom: $padding;
}


.content h3 {
    margin-top: $padding-half;
    margin-bottom: 0px;
}

.content a {
    color: $text-color;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}