﻿
.ui-table {
    width: 100%;
    border-collapse: collapse;
}


.ui-table td a,
.ui-table th a {
    display: block;
    font-weight: unset;
    text-decoration: unset;
}
.ui-table td, 
.ui-table th {
    border: $line-size solid $line-color;
}

.ui-table th {
    padding: $padding-half;
    text-align: left;
}


.ui-table td {
    padding: $padding-half;
}


.ui-table.option-small-text td {
    font-size: 14px;
}

.ui-table tr:first-child td,
.ui-table tr:first-child th {
    border-top: none;
}
.ui-table tr:last-child td {
    border-bottom: none;
}
.ui-table td:first-child, 
.ui-table th:first-child {
    border-left: none;
}
.ui-table td:last-child, 
.ui-table th:last-child {
    border-right: none;
}
.ui-table td a,
.ui-table th a {
}
.ui-table th,
.ui-table th a,
.ui-table td.label {
    color: $highlight-color;
    word-break: keep-all;
    text-wrap: avoid;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: $label-font-size;
    font-weight: $label-font-weight
}
.ui-table td.label.item {
    color: unset;
}
.ui-table th {
    
}
.ui-table th a {
}

.ui-table tr.total td {
    font-weight: bold;
}

.ui-table td.red {
    background-color: $red-color;
}

.ui-table td.center {
    text-align: center;
}

.ui-table td.input,
.ui-table td.select,
.ui-table td.textarea {
    width: 100%;
}

.ui-table td.no-break {
    white-space: nowrap;
}

.ui-table td.type-Int32,
.ui-table td.type-Int64,
.ui-table td.type-Long,
.ui-table td.type-Double,
.ui-table td.type-Decimal,
.ui-table td.type-Price,
.ui-table td.price,
.ui-table td.quantity,
.ui-table td.total,
.ui-table td.subtotal {
    text-align: right;
    
    white-space: nowrap;
}

.ui-table th.type-Int32,
.ui-table th.type-Int64,
.ui-table th.type-Long,
.ui-table th.type-Double,
.ui-table th.type-Decimal,
.ui-table th.type-Price,
.ui-table th.price,
.ui-table th.quantity,
.ui-table th.total,
.ui-table th.subtotal {
    text-align: right;
}

.ui-table th.type-Int32 a,
.ui-table th.type-Int64 a,
.ui-table th.type-Long a,
.ui-table th.type-Double a,
.ui-table th.type-Decimal a,
.ui-table th.type-Price a,
.ui-table th.price a,
.ui-table th.quantity a,
.ui-table th.total a,
.ui-table th.subtotal a {
    text-align: right;
}




.ui-table tr.deselected td,
.ui-table tr.unpublished td,
.ui-table tr td.unpublished,
.ui-table tr.disabled td,
.ui-table tr td.disabled {
    opacity: 0.6;
    DEP_border: 1px solid $white-color;
}


.ui-table td .only-if-selected,
.ui-table th .only-if-selected {
    display: none;
}
.ui-table td.selected .only-if-selected,
.ui-table th.selected .only-if-selected {
    display: inline-block;
}



.ui-table td.link {
    border-top: $line-size solid $line-color;
}
.ui-table td.link .icon {
    float: right;
    width: 1.2em;
    height: 1.2em;
}
.ui-table tr.link:hover:not(.selected) td,
.ui-table td.link:hover:not(.selected) {
    background-color: $page-color;
    cursor: pointer;
}

.ui-table tr.link td.link:not(:last-child) a.has-link-icon .icon {
    display: none;
}




.ui-table tr.selected td,
.ui-table td.selected {
    color: $highlight-text-color;
    background-color: $highlight-color;
}

