﻿<a-entity {entity.standard-properties}>
    <a-entity scale="0.1 0.1 0.1">
        <a-entity position="0.5 -0.5 -0.5" scale="0.1 0.1 0.1">
            <a-entity position="1.5 0.5 0.5">
                <a-box position="0 0 0" depth="1" height="1" width="1" color="black"></a-box>
                <a-box position="0 1 0" depth="1" height="1" width="1" color="white"></a-box>
                <a-box position="0 2 0" depth="1" height="1" width="1" color="black"></a-box>
                <a-box position="0 3 0" depth="1" height="1" width="1" color="white"></a-box>
                <a-box position="0 4 0" depth="1" height="1" width="1" color="black"></a-box>
                <a-box position="0 5 0" depth="1" height="1" width="1" color="white"></a-box>
                <a-box position="0 6 0" depth="1" height="1" width="1" color="black"></a-box>
                <a-box position="0 7 0" depth="1" height="1" width="1" color="white"></a-box>
                <a-box position="0 8 0" depth="1" height="1" width="1" color="black"></a-box>
                <a-box position="0 9 0" depth="1" height="1" width="1" color="white"></a-box>
                <a-text position="2.5 0 0" value="0cm" color="black" width="20" align="center" anchor="center" side="double"></a-text>
                <a-text position="2.5 9 0" value="10cm" color="black" width="20" align="center" anchor="center" side="double"></a-text>
            </a-entity>
        </a-entity>
        <a-box position="0 0 0" depth="1" height="1" width="1" color="black"></a-box>
        <a-box position="0 1 0" depth="1" height="1" width="1" color="white"></a-box>
        <a-box position="0 2 0" depth="1" height="1" width="1" color="black"></a-box>
        <a-box position="0 3 0" depth="1" height="1" width="1" color="white"></a-box>
        <a-box position="0 4 0" depth="1" height="1" width="1" color="black"></a-box>
        <a-box position="0 5 0" depth="1" height="1" width="1" color="white"></a-box>
        <a-box position="0 6 0" depth="1" height="1" width="1" color="black"></a-box>
        <a-box position="0 7 0" depth="1" height="1" width="1" color="white"></a-box>
        <a-box position="0 8 0" depth="1" height="1" width="1" color="black"></a-box>
        <a-box position="0 9 0" depth="1" height="1" width="1" color="white"></a-box>
        <a-text position="1.5 0 0" value="0m" color="black" width="20" align="center" anchor="center" side="double"></a-text>
        <a-text position="1.5 9 0" value="1m" color="black" width="20" align="center" anchor="center" side="double"></a-text>
    </a-entity>
    {entity.children}
</a-entity>
         