﻿{email.head}
{email.header}
<div class="content">
    <h1>{text.welcome-to} {project-name}, {user.name}!</h1>
</div>
{cms-content}
<div class="content">
    <p>{text.activation-email-text}</p>
    <p>
        <a href="{server-url}{activation-path}?code={secret-code}&reset-code={activation-code}&username={username}">
            {text.activate-account=Activate Account}
        </a>
    </p>
    <p>
        {text.your-username}: {user.username}
    </p>
</div>
{email.footer}
