﻿
    <td class="{entity.classes}">
        <a href="/admin/testing/versions/version/{entity.build-guid}/result/{entity.public-id}">
            <img class="hide-if-false-{entity.has-image}" src="{entity.data-result}"> 
        </a>
        {entity.status}
    </td>
   
   
