﻿<tr class="testing-result {entity.classes} ">
    <!--<td>
        {entity.category} 
    </td>-->
     <td>
        {entity.sub-category} 
    </td>
    <td>
        {entity.name} 
    </td>
    <td>
        {entity.description} 
    </td>
    {results}
</tr>