﻿
    <td class="{entity.classes}">
        <a href="/admin/testing/versions/version/{entity.build-guid}/result/{entity.public-id}">
            <p>
                {entity.body-result-summary}
            </p>
             {entity.status}
        </a>
       
    </td>
   
   
