﻿<h2>{group.name}</h2>
<table class="ui-table no-wordbreak">
    <tr>
        <!--<th>{text.category}</th>-->
        <th>{text.subcategory}</th>
        <th>{text.name}</th>
        <th>{text.description}</th>
        <th>{entity.build-version}</th>
        {build-versions}
    </tr>
    {group.results}
</table>