<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
<script src="https://js.braintreegateway.com/web/3.25.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.25.0/js/paypal-checkout.min.js"></script>
<script>

        paypal.Button.render({
            braintree: braintree,
            client: {
                production: '{production-token}',
                sandbox: '{sandbox-token}'
            },
            env: '{environment}', // Or 'sandbox'
            commit: true, // This will add the transaction amount to the PayPal button

            payment: function (data, actions) {
                return actions.braintree.create({
                    flow: 'checkout', // Required
                    amount: '{invoice.total-customer}', // Required
                    currency: '{invoice.currency}' // Required

                    // Would only be possible if we had the order
                    //enableShippingAddress: true,
                    //shippingAddressEditable: false,
                    //shippingAddressOverride: {
                    //    recipientName: '{order.shipping-address.name}',
                    //    line1:'{order.shipping-address.address1}',
                    //    line2: '{order.shipping-address.address1}',
                    //    city: '{order.shipping-address.city}',
                    //    countryCode: '{order.shipping-address.city}',
                    //    postalCode: '{order.shipping-address.zip}',
                    //    state: '{order.shipping-address.state-code}',
                    //    phone: '{order.shipping-address.phone}'
                    //}
                });
            },

            onAuthorize: function (payload) {
                // Submit `payload.nonce` to your server.

                var data = {};
                data["invoice-id"] = '{invoice.public-id}';
                data["customer-id"] = '{customerId}';
                data["payment-method-nonce"] = payload.nonce;
                var call = Machinata.apiCall("/api/payment/confirm/paypal/pay");
                call.data(data);
                // Prepare api call
                call.success(function (message) {
                    // Callback on success
                    // if (callback != null) callback(message);

                    Machinata.goToPage(message.data.url);
                });
                call.genericError();
                // Send
                call.send();
            },
        }, '#paypal-button');

 
    </script>
<div xclass="button" id="paypal-button"></div>