﻿<h2 uppercase="true">{text.qr-bill}</h2>
<p><img class="qrcode" src="/static/qrcode?size=486&amp;data={invoice.qr-bill-code}&amp;utf8=true&amp;icon=/static/file/images/switzerland-flag.png&amp;icon-size=10" /></p>
