﻿<p>{text.payment-method}: {invoice.payment-method}</p>

<p>{text.invoice-reference-number}: {invoice.serial-id}</p>
<p class="bold">{text.invoice-paid-by}: {invoice.payment.paid}</p>
<p>
    {text.transaction-id}: {invoice.payment.payment-provider-transaction-id}<br/>
</p>
<p>{text.invoice-vat-nr}: {invoice.sender.settings.vat-number}</p>
