﻿<!--<li><a href="/admin/projects/absences">{text.absences}<span class="icon icon-plane-outline"></span></a></li>-->
<a class="ui-tile" href="/admin/projects/absences">
    <div class="icon">{icon.holiday}</div>
    <div class="title">{text.absences}</div>
</a>