﻿<!--<li><a href="/admin/projects/list">{text.projects}<span class="icon icon-star-full-outline"></span></a></li>-->

<a class="ui-tile" href="/admin/projects/list">
    <div class="icon">{icon.project}</div>
    <div class="title">{text.projects}</div>
</a>