<!--<li><a onclick="Machinata.Timetracking.createWindow();">{text.timetracking}<span class="icon icon-stopwatch"></span></a></li>-->


<a class="ui-tile" onclick="Machinata.Timetracking.createWindow();">
    <div class="icon">{icon.timesheet}</div>
    <div class="title">{text.timetracking}</div>
</a>