﻿<!--<li><a href="/admin/projects/people">{text.people=People}<span class="icon icon-user"></span></a></li>-->
<a class="ui-tile" href="/admin/projects/people">
    <div class="icon">{icon.account}</div>
    <div class="title">{text.people=People}</div>
</a>