﻿<!--<li><a href="/admin/projects/invoices">{text.invoices}<span class="icon icon-mail"></span></a></li>-->
<a class="ui-tile" href="/admin/projects/invoices">
    <div class="icon">{icon.mailer}</div>
    <div class="title">{text.invoices}</div>
</a>