﻿<!--<li><a href="/admin/projects/worktypes">{text.worktypes}<span class="icon icon-tags"></span></a></li>-->


<a class="ui-tile" href="/admin/projects/worktypes">
    <div class="icon">{icon.price-tag}</div>
    <div class="title">{text.worktypes}</div>
</a>