﻿<!--<li><a href="/admin/projects/timeline">{text.timeline}<span class="icon icon-arrow-shuffle"></span></a></li>-->

<a class="ui-tile" href="/admin/projects/timeline">
    <div class="icon">{icon.timeline}</div>
    <div class="title">{text.timeline}</div>
</a>