﻿<!--<li><a href="/admin/projects/events">{text.events}<span class="icon icon-flag"></span></a></li>-->

<a class="ui-tile" href="/admin/projects/events">
    <div class="icon">{icon.event}</div>
    <div class="title">{text.events}</div>
</a>