<!-- Begin div.container -->
<div id="container" class="container">
    <div id="navigation">
        <div id="logo">
            <div class="cube">
                <div class="side back"></div>
                <div class="side left"></div>
                <div class="side right"></div>
                <div class="side top"></div>
                <div class="side bottom"></div>
                <div class="side front"></div>
            </div>
        </div>
        <h1>Machinata</h1>
        <h2>{project-name}</h2>
        <ul>
            {page.navigation-items}
        </ul>
    </div>