﻿


.ui-menu {
}
.ui-menu .section {
    border-bottom: $line-size solid $line-color-dark;
}
.ui-menu .section-item {
    border-left: 0px solid $black3;
    transition: all ease-in-out $quick-transition-time;
}
.ui-menu .section-items .section-item a  {
    border-top: $line-size solid $black4;
    padding-left: 0.5rem;
}
.ui-menu .section-item.selected {
    border-left: $padding-quarter solid $highlight-color;
}
.ui-menu .section-item.inactive a {
    color: $black4;
}
.ui-menu .section-item:hover {
    border-left-width: 8px;
    border-left-color: $highlight-color;
}
.ui-menu .section-item a {
    display: block;
    padding-left: $padding;
    padding-top: $padding;
    padding-bottom: $padding;
    font-size: $menu-size;
    font-weight: $menu-weight;
}

.ui-menu .section .section-items .section-item {
    padding-left: $padding;
    display: none;
}
.ui-menu .section .section-items .section-item a {
    padding-top: $padding-half;
    padding-bottom: $padding-half;
}


.ui-menu.option-compact-menu.option-more-than-10-sections .section-item a {
    padding-left: $padding-half;
    padding-top: $padding-half;
    padding-bottom: $padding-half;
}
.ui-menu.option-compact-menu.option-more-than-15-sections .section-item a {
    padding-left: $padding-half;
    padding-top: $padding-quarter;
    padding-bottom: $padding-quarter;
}


.ui-menu .section.selected {
    background-color: $black6;
}
.ui-menu .section.selected .section-items .section-item {
    display: inherit;
}



.ui-menu.option-scrollable  {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}



