﻿

.bold {
    font-weight: bold;
}





.clear {
    clear: both;
    width: 100%;
    height: 1px;
}





.hidden-content {
    display: none;
}






.centered {
    text-align: center;
}

.align-right {
    text-align: right;
}

.vertical-aligner {
    display: table;
    width: 100%;
    height: 100%;
}
.vertical-alignee {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}








.remove-if-zero-0,
.remove-if-one-1 {
    display: none !important;;
}



.hide-if-false-false,
.hide-if-false-False {
    display: none !important;
}
.hide-if-true-true,
.hide-if-true-True {
    display: none !important;
}



.show-if-zero:not(.count-0),
.show-if-one:not(.count-1) {
    display: none !important;
}




.show-if-editable:not(.is-true) {
    display: none !important;
}




.remove-if-zero.count-0,
.remove-if-one.count-1,
.remove-if-null.null,
.remove-if-false-false,
.remove-if-true-true
{
    display: none !important;
}
.remove-if-zero[data-count='0'],
.remove-if-one[data-count='1'] {
    display: none !important;
}





body:not(.user-logged-in) .requires-login {
    display: none !important;
}


body:not(.user-logged-out) .requires-logout {
    display: none !important;
}





body.loading,
body.loading * {
    cursor: wait !important;
}





.spaced-top {
    margin-top: $padding;
}





.cursor-pointer,
.cursor-pointer * {
    cursor: pointer;
}
.cursor-text,
.cursor-text * {
    cursor: text;
}




body .lang-en-only,
body .lang-de-only {
    display: none;
}
body.lang-en .lang-en-only,
body.lang-de .lang-de-only {
    display: unset;
}



body:not(.debug-enabled) .debug-only {
    display: none;
}


body.mobile .desktop-only,
body.tablet .desktop-only,
body.mobile .desktop-or-tablet-only {
    display: none;
}
body.mobile .option-desktop-only,
body.tablet .option-desktop-only,
body.mobile .option-desktop-or-tablet-only {
    display: none;
}



body.desktop .tablet-only,
body.mobile .tablet-only {
    display: none;
}
body.desktop .option-tablet-only,
body.mobile .option-tablet-only {
    display: none;
}




body.desktop .mobile-only,
body.tablet .mobile-only {
    display: none;
}
body.desktop .option-mobile-only,
body.tablet .option-mobile-only {
    display: none;
}




body.mobile .no-mobile {
    display: none;
}
body.mobile .option-no-mobile {
    display: none;
}



body.desktop .no-desktop {
    display: none;
}
body.desktop .option-no-desktop {
    display: none;
}



body.tablet .no-tablet {
    display: none;
}
body.tablet .option-no-tablet {
    display: none;
}


body.not-touch-enabled .touch-only {
    display: none;
}

body.touch-enabled .no-touch {
    display: none;
}



img.checkered {
     background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAQUlEQVRIie3VsQ0AIAwDQZtZGYtdzQQ0pkHi3b9OShNLWiqXZLbtaMPbAQMDAwMDH+ckfWzXL/W/UwMDAwMDvw9v11kH1DDy/GUAAAAASUVORK5CYII=');
}




.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}