﻿


.ui-focus {
    margin-top: $vertical-spacing;
    margin-left: auto;
    margin-right: auto;
    max-width: 440px;
    min-height: 100%;
    border-left: $padding solid transparent;
    border-right: $padding solid transparent;
}
.ui-focus .logo {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 60px;
}

