﻿

.ui-debug-tag {
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow: hidden;

    z-index: 1;
    pointer-events: none;
}
.ui-debug-tag:before {
    content: "";
    width: 200%;
    height: 100%;
    background-color: $highlight-color;
    position: absolute;
    bottom: 0px;
    right: 0px;

    transform: translateY(40%) translateX(40%) rotateZ(-45deg);
}
.ui-debug-tag h2 {
    padding-top: 20px;
    text-align: center;
    color: $highlight-text-color;
    margin: 0px;

    transform: translateX(10px) translateY(80px) rotateZ(-45deg);
}
.ui-debug-tag p {
    padding-top: 4px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 50%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    color: $highlight-text-color;
    font-size: $label-font-size;

    transform: translateX(40px) translateY(70px) rotateZ(-45deg);
}



.ui-debug-tag.option-page {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 90001;
}









.ui-info.internal-note {
    opacity: 0.4;
    display: none;
}
body.show-internal-notes .ui-info.internal-note {
    display: block;
}
.ui-info.internal-note:hover {
    opacity: 1.0;
}