﻿.ui-datepicker {
    
}
.ui-datepicker .ui-datepicker-header {
    height: 1em;
    position: relative;
}
.ui-datepicker .ui-datepicker-header span {
    font-weight: bold;
    font-size: $button-font-size;
    text-transform: uppercase;
    color: $text-color;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
    float: left;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
    float: right;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.ui-datepicker .ui-datepicker-calendar {
    width: 100%;
    border-collapse: collapse;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
    border: 2px solid transparent; 
}
.ui-datepicker .ui-datepicker-calendar th {

}
.ui-datepicker .ui-datepicker-calendar th span {
    font-weight: bold;
    font-size: $button-font-size;
    text-transform: uppercase;
    color: $text-color;
    text-align: center;
    border-bottom: 1px solid $line-color;
    width: 100%;
    display: inline-block;
}
.ui-datepicker .ui-datepicker-calendar td {
    text-align: right;
}
.ui-datepicker .ui-datepicker-calendar td.ui-state-disabled {
    
}


.ui-datepicker .ui-datepicker-calendar td a {
    background-color: $line-color;
    display: inline-block;
    text-align: right;
    width: 100%;
    padding: 2px;
}
.ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
    background-color: $highlight-color;
    color: $highlight-text-color;
}






.ui-timepicker-div dl {
    display: none !important;
}
.ui-timepicker-div .ui-time-buttons {
    overflow-y: auto;
    max-height: 100px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: $padding;
    border-top: 1px solid $line-color;
}
.ui-timepicker-div .ui-time-buttons .ui-button {
    padding: $padding-quarter;
    margin: 1px;
    border: none;
    border-radius: 0px;
    background-color: $line-color;
    font-weight: normal;
}
.ui-timepicker-div .ui-time-buttons .ui-button.selected,
.ui-timepicker-div .ui-time-buttons .ui-button:hover {
    background-color: $highlight-color;
    color: $highlight-text-color;
}