﻿
.ui-closeable {
}
.ui-closeable .icon {
    position: absolute;
    right: $padding-half;
    top: $padding-half;
    cursor: pointer;
    
    transition-property: opacity,fill;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}
.ui-closeable .icon:hover {
    fill: $highlight-color;
}


.ui-has-closeable {
    position: relative;
}
.ui-has-closeable .ui-closeable .icon {
    opacity: 0.0;
}
.ui-has-closeable:hover .ui-closeable .icon {
    opacity: 1.0;
}
.ui-has-closeable:hover .ui-closeable .icon:hover {
}