﻿





.ui-loader {
    width: $symbol-size;
    height: $symbol-size;
    position: relative;
}
.ui-loader:before {
    content: '';
    position: absolute;
    overflow: hidden;
    left: 1%;
    top: 1%;
    width: 98%;
    height: 98%;
    border-radius: 50%;
    background-color: $highlight-color;
}

.ui-loader .ring {
    transform: rotate(0deg);
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    animation-duration: 0.7s;
    animation-name: ui-loader-ring-anim;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.ui-loader .ring1 {
    animation-delay: 0.1s;
}
.ui-loader .ring2 {
    animation-delay: 0.2s;
}
.ui-loader .ring3 {
    animation-delay: 0.3s;
}

.ui-loader .ring:before,
.ui-loader .ring:after {
    content: '';
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 6px solid;
    border-radius: 50%;
    border-color: transparent;
    box-sizing: border-box;
    border-top-color: $highlight-color;
}

.ui-loader .ring1:before,
.ui-loader .ring1:after {
    transform: rotate(0deg);
    z-index: 1;
}
.ui-loader .ring2:before,
.ui-loader .ring2:after {
    transform: rotate(30deg);
    z-index: 2;
}
.ui-loader .ring3:before,
.ui-loader .ring3:after {
    
}

.ui-loader .ring1:after {
    border-top-color: $solid-color;
    opacity: 0.75;
}
.ui-loader .ring2:after {
    border-top-color: $solid-color;
    opacity: 0.5;
    
}
.ui-loader .ring3:after {
    border-top-color: $solid-color;
    opacity: 0.25;
    
}


@keyframes ui-loader-ring-anim {
    0% {
        transform: rotate(0deg);
    }


    100% {
        transform: rotate(360deg);
    }
}


.ui-loader-and-text {
    
}
.ui-loader-and-text .ui-loader {
    float: left;
}
.ui-loader-and-text .info-text {
    float: left;
    line-height: $symbol-size;
    padding-left: $padding;
    font-size: $info-size;
}