﻿.ui-progressbar {
    height: 1.9rem;
    position: relative;

    position: relative;
    

    padding: 6px;


    
    background-color: $page-color;
    border: $line-size solid $line-color-dark;
    border-radius: 0.9rem;
}




.ui-progressbar .progress {
    display: block;
    width: 0%;
    height: 100%;
    border: 6px solid transparent;
    border-radius: 0.6rem;
    background-color: $highlight-color;
}
