﻿
.ui-button {
    
    border: $line-size solid $highlight-color;
    border-radius: $button-corner-radius;
    padding: $padding;
    padding-top: $padding-half;
    padding-bottom: $padding-half;
    font-weight: bold;
    font-size: $button-font-size;
    text-transform: uppercase;
    background-color: $solid-color;
    color: $text-color;
    fill: $text-color;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    
    transition-property: color, fill, background-color;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-button:hover,
.ui-button.option-primary,
.ui-button.option-active,
.ui-button.option-selected,
.ui-button.selected,
.ui-controlgroup .ui-checkboxradio-checked,
.ui-dialog-buttonset .ui-button:last-of-type {
    background-color: $highlight-color;
    color: $highlight-text-color;
    fill: $highlight-text-color;
    border-color: $highlight-color;
}

.ui-button,
.ui-button * {
    cursor: pointer;
}




.ui-button svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    position: relative;
    left: 0.2em;
    top: -1px;
}
.ui-button.option-icon-only svg.icon {
    left: 0px;
}

a.ui-button {
    display: inline-block;
}




.ui-button.option-large {
    padding: $padding-double;
    padding-top: $padding;
    padding-bottom: $padding;
}

.ui-button.option-next,
.ui-button.option-right {
    float: right;
}




body.loading .ui-button.option-disabled-on-loading {
    pointer-events: none;
    opacity: 0.6;
}




.ui-button.option-translucent:not(:hover) {
    background-color: transparent;
    border-color: transparent;
}




.ui-button.option-small {
    min-width: $symbol-size-micro;
    height: $symbol-size-micro;

    padding: $padding-half;
    padding-top: $padding-quarter;
    padding-bottom: $padding-quarter;
}
.ui-button.option-small.option-icon-only {
    padding-left: $padding-quarter;
    padding-right: $padding-quarter;
}
.ui-button.option-small.option-icon-only svg {
    top: -3px;
}






.ui-button.option-thumbnail,
.ui-button.option-large-thumbnail {
    position: relative;
    padding-bottom: calc(30px + 8px);
    overflow: hidden;
}
.ui-button.option-thumbnail .thumbnail,
.ui-button.option-large-thumbnail .thumbnail {
    width: 100%;
    height: 30px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    background-position: center center;
    background-size: cover;
}
.ui-button.option-large-thumbnail {
    padding-bottom: calc(90px + 8px);
}
.ui-button.option-large-thumbnail .thumbnail {
    height: 90px;
}


.ui-button .thumbnail.option-fit {
    background-size: contain;
    background-repeat: no-repeat;
}



.ui-button.option-half-width {
    width: 50%;
    float: left;
}



.ui-button.option-thumbnail.option-magnify.option-waiting .thumbnail {
    cursor: wait;
}
.ui-button.option-thumbnail.option-magnify.option-magnified * {
    cursor: none;
}












.ui-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 0px;
    line-height: 1.3em;
}
.ui-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.ui-checkbox .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 26px;
    width: 26px;
    cursor: pointer;
    border-radius: $button-corner-radius;

    background-color: $solid-color;
    border: $line-size solid $line-color-dark;

    transition-property: border-color, background-color;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}

.ui-checkbox input:checked ~ .checkmark {
  background-color: $highlight-color;
}
.ui-checkbox .checkmark:after {
  content: "";
  position: absolute;
  opacity: 0.0;
  left: $padding-half;
  top: 2px;
  width: 5.6px;
  height: 14px;
  border: solid $highlight-text-color;
  border-width: 0 2px 2px 0;
  transform: rotate(35deg);

    transition-property: opacity;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-checkbox input:checked ~ .checkmark:after {
  opacity: 1.0;
}

.ui-checkbox .ui-link {
  border-color: $black;
}
.ui-checkbox .ui-link:hover {
  border-color: $highlight-color;
}




.ui-button[disabled],
.ui-button.disabled,
.ui-button.option-disabled {
    pointer-events: none;
    opacity: 0.3;
}



.ui-controlgroup .ui-button {

}
body.tablet .ui-controlgroup .ui-button:not(.option-icon-only),
body.mobile .ui-controlgroup .ui-button:not(.option-icon-only) {
    padding-left: $padding-half;
    padding-right: $padding-half;
}

.ui-controlgroup .ui-button.option-hidden,
.ui-controlgroup .ui-button.hidden,
.ui-dialog-buttonset .ui-button.option-hidden,
.ui-dialog-buttonset .ui-button.hidden {
    display: none !important;
}








.ui-controlgroup .ui-button,
.ui-dialog-buttonset .ui-button {
    display: inline-block;
}



.ui-controlgroup .ui-button:first-of-type,
.ui-controlgroup .ui-button.option-first,
.ui-dialog-buttonset .ui-button:first-of-type,
.ui-dialog-buttonset .ui-button.option-first {
    /* LEFT MOST */
    DEBUG_background-color: yellow;

    border-left: $line-size solid $highlight-color;
    border-bottom-left-radius: $button-corner-radius;
    border-top-left-radius: $button-corner-radius;
}
.ui-controlgroup .ui-button:last-of-type,
.ui-controlgroup .ui-button.option-last,
.ui-dialog-buttonset .ui-button:last-of-type,
.ui-dialog-buttonset .ui-button.option-last {
    /* RIGHT MOST */
    DEBUG_background-color: green;

    border-bottom-right-radius: $button-corner-radius;
    border-top-right-radius: $button-corner-radius;
}
.ui-controlgroup .ui-button,
.ui-dialog-buttonset .ui-button {
    /* ALL IN CENTER (ALL OTHER) */
    DEBUG_background-color: red;
    
    border-radius: 0px;
    border-left: none;
}


.ui-toolbar .tools .ui-button + .ui-button {
    border-left: none;
}


.ui-controlgroup .ui-button .ui-icon,
.ui-controlgroup .ui-button .ui-checkboxradio-icon-space {
    display: none;
}