﻿.ui-embedded-preview {
    text-align: center;
}

.ui-embedded-preview .ui-embedded-preview-sizer {
    margin-top: $padding;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $solid-color;
    border-top-width: 18px;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, .5);
}

.ui-embedded-preview iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Note: Transform formula: Scale: Given, Width/Height: 100*(1/Scale), Translate: Width/2-100/2  */

.ui-embedded-preview.desktop .ui-embedded-preview-sizer {
    width: 88%;
    height: 680px;
}
.ui-embedded-preview.mobile .ui-embedded-preview-sizer {
    width: 320px;
    height: 600px;
}
.ui-embedded-preview.mobile .ui-embedded-preview-sizer iframe {
    transform: scale(0.50) translate(-50%,-50%);
    width: 200%;
    height: 200%;
}
.ui-embedded-preview.tablet .ui-embedded-preview-sizer {
    width: 640px;
    height: 820px;
}
.ui-embedded-preview.tablet .ui-embedded-preview-sizer iframe {
    transform: scale(0.75) translate(-16.6666666667%,-16.6666666667%);
    width: 133.3333333333%;
    height: 133.3333333333%;
}