﻿
.ui-pagination { 
    list-style: none; 
    overflow: hidden; 
    padding: 0;
}
.ui-pagination.spaced { 
    margin-top: $padding-half;
}
.ui-pagination.option-margin-top { 
    margin-top: $padding;
}
.ui-pagination.spaced-bottom {
    margin-bottom: 18px;
} 
