﻿.ui-wizard {

}
.ui-wizard .cover {
    DEP_background-color: rgba(0,0,0,0.4);
}

.ui-wizard .ui-tooltip {
    padding: $padding;
}

.ui-wizard .ui-tooltip .text {
    padding-top: $padding;
    padding-bottom: $padding-double;
    font-size: $info-size;
}

.ui-wizard .ui-tooltip .buttons {
    text-align: right;
}
.ui-wizard .ui-tooltip .buttons button {
    background-color: $white;
    border: none;
    color: $black;
    padding: $padding-half;
    cursor: pointer;
}
.ui-wizard .ui-tooltip .buttons button+button {
    border-left: $line-size solid $line-color;
}
