﻿

.ui-form {

}

.ui-form .ui-form-row {
    clear: both;
}


.ui-form .ui-form-row.form-type-hidden {
    display: none !important;
}




.ui-form .ui-label {
    display: inline-block;
}
.ui-form .ui-form-row:first-of-type .ui-label {
    padding-top: 0px;
    margin-top: -$padding-quarter;
}





.ui-input-wrapper,
.ui-input[type=text],
.ui-form input[type=text],
.ui-table input[type=text],
.ui-form input[type=number],
.ui-form input[type=decimal],
.ui-form input[type=email],
.ui-form input[type=phone],
.ui-form input[type=tel],
.ui-form input[type=password],
.ui-form input[type=latlon],
.ui-form input[type=didok],
.ui-form input[type=didoks],
.ui-form input[type=range],
.ui-form input[type=date],
.ui-form textarea,
.ui-form select,
.ui-table thead input[type=search]{
    background-color: $page-color;
    border: $line-size solid $line-color-dark;
    border-radius: 0; /* safari mobile fix */
    padding: $padding-quarter;
    padding-left: $padding-half;
    padding-right: $padding-half;
    cursor: text;
    width: 100%;
    font-weight: bold;
    font-size: $input-font-size;
    max-width: 400px;
    
    transition-property: color, border-color;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}

.ui-form .input-max-width,
.ui-form .ui-input-and-action {
    max-width: 400px;
}


.ui-input[type=text]:focus,
.ui-form input[type=number]:focus,
.ui-form input[type=text]:focus,
.ui-form input[type=email]:focus,
.ui-form input[type=phone]:focus,
.ui-form input[type=tel]:focus,
.ui-form input[type=password]:focus,
.ui-form textarea:focus,
.ui-table thead input[type=search]:focus {
    border-color: $highlight-color;
    color: $highlight-color;
}



.ui-form select {
    cursor: pointer;
}



$slider-thumb-size: 16px;
$slider-track-size: 2px;

.ui-form input[type=range] {

}

.ui-form input + input[type=range] {
    border-top: none;
}

.ui-form input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    cursor: default;
    
}
.ui-form input[type=range]:focus {
  outline: none;
}
.ui-form input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: $slider-track-size;
    background-color: $line-color-dark;
    margin-top: calc($slider-thumb-size / 2);
    margin-bottom: calc($slider-thumb-size / 2);
}
.ui-form input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    background-color: $black;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin-top: calc(-$slider-thumb-size / 2 + ($slider-track-size / 2));
}
.ui-form input[type=range]:focus::-webkit-slider-runnable-track {
  
}
.ui-form input[type=range]::-moz-range-track {
    width: 100%;
    height: $slider-track-size;
    background-color: $line-color-dark;
    margin-top: calc($slider-thumb-size / 2);
    margin-bottom: calc($slider-thumb-size / 2);
}
.ui-form input[type=range]::-moz-range-thumb {
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    background-color: $black;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin-top: calc(-$slider-thumb-size / 2 + ($slider-track-size / 2));
}
.ui-form input[type=range]::-ms-track {
    color: transparent;
    width: 100%;
    height: 2px;
    background-color: $line-color-dark;
    margin-top: calc($slider-thumb-size / 2);
    margin-bottom: calc($slider-thumb-size / 2);
}
.ui-form input[type=range]::-ms-fill-lower {

}
.ui-form input[type=range]::-ms-fill-upper {

}
.ui-form input[type=range]::-ms-thumb {
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    background-color: $black;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin-top: calc(-$slider-thumb-size / 2 + ($slider-track-size / 2));
}
.ui-form input[type=range]:focus::-ms-fill-lower {

}
.ui-form input[type=range]:focus::-ms-fill-upper {

}






.ui-ab-range {
    cursor: default;
    width: 100%;
    height: $slider-track-size;
    background-color: $line-color-dark;
    margin-top: calc($slider-thumb-size / 2);
    margin-bottom: calc($slider-thumb-size / 2);
    position: relative;
    text-align: left;
}
.ui-ab-range .ui-slider-range {
    height: $slider-track-size;
    background-color: $black;
    position: absolute;

}
.ui-ab-range .ui-slider-handle {
    margin-left: calc($slider-thumb-size / -2);
    margin-top: calc(-$slider-thumb-size / 2 + ($slider-track-size / 2));
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    background-color: $black;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 0px;
}
.ui-ab-range {

}









.ui-form textarea {
    height: 5.4rem;
    resize: vertical;
}





.ui-form .ui-checkbox .checkmark {
    background-color: $page-color;
    border: $line-size solid $line-color-dark;
}




.ui-form .ui-value img {
    max-width: 20rem;
}






body.loading .ui-form * {
    pointer-events: none;
}







.ui-input-error {
    margin-top: $padding-half;
    padding: $padding-half;
    border-left: $padding-half solid $error;
    clear: both;
}









$input-and-action-actions-width: 4rem;

.ui-input-and-action {
    position: relative;
    height: 2rem;

}
.ui-input-and-action .input-group {
    position: absolute;
    left: 0px;
    right: $input-and-action-actions-width;
    top: 0px;
    height: 100%;
}
.ui-input-and-action .action-group {
    position: absolute;
    right: 0px;
    width: $input-and-action-actions-width;
    top: 0px;
    height: 100%;
}

.ui-input-and-action .input-group input {
    height: 100%;
}
.ui-input-and-action .action-group button {
    height: 100%;
    width: 50%;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
    border: $line-size solid $line-color-dark;
    border-left: none;
}
.ui-input-and-action .action-group button:hover {
    xborder-color: $highlight-color;
    xcolor: $highlight-color;
}