﻿
.ui-quickfilter { 

}
.ui-quickfilter.option-margin-bottom { 
    margin-bottom: $padding;
}

.ui-quickfilter .input-column {

}
.ui-quickfilter .tools-column {
    position: relative;
    min-width: 100px;
}
.ui-quickfilter .tools-column .ui-button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
}