﻿.ui-material {
    border-top: 1px solid $black3;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.ui-material:before {
    z-index: 1;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center center;
    border-radius: 0%;
    cursor: progress;

    transition-duration: 0.3s;
    transition-delay: 1.0s;
    transition-property: border-radius, width, height;
    transition-timing-function: ease-in-out;
    
}
.ui-material:hover:before {
    z-index: 2;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

[data-driven-by='l-rche'] .ui-material.option-natur,
[data-driven-by='l-rche'] .ui-material.option-natur:before,
.ui-material.option-l-rche,
.ui-material.option-l-rche:before,
.ui-material.option-laerche,
.ui-material.option-laerche:before {
    DEPRECATED_background-image: url('/static/file/images/materials/material-laerche.jpg');
}

.ui-material.option-eiche,
.ui-material.option-eiche:before {
    DEPRECATED_background-image: url('/static/file/images/materials/material-eiche.jpg');
}

[data-driven-by='tanne-lackiert'] .ui-material.option-natur,
[data-driven-by='tanne-lackiert'] .ui-material.option-natur:before,
.ui-material.option-tanne-lackiert,
.ui-material.option-tanne-lackiert:before,
.ui-material.option-tanne,
.ui-material.option-tanne:before {
    DEPRECATED_background-image: url('/static/file/images/materials/material-tanne.jpg');
}

[data-driven-by='natwood'] .ui-material.option-natur,
[data-driven-by='natwood'] .ui-material.option-natur:before,
.ui-material.option-natwood,
.ui-material.option-natwood:before {
    DEPRECATED_background-image: url('/static/file/images/materials/material-natwood.jpg');
}



.ui-material.option-signalrot,
.ui-material.option-signalrot:before {
    DEPRECATED_background-image: url('/static/file/images/materials/material-tanne-signalrot.jpg');
}
.ui-material.option-gr-ngrau,
.ui-material.option-gr-ngrau:before {
    DEPRECATED_background-image: url('/static/file/images/materials/material-tanne-grungrau.jpg');
}
.ui-material.option-nach-ral---ncs,
.ui-material.option-nach-ral---ncs:before {
    DEPRECATED_background-image: url('/static/file/images/materials/material-tanne-ralncs.jpg');
}

