﻿
.ui-breadcrumb { 
    list-style: none; 
    line-height: 1.3em;
    padding: 0;
}

.ui-breadcrumb li { 
    float: left; 
}
.ui-breadcrumb li a {
    font-weight: bold;
    cursor: pointer;
    color: $gray-color;
    
    border-bottom: $link-line-size solid transparent;
    transition: border-bottom-color ease-in-out $regular-transition-time;
}
.ui-breadcrumb li a:hover,
.ui-breadcrumb li a.selected,
.ui-breadcrumb li.selected a {
    color: $highlight-color;
    border-bottom-color: $highlight-color;
}
.ui-breadcrumb li:not(:last-child):after { 
    content: "/"; 
    padding-left: $padding-half;
    padding-right: $padding-half;
    pointer-events: none;
    font-weight: bold;
    color: $gray-color;
    
}	

.ui-breadcrumb.auto-select-last li:last-child a {
    color: $highlight-color;
    pointer-events: none;
}
