﻿
$splash-transition-time: 0.6s;

.ui-splash {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.ui-splash .ui-loader-and-text,
.ui-splash .ui-logo-splash {
    display: inline-block;
}

body.loading .ui-splash .ui-loader-and-text {
    opacity: 1.0;
    transition-duration: $splash-transition-time;
    transition-delay: 0.0s;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
}
body.loading .ui-splash .ui-logo-splash {
    opacity: 0.0;
    transition-duration: $splash-transition-time;
    transition-delay: $splash-transition-time;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
}


body.loaded .ui-splash .ui-loader-and-text {
    opacity: 0.0;
}
body.loaded .ui-splash .ui-logo-splash {
    opacity: 1.0;
}







.ui-logo-splash {
    width: 300px;
    height: 140px;
}
.ui-logo-splash .logo {
    background-image: url('/static/file/images/burri_logo_noclaim.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 80%;
}
.ui-logo-splash .claim {
    width: 100%;
    height: 20%;
    text-align: right;
    padding-right: 20px;
}
.ui-logo-splash .text-logo {
    width: 100%;
    height: 20%;
}
.ui-logo-splash .text-logo span,
.ui-logo-splash .claim span {
    color: $highlight-color;
    font-size: 48px;
    font-weight: bold;
    display: inline-block;
    opacity: 0.0;

    will-change: transform, opacity;
}


.ui-logo-splash.animate .text-logo span,
.ui-logo-splash.animate .claim span {
    animation-duration: 0.7s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.ui-logo-splash .claim span:nth-child(1) { animation-delay: .1s }
.ui-logo-splash .claim span:nth-child(2) { animation-delay: .15s }
.ui-logo-splash .claim span:nth-child(3) { animation-delay: .2s }
.ui-logo-splash .claim span:nth-child(4) { animation-delay: .25s }
.ui-logo-splash .claim span:nth-child(5) { animation-delay: .3s }
.ui-logo-splash .claim span:nth-child(6) { animation-delay: .35s }
.ui-logo-splash .claim span:nth-child(7) { animation-delay: .4s }
.ui-logo-splash .claim span:nth-child(8) { animation-delay: .45s }
.ui-logo-splash .claim span:nth-child(9) { animation-delay: .5s }
.ui-logo-splash .claim span:nth-child(10) { animation-delay: .55s }
.ui-logo-splash .claim span:nth-child(11) { animation-delay: .6s }
.ui-logo-splash .claim span:nth-child(12) { animation-delay: .65s }
.ui-logo-splash .claim span:nth-child(13) { animation-delay: .7s }
.ui-logo-splash .claim span:nth-child(14) { animation-delay: .75s }
.ui-logo-splash .claim span:nth-child(15) { animation-delay: .8s }
.ui-logo-splash .claim span:nth-child(16) { animation-delay: .85s }
.ui-logo-splash .claim span:nth-child(17) { animation-delay: .9s }
.ui-logo-splash .claim span:nth-child(18) { animation-delay: .95s }
.ui-logo-splash .claim span:nth-child(19) { animation-delay: 1.0s }
.ui-logo-splash .claim span:nth-child(20) { animation-delay: 1.05s }


.ui-logo-splash .text-logo span:nth-child(1) { animation-delay: .1s }
.ui-logo-splash .text-logo span:nth-child(2) { animation-delay: .15s }
.ui-logo-splash .text-logo span:nth-child(3) { animation-delay: .2s }
.ui-logo-splash .text-logo span:nth-child(4) { animation-delay: .25s }
.ui-logo-splash .text-logo span:nth-child(5) { animation-delay: .3s }
.ui-logo-splash .text-logo span:nth-child(6) { animation-delay: .35s }
.ui-logo-splash .text-logo span:nth-child(7) { animation-delay: .4s }
.ui-logo-splash .text-logo span:nth-child(8) { animation-delay: .45s }
.ui-logo-splash .text-logo span:nth-child(9) { animation-delay: .5s }
.ui-logo-splash .text-logo span:nth-child(10) { animation-delay: .55s }
.ui-logo-splash .text-logo span:nth-child(11) { animation-delay: .6s }
.ui-logo-splash .text-logo span:nth-child(12) { animation-delay: .65s }
.ui-logo-splash .text-logo span:nth-child(13) { animation-delay: .7s }
.ui-logo-splash .text-logo span:nth-child(14) { animation-delay: .75s }
.ui-logo-splash .text-logo span:nth-child(15) { animation-delay: .8s }
.ui-logo-splash .text-logo span:nth-child(16) { animation-delay: .85s }
.ui-logo-splash .text-logo span:nth-child(17) { animation-delay: .9s }
.ui-logo-splash .text-logo span:nth-child(18) { animation-delay: .95s }
.ui-logo-splash .text-logo span:nth-child(19) { animation-delay: 1.0s }
.ui-logo-splash .text-logo span:nth-child(20) { animation-delay: 1.05s }

@keyframes slidein {
    0% {
        opacity: 0.0;
        transform: scale(4.0) translateX(-16px);
    }

    40% {
        opacity: 1.0;
    }

    100% {
        transform: scale(1.0) translateX(0px);
        opacity: 1.0;
    }
}