﻿

.ui-effect-dissappear {
    opacity: 0;
    pointer-events: none;
    transition-duration: $regular-transition-time;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
}