﻿

.ui-file-panel {
    
    margin: -$padding-quarter;
}


.ui-dialog .ui-file-panel {
    width: 100%;
    height: 200px;
    overflow-y: auto;

    padding-top: $padding;
}




.ui-file-preview {
    float: left;
    width: 100px;
    height: 130px;
    overflow: hidden;
    position: relative;

    margin: $padding-quarter;

    background-color: $solid-color;
    border: $line-size solid $highlight-color;
    border-radius: $button-corner-radius;
}
.ui-file-preview.option-wide {
    width: 200px;
}

.ui-file-preview,
.ui-file-preview * {
    cursor: pointer;
}

.ui-file-preview .image {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 30px;
    background-size: cover;
    background-position: center center;

}
.ui-file-preview .meta {
    position: absolute;
    height: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;

    text-align: center;
}

.ui-file-preview .meta * {
    font-weight: bold;
    font-size: $file-preview-font-size;
    color: $text-color;

    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3px;
}



.ui-file-preview .tag {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 30px;
    line-height: 100px;
    overflow: hidden;

    text-align: center;
    font-weight: bold;
    
    text-transform: uppercase;
    color: $text-color;
}


.ui-file-preview:hover {
    background-color: $highlight-color;
}
.ui-file-preview:hover .tag,
.ui-file-preview:hover .meta * {
    color: $highlight-text-color;
}