﻿
.ui-tiles {

}



.ui-tile {
    background-color: $solid-color;
    border: $line-size solid $highlight-color;
    border-radius: $button-corner-radius;
    width: 160px;
    height: 160px;
    display: inline-block;
    margin-right: $padding;
    margin-bottom: $padding;
    position: relative;
    color: $text-color;
}
.ui-tile div.icon {
    position: absolute;
    top: 30%;
    left: 0px;
    right: 0px;
    text-align: center;
}
.ui-tile svg.icon {
    width: 3em;
    height: 3em;
}
.ui-tile .title {
    position: absolute;
    bottom: $padding-half;
    max-height: 3em;
    left: $padding-half;
    right: $padding-half;
    text-align: center;
    text-transform: none;
    padding: 0px;
    font-weight: bold;
    text-overflow: ellipsis;
    word-break: break-all;
}


.ui-tile:hover {
    background-color: $highlight-color;
    color: $highlight-text-color;
}
.ui-tile:hover .title {
    color: $highlight-text-color;
}
.ui-tile:hover svg.icon {
    fill: $highlight-text-color;
}

.ui-tile.inactive,
.ui-tile.published-false {
    opacity: 0.4;
}
.ui-tile.ui-sortable-placeholder {
    opacity: 0.1;
}