﻿



.ui-listing {
    list-style: none;
}
.ui-listing li {
    display: block;
    transition: background-color ease-in-out $quick-transition-time;
}
.ui-listing li a {
    padding-top: $padding-half;
    padding-bottom: $padding-half;
    padding-left: $padding-quarter;
    padding-right: $padding-quarter;
    display: block;
}

.ui-listing li + li,
.ui-card-actions .ui-listing li {
    border-top: $line-size solid $line-color;
}
.ui-toolbar + .ui-card-actions .ui-listing li:first-child {
    border-top: none;
}


.ui-listing li .icon {
    float: right;
    width: 1.2em;
    height: 1.2em;
    position: relative;
    left: 0px;
}

.ui-listing li:hover {
    background-color: $page-color;
}


.ui-listing li.option-next:hover .icon {
    
}



.ui-listing li.option-back .icon {
    float: left;
    margin-right: $padding-quarter;
}
.ui-listing li.option-back:hover .icon {
    
}



.ui-listing li .icon-checkmark {
    display: none;
}
.ui-listing li.option-selected .icon-checkmark,
.ui-listing li.selected .icon-checkmark,
.ui-listing li.option-checked .icon-checkmark,
.ui-listing li.checked .icon-checkmark {
    display: inline-block;
}



.ui-listing li.option-disabled {
    opacity: 0.4;
    pointer-events: none !important;
}