﻿.ui-color-swatch {
    
}

.ui-color-swatch .colors {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid $black3;
    border-top: none;
    box-sizing: border-box;
}
.ui-color-swatch .colors .color {
    height: 36px;
}
.ui-color-swatch .colors .color,
.ui-color-swatch .colors .color * {
    cursor: pointer;
}
.ui-color-swatch .colors .color.selected {
    height: 160px;
    border-left: $padding-half solid $black3;
    border-top: 1px solid $black3;
    border-bottom: 1px solid $black3;
}
.ui-color-swatch .colors .color .label {
    padding: $padding-half;
    padding-left: $padding;
}

.ui-color-swatch .ui-input {
    width: 100%;
    box-sizing: border-box;
}