﻿


.ui-documentation-page .ui-documentation .ui-documentation-item {
            
}


.ui-documentation-page pre {
    padding: 0;
    font-size: $text-size;
    overflow-x: auto;
}
.ui-documentation-page pre.no-wrap {
    white-space: pre;
}
.ui-documentation-page code {
    font-family: monospace;
    font-size: $text-size;
}




.ui-documentation-page .markdown h2 {
    font-size: $text-size;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ui-documentation-page .markdown h3 {
    font-size: $text-size;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ui-documentation-page .markdown ul,
.ui-documentation-page .markdown ol {
    list-style-position: inside;
}
.ui-documentation-page .markdown li {
    margin-left: 1rem;
}






.ui-documentation-item .ui-toolbar.option-small h2 {
    font-size: $text-size;
}


.ui-documentation-item .documentation-extension {
    margin-top: 0px;
    margin-bottom: 0px;
}


.ui-documentation-item-properties.no-summary .documentation-summary,
.ui-documentation-item-properties.no-code .documentation-code,
.ui-documentation-item-properties.no-example .documentation-example,
.ui-documentation-item-properties.no-value .documentation-value,
.ui-documentation-item-properties.no-signature .documentation-signature,
.ui-documentation-item-settings.hide-code .documentation-code,
.ui-documentation-item-settings.hide-signature .documentation-signature {
    display: none;
}


.ui-documentation-item.ui-card.option-has-sticky-toolbar .ui-documentation-item.ui-card.option-has-sticky-toolbar .ui-toolbar.option-sticky {
    position: unset !important;
    top: unset !important;
}

.ui-documentation-item.ui-card .ui-documentation-item.ui-card .ui-toolbar .tools {
    display: none !important;
}





.ui-documentation-page .documentation-toc li.collapsed + .children {
    display: none;
}

.ui-documentation-page .documentation-toc li .icon-collapse-arrow,
.ui-documentation-page .documentation-toc li .icon-expand-arrow {
    float: unset;
    position: relative;
    top: 0.2em;
    left: 0.2em;
    opacity: 0.0;
    
    transition-property: opacity;
    transition-duration: $quick-transition-time;
    transition-timing-function: ease-in-out;
}
.ui-documentation-page .documentation-toc li:hover .icon-collapse-arrow,
.ui-documentation-page .documentation-toc li:hover .icon-expand-arrow {
    opacity: 1.0;
}
.ui-documentation-page .documentation-toc li:not(.type-namespace) .icon-external-link,
.ui-documentation-page .documentation-toc li:not(.type-namespace) .icon-collapse-arrow,
.ui-documentation-page .documentation-toc li:not(.type-namespace) .icon-expand-arrow,
.ui-documentation-page .documentation-toc li:not(.collapsed) .icon-collapse-arrow,
.ui-documentation-page .documentation-toc li.collapsed .icon-expand-arrow {
    display: none;
}



.ui-documentation-page .documentation-toc li.level-1 {
    padding-left: 1rem;
}
.ui-documentation-page .documentation-toc li.level-2 {
    padding-left: 2rem;
}
.ui-documentation-page .documentation-toc li.level-3 {
    padding-left: 3rem;
}
.ui-documentation-page .documentation-toc li.level-4 {
    padding-left: 4rem;
}
.ui-documentation-page .documentation-toc li.level-5 {
    padding-left: 5rem;
}
.ui-documentation-page .documentation-toc li.level-6 {
    padding-left: 6rem;
}
.ui-documentation-page .documentation-toc li.level-7 {
    padding-left: 7rem;
}
.ui-documentation-page .documentation-toc li.level-8 {
    padding-left: 8rem;
}
.ui-documentation-page .documentation-toc li.level-9 {
    padding-left: 9rem;
}
.ui-documentation-page .documentation-toc li.level-10 {
    padding-left: 10rem;
}