﻿
.ui-thumbnails {
    clear:both;
}

.ui-thumbnail {
    background-color: $solid-color;
    float: left;
    min-width: 60px;
    min-height: 40px;
    border: 1px solid $black3;
    margin-right: $padding-half;
    margin-bottom: $padding-half;
    text-align: center;
    cursor: pointer;
}




.ui-thumbnail .label {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: $padding-half;
    padding-top: $padding;
    padding-bottom: $padding;
}



.ui-thumbnail .preview {
    cursor: pointer;
    height: 30px;
    background-color: $black3;
}



.ui-thumbnail.selected {
    background-color: $blue;
}
.ui-thumbnail.selected .label {
    color: $white;
}
.ui-thumbnail.disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;

    display: none;
}