﻿


.ui-widget-overlay {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: $z-index-overlay;
    pointer-events: none;
}





DEPRECATED_.ui-widget.ui-widget-content {
    background-color: $solid-color;
}


.ui-dialog {
    padding: $padding;
    z-index: $z-index-dialog;
    background-color: $solid-color;
    border-radius: $card-corner-radius;
}
.ui-dialog .ui-dialog-title {
    font-size: $title-size;
    font-family: $title-font;
    font-weight: bold;
    color: $highlight-color;
}
.ui-dialog .ui-dialog-titlebar {
    margin-bottom: $padding-half;
}
.ui-dialog .ui-dialog-titlebar button {
    display: none;
}


.ui-dialog .ui-dialog-content p {
    font-size: $subtitle-size;
}
.ui-dialog .ui-dialog-buttonpane {
    padding-top: $padding;
    text-align: right;
}

.ui-dialog .ui-dialog-options {
    text-align: center;
}
.ui-dialog .ui-dialog-options button {
    margin-bottom: $padding-half;
    min-width: 200px;
}


