﻿.ui-entity-card {
    margin-top: $vertical-spacing;
    margin-bottom: $vertical-spacing;
    position: relative;

    border: $line-size solid $page-color;
    border-radius: $card-corner-radius;
    padding: $padding;
    width: 100%;
    max-width: 300px;
    clear: both;
}
.ui-entity-card.option-no-max-size {
    width: auto;
    max-width: unset;
}

.ui-entity-card .entity-main {
    margin-bottom: $padding;
}
.ui-entity-card .entity-main .meta {
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    text-transform: uppercase;
    
}
.ui-entity-card .entity-main .title {
    font-size: $subtitle-size;
    font-weight: $subtitle-weight;
    margin-bottom: $padding;
}