﻿
.ui-coverpage {
    DEP_margin-left: -$container-border;
    margin-top: -$container-border;
    DEP_margin-right: -$container-border;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.ui-coverpage .media {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.ui-coverpage .media.content .text h1 {
    font-size: $cover-text-size;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.ui-coverpage .media.content .icons h1 {
    font-size: $cover-text-size;
}


.ui-coverpage .media.video {
    overflow: hidden;
}
.ui-coverpage .media.video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ui-coverpage .media.video .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.ui-coverpage.option-white-icons .media.content .icons svg {
    fill: white;
}






.ui-coverpage .trailer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
.ui-coverpage .trailer label {
    display: inline-block;
    color: $white-color;
    font-size: $subtitle-size;
    margin-bottom: $padding;
}
.ui-coverpage .trailer .down-arrow {
    
}




.ui-coverpage.option-show-fold .trailer,
.ui-coverpage.option-half .trailer {
    bottom: calc(-$symbol-size / 2);
}