﻿
.ui-card {
    margin-top: $vertical-spacing;
    margin-bottom: $vertical-spacing;
    position: relative;
    background-color: $solid-color;

    border-radius: $card-corner-radius;
}

/*
DEPRECATED: causes too many problems
.ui-card:not(.option-no-clip):not(.option-has-sticky-toolbar) {
    overflow:hidden;
}
*/


.ui-card h2 {
    margin-top: 0px;
}
.ui-card h3 {
    margin-bottom: $padding;
}



.ui-card .ui-card-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.ui-card .ui-card-image.option-slim {
    height: 100px;
}
.ui-card .ui-card-image img {
    width: 100%;
    height: auto;
    display: block;
}
.ui-card .ui-card-image.option-half img {
    width: 50%;
    height: auto;
    display: block;
    float: left;
}
.ui-card .ui-card-image.option-half img + img {
    border-left: $line-size solid $line-color;
}

.ui-card .ui-card-image.option-centered {
    text-align: center;
    padding-top: $padding-double;
}
.ui-card .ui-card-image.option-centered img {
    display: inline-block;
}
.ui-card .ui-card-image.option-logo img {
    max-width: 300px;
}
.ui-card .ui-card-image.option-small img {
    max-width: 100px;
}
 
.ui-card .ui-card-content,
.ui-card .ui-card-buttons,
.ui-card .ui-card-actions {
    padding: $padding-double;
}
.ui-card .ui-card-content.option-tight {
    padding: $padding;
}
body.tablet .ui-card .ui-card-content,
body.tablet .ui-card .ui-card-buttons,
body.tablet .ui-card .ui-card-actions {
    padding: $padding;
}
body.mobile .ui-card .ui-card-content,
body.mobile .ui-card .ui-card-buttons,
body.mobile .ui-card .ui-card-actions {
    padding: $padding;
}


.ui-card .ui-card-buttons {
    padding-top: 0px;
}
.ui-card .ui-card-buttons.option-right-aligned {
    text-align: right;
}

.ui-card .ui-card-actions.option-tight {
    padding-top: 0px;
    margin-top: -$padding-double;
}

.ui-card .ui-card-content + .ui-card-content,
.ui-card .ui-card-image + .ui-card-image {
    border-top: $line-size solid $line-color;
}

.ui-card .ui-card-actions.option-stick-to-bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}








.ui-card .ui-card-content.option-scrollable {
    overflow-y: auto;
    height: calc(100% - $padding-double);
}
body.mobile .ui-card .ui-card-content.option-scrollable,
body.tablet .ui-card .ui-card-content.option-scrollable
.ui-card .ui-card-content.option-scrollable.option-tight {
    height: calc(100% - $padding);
}



.ui-card .ui-card-content.option-tight-bottom {
    padding-bottom: 0px;
}

.ui-card .ui-card-content img {
    width: 100%;
    height: auto;
}
.ui-card .ui-card-content ul:not(.ui-listing),
.ui-card .ui-card-content li:not(.ui-listing) {
    margin-left: 0.5em;
}
.ui-card .ui-card-content ul.ui-breadcrumb,
.ui-card .ui-card-content ul.ui-breadcrumb li {
    margin-left: 0px;
}





@keyframes ui-card-flash {
    0% {background-color: $solid-color;}
    25% {background-color: $highlight-color;}
    50% {background-color: $solid-color;}
    75% {background-color: $highlight-color;}
    100% {background-color: $solid-color;}
}

.ui-card.option-flash,
.ui-card-content.option-flash {
    animation-name: ui-card-flash;
    animation-duration: 0.8s;
}






.ui-card.option-tight-bottom {
    margin-bottom: 0px;
}





.ui-card .ui-card-marginless {
    margin-top: -$padding-double;
    margin-left: -$padding-double;
    margin-right: -$padding-double;
}
body.mobile .ui-card .ui-card-marginless,
body.tablet .ui-card .ui-card-marginless {
    margin-top: -$padding;
    margin-left: -$padding;
    margin-right: -$padding;
}








.ui-card + .ui-card.option-snaps-to-top {
    margin-top: -$vertical-spacing;
    margin-top: calc(-$vertical-spacing - $card-corner-radius);
    border-top: $line-size solid $line-color;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.ui-card + .ui-card.option-snaps-to-top.option-no-separator {
    border-top: none;
}












.ui-card-container {
    margin-left: -$padding;
    margin-right: -$padding;
}
.ui-card-container .ui-card-sizer {
    border: $padding solid transparent;
    box-sizing: border-box;
}
.ui-card-container .ui-card {
    margin: 0px;
}

.ui-card-container.option-one-column .ui-card-sizer,
.ui-card-container .ui-card-sizer.option-full {
    width: 100%;
    float: left;
}


.ui-card-container.option-two-column .ui-card-sizer,
.ui-card-container .ui-card-sizer.option-half {
    width: 50%;
    float: left;
}
body.mobile .ui-card-container.option-two-column .ui-card-sizer,
body.mobile .ui-card-container .ui-card-sizer.option-half {
    width: 100%;
    float: unset;
}


.ui-card-container.option-three-column .ui-card-sizer,
.ui-card-container .ui-card-sizer.option-third {
    width: 33.33333333%;
    float: left;
}
body.tablet .ui-card-container.option-three-column .ui-card-sizer,
body.tablet .ui-card-container .ui-card-sizer.option-third {
    width: 50%;
    float: left;
}
body.mobile .ui-card-container.option-three-column .ui-card-sizer,
body.mobile .ui-card-container .ui-card-sizer.option-third {
    width: 100%;
    float: unset;
}


.ui-card-container.option-four-column .ui-card-sizer,
.ui-card-container .ui-card-sizer.option-quarter {
    width: 25%;
    float: left;
}
body.tablet .ui-card-container.option-four-column .ui-card-sizer,
body.tablet .ui-card-container .ui-card-sizer.option-quarter {
    width: 50%;
    float: left;
}
body.mobile .ui-card-container.option-four-column .ui-card-sizer,
body.mobile .ui-card-container .ui-card-sizer.option-quarter {
    width: 100%;
    float: unset;
}







.ui-card.option-gray {
    background-color: $page-color;
}
.ui-card.option-gray .ui-toolbar {
    border-bottom-color: $text-color;
    background-color: $page-color;
}
.ui-card.option-gray .ui-toolbar .ui-button:not(:hover) {
    background-color: $page-color;
}
.ui-card.option-gray .ui-toolbar .ui-button {
    border-bottom-color: $text-color;
}