﻿
.ui-content-editor {

}


.ui-content-editor .translations {
    display: table;
    width: 100%;
}
.ui-content-editor .content-translation {
    display: table-cell;
    min-width: 200px;
}
.ui-content-editor .content-translation .only-if-toggled {

}
.ui-content-editor .content-translation.toggled .only-if-toggled {
    display: block;
}

.ui-content-editor .content-translation.padded {
    padding-left: $padding;
}

.ui-content-editor .content-translation .page-title {
    
}





.ui-content-editor .content-translation .content-types {
    opacity: 0.0;

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.ui-content-editor .content-translation:hover .content-types {
    opacity: 1.0;
}




.ui-content-editor .content-node {
    margin-top: $padding-half;
    margin-bottom: $padding-half;
    background-color: $barely-visible-color;
    --margin-top: $padding-half;
    margin-bottom: $padding;
}
.ui-content-editor .content-node.placeholder {
    background-color: $highlight-color;
    height: $padding;
}
table.table td.input .ui-content-editor .content-node {
    background-color: $translucent-color;
}
.ui-content-editor .content-node.ui-sortable-helper {
    border: 1px solid $text-color;
    background-color: $page-color;
}
.ui-content-editor .content-node .wrapper {
    display: table;
    width: 100%;
}


.ui-content-editor .content-node .handle {
    display: table-cell;
    width: $padding;
    border-left: $padding-half solid $text-color;
    cursor: move;
    opacity: 0.0;

    transition-property: background-color,border-left-color,opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.ui-content-editor .content-translation:hover .content-node .handle {
    opacity: 0.4;
}
.ui-content-editor .content-translation:hover .content-node:hover .handle {
    opacity: 1.0;
}
.ui-content-editor .content-node .handle:hover {
    border-left-color: $highlight-color;
    opacity: 1.0;
}
.ui-content-editor .content-node .contents {
    display: table-cell;
}
.ui-content-editor .content-node .contents .content-type {
    clear:both;
    margin-bottom: $padding;
    border-bottom: 1px dashed $text-color;
    margin-right: $padding;
}
.ui-content-editor .content-node .contents .content-type span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}
.ui-content-editor .content-node .contents .content-type .ui-button {

    float: right;
    margin-left: $padding-half;
    
    opacity: 0.0;

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.ui-content-editor .content-node:hover .contents .content-type .ui-button {
    opacity: 1.0;
}

.ui-content-editor .content-node .contents .content-value {
    min-height: 30px;
    margin-right: $padding;
}


.ui-content-editor .content-node .content-value .label {
    font-weight: bold;
    font-size: 12px;
    position: relative;
}

.ui-content-editor .content-node .content-value input,
.ui-content-editor .content-node .content-value textarea {
    padding-left: 0px;
}
.ui-content-editor .content-node .content-value input.no-ui,
.ui-content-editor .content-node .content-value textarea.no-ui {
    border: 0px;
    background-color: transparent;
    cursor: text;
    width: 100%;
}
.ui-content-editor .content-node .content-value input.no-padding,
.ui-content-editor .content-node .content-value textarea.no-padding {
    
}
.ui-content-editor .content-node .content-value input.no-ui:hover,
.ui-content-editor .content-node .content-value textarea.no-ui:hover {
    background-color: transparent;
}
.ui-content-editor .content-node .content-value textarea {
    resize: vertical;
    min-height: 60px;
}








.ui-content-editor .content-node.type-html .content-value p,
.ui-content-editor .content-node.type-html .content-value h1,
.ui-content-editor .content-node.type-html .content-value h2,
.ui-content-editor .content-node.type-html .content-value h3,
.ui-content-editor .content-node.type-html .content-value h4,
.ui-content-editor .content-node.type-html .content-value ul,
.ui-content-editor .content-node.type-html .content-value ol {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 0px;
    padding-bottom: 0px;

    
}

.ui-content-editor .content-node.type-html .content-value ol,
.ui-content-editor .content-node.type-html .content-value ul {
    padding-left: 20px;
}

.ui-content-editor .content-node.type-html .content-value p,
.ui-content-editor .content-node.type-html .content-value p * {
    font-size: 16px;
}
.ui-content-editor .content-node.type-html .content-value h1,
.ui-content-editor .content-node.type-html .content-value h1 * {
    font-size: 30px;
    font-weight: bold;
}
.ui-content-editor .content-node.type-html .content-value h2,
.ui-content-editor .content-node.type-html .content-value h2 * {
    font-size: 22px;
    font-weight: bold;
}
.ui-content-editor .content-node.type-html .content-value h3,
.ui-content-editor .content-node.type-html .content-value h3 * {
    font-size: 18px;
    font-weight: bold;
}
.ui-content-editor .content-node.type-html .content-value h4,
.ui-content-editor .content-node.type-html .content-value h4 * {
    font-size: 16px;
    font-weight: bold;
}

.ui-content-editor .content-node.type-html .content-value b,
.ui-content-editor .content-node.type-html .content-value b * {
    font-weight: bold;
}

.ui-content-editor .content-node.type-html .content-value a {
    text-decoration: none;
}

.ui-content-editor .content-node.type-html .content-value a:after,
.ui-content-editor .content-node.type-html .content-value p:after,
.ui-content-editor .content-node.type-html .content-value h1:after,
.ui-content-editor .content-node.type-html .content-value h2:after,
.ui-content-editor .content-node.type-html .content-value h3:after,
.ui-content-editor .content-node.type-html .content-value h4:after,
.ui-content-editor .content-node.type-html .content-value ul:after,
.ui-content-editor .content-node.type-html .content-value ol:after {
    font-size: 10px;
    font-weight: normal;
    opacity: 0.0;
    border: 0;
    text-decoration: none;

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.ui-content-editor .content-node.type-html:hover .content-value a:after,
.ui-content-editor .content-node.type-html:hover .content-value p:after,
.ui-content-editor .content-node.type-html:hover .content-value h1:after,
.ui-content-editor .content-node.type-html:hover .content-value h2:after,
.ui-content-editor .content-node.type-html:hover .content-value h3:after,
.ui-content-editor .content-node.type-html:hover .content-value h4:after,
.ui-content-editor .content-node.type-html:hover .content-value ul:after,
.ui-content-editor .content-node.type-html:hover .content-value ol:after {
    opacity: 1.0;
}

DEP_.ui-content-editor .content-node.type-html .content-value a:after {
    content: " link";
}
.ui-content-editor .content-node.type-html .content-value p:after {
    content: " paragraph";
}
.ui-content-editor .content-node.type-html .content-value h1:after {
    content: " title";
}
.ui-content-editor .content-node.type-html .content-value h2:after {
    content: " subtitle";
}
.ui-content-editor .content-node.type-html .content-value h3:after {
    content: " heading";
}
.ui-content-editor .content-node.type-html .content-value ul:after {
    content: " list";
}
.ui-content-editor .content-node.type-html .content-value ol:after {
    content: " list";
}




.ui-content-editor .content-node.type-title .content-value input {
    font-size: 22px;
    font-weight: bold;
}
.ui-content-editor .content-node.type-desc .content-value input {
    font-weight: normal;
    font-style: italic;
}
.ui-content-editor .content-node.type-embed .content-value input,
.ui-content-editor .content-node.type-embed .content-value textarea {
    font-family: monospace;
}






.ui-content-editor .content-node.type-html .content-value {
    position: relative; /* required for the bubble */
}




.ui-content-editor .content-node.type-html .content-value .notebook img,
.ui-content-editor .content-node.type-thumb .content-value img,
.ui-content-editor .content-node.type-image .content-value img,
.ui-content-editor .content-node.type-video .content-value img,
.ui-content-editor .content-node.type-meta .content-value img {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.ui-content-editor .content-node.type-meta .content-value img {
    min-width: 60px;
    min-height: 60px;
    max-width: 400px;
    max-height: 300px;
    margin-top: 4px;
}

.ui-content-editor .content-node.type-video .content-value .file-preview {
    margin-top: 4px;
    margin-right: 4px;
    display: inline-block;
}





















/* jQuery Notebook */

.ui-content-editor .jquery-notebook.editor {
    position: relative;
    outline: none;
    min-height: 1.2em;
}

.ui-content-editor .jquery-notebook.bubble {
    position: absolute;
    z-index: 2000;
    opacity: 1;
    height: auto;
    left: 0;
    top: 0;
    opacity: 0;
    background: $highlight-color;
    transition: 0.15s ease-in-out;
    border: 1px solid $highlight-text-color;
    border-radius: $tooltip-corner-radius;
}

.ui-content-editor .jquery-notebook.bubble.active {
    opacity: 1;
}

.ui-content-editor .jquery-notebook.bubble.jump {
    transition: opacity 0.15s;
}

.ui-content-editor .jquery-notebook.bubble:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -9px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    background: $highlight-color;
    border-bottom: 1px solid $highlight-text-color;
    border-right: 1px solid $highlight-text-color;
}

.ui-content-editor .jquery-notebook.bubble .helper-text {
    color: $highlight-text-color;
    font-size: $subtitle-size;
    font-weight: bold;
    text-align: center;
    padding-top: $padding-half;
    padding-bottom: $padding-half;
}

.ui-content-editor .jquery-notebook.bubble ul {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 8px !important;
    padding-right: 8px;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
}

.ui-content-editor .jquery-notebook.bubble ul li {
    display: inline;
    margin: 0 !important;
}

.ui-content-editor .jquery-notebook.bubble button {
    margin: 0;
    outline: none;
    border: none;
    background: transparent;
    width: auto;
    min-width: $symbol-size-micro;
    height: $symbol-size-micro;
    line-height: $symbol-size-micro;
    color: $highlight-text-color;
    cursor: pointer;
    border-radius: $button-corner-radius;
}
.ui-content-editor .jquery-notebook.bubble button svg {
    position: relative;
    top: 3px;
    cursor: pointer;
    fill: $highlight-text-color;
}

.ui-content-editor .jquery-notebook.bubble button.active,
.ui-content-editor .jquery-notebook.bubble button:hover {
    color: $highlight-color;
    background-color: $highlight-text-color;
}

.ui-content-editor .jquery-notebook.bubble button.active svg,
.ui-content-editor .jquery-notebook.bubble button:hover svg {
    fill: $highlight-color;
}

.ui-content-editor .jquery-notebook.bubble button.cmd-sep {
    font-weight: normal;
    color: $page-text-color;
    cursor: default;
    pointer-events: none;
    min-width: calc($symbol-size-micro / 2);
}

.ui-content-editor .jquery-notebook .link-area {
    display: none;
}

.ui-content-editor .jquery-notebook-content {
    width: 100px;
}

