﻿<!--<li><a href="/admin/courses/types">{text.types}<span class="icon icon-info-large"></span></a></li>-->

<a class="ui-tile" href="/admin/courses/types">
    <div class="icon">{icon.info}</div>
    <div class="title">{text.types}</div>
</a>