﻿<!--<li><a href="/admin/courses/curricula">{text.curricula}<span class="icon icon-document-text"></span></a></li>-->

<a class="ui-tile" href="/admin/courses/curricula">
    <div class="icon">{icon.document}</div>
    <div class="title">{text.curricula}</div>
</a>