﻿<!--<li><a href="/admin/courses/list">{text.courses}<span class="icon icon-mortar-board"></span></a></li>-->

<a class="ui-tile" href="/admin/courses/list">
    <div class="icon">{icon.course}</div>
    <div class="title">{text.courses}</div>
</a>