﻿{email.head}
{email.header}


<p>Hi {user.name}, </p> <br />


<p>The costs of '{project.business.name}: {project.name}' have reached {budget.percent-used} of its external budget.</p><br />
<p><a href={public-url}/admin/projects/project/{project.path}>Open Project</a></p>
{email.footer}