﻿/*
/// <summary>
/// Definitions for the header of the website 
/// </summary>
/// <namespace></namespace>
/// <name>Header</name>
/// <type>namespace</type>
*/
/* ==== Header ==== */
#header {
  
}

/*
/// <summary>
/// This the first rule after namespace
/// </summary>
*/
#header,
#second-line .sub .test,
.third-line .sub .test {
    width: 100%;
    height: $header-height-large;
    background-color: $solid-color;
    position: fixed;
    z-index: $z-index-header;
    color: $white-color;

    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  
}


/*
/// <summary>
/// This is a rule with multiple lines name
/// </summary>
*/
body.page-scrolled #header,
body.menu-open #header{
    height: $header-height;
   
}

#header a {
    color: $white-color;
}

/*
/// <summary>
/// This is a rule with multiple selectors in one line
/// </summary>
*/
#header a:hover, #header .icon:hover:before {
    color: $highlight-color;
    text-decoration: none;
}

#header .padding {
    padding-top: 52px;
    padding-left: 26px;
    padding-right: 26px;

    transition-property: padding-top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

body.page-scrolled #header .padding,
body.menu-open #header .padding {
    padding-top: 30px;
    padding-left: 26px;
    padding-right: 26px;
}

#header .left {
    position: absolute;
    height: 100%;
    width: 40%;
    left: 0%;
    text-align: left;
}
#header .right {
    position: absolute;
    height: 100%;
    width: 40%;
    right: 0%;
    text-align: right;
}


#header .middle {
    position: absolute;
    height: 100%;
    width: 20%;
    left: 40%;
    text-align: center;
}

body.mobile #header .middle {
    position: absolute;
    height: 100%;
    width: 40%;
    left: 30%;
    text-align: center;
}

/*
/// <summary>
/// Definitions for the dummy namespace
/// </summary>
/// <namespace></namespace>
/// <name>Dummy</name>
/// <type>namespace</type>
*/
/* ==== Dummy ==== */
#dummy {
  
}

/*
/// <summary>
///  This is in a new namespace
/// </summary>
/// <param name="param1">The first parameter</param>
/// <param name="param2">The second parameter</param>
/// <returns>the new tracker</returns>
/// <inherits>nothing</inherits>
/// <deprecated>deprecated value</deprecated>
/// <example>false</example>
/// <value>val</value>
*/
#dummy .left .logo,
.test, .dummy, a{
    display: inline-block;
   
    width: 100px;
    height: 109px;
    position: relative;
    top: 6px;
    background-image: url($cdn-url/static/file/images/pcp_logo_black.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    transition-property: height,width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  
}

body.page-scrolled #header .middle .logo,
body.menu-open #header .middle .logo{
    width: 61px;
    height: 66px;
}

#header .middle .logo:hover {
    background-image: url($cdn-url/static/file/images/wf_logo_weiss.png);
}


#header .text-link {
    text-decoration: none;
    font-size: $button-text-size;
}

#headerpusher {
    height: $header-height-large;
}

/*
/// <summary>
/// This is a media query rule
/// </summary>
*/
@media (max-width: 900px) { 
    body.tablet .main-menu .section-bestseller,
    body.tablet .main-menu .section-social-media {
        display: none;
    }
}

body.page-scrolled #headerpusher,
body.menu-open #headerpusher {
    height: $header-height;
}
body.header-is-covered #headerpusher {
    display: none;
}

 /*language buttons*/

 #languagebuttons {
    position: absolute;
    top: 50px;
    right: 84px;

    transition-property: top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}


 body.page-scrolled #languagebuttons,
 body.menu-open #languagebuttons {
    position: absolute;
    top: 28px;
    right: 84px;
}

#languagebuttons div {
   display: inline;
   margin-top: $padding-half;
   margin-right: $padding-half;
}

#languagebuttons a {
    text-decoration: none;
    font-size: $button-text-size;
}

body.lang-de #languagebuttons .language-de a,
body.lang-en #languagebuttons .language-en a,
body.lang-de #menu .section-lang .language-de,
body.lang-en #menu .section-lang .language-en{
   border-bottom: $line-size solid $white-color;
}



body.tablet-or-mobile #menu .section-lang a {
    font-size: 1.4em;
    font-weight: normal;
}

body.mobile #menu .section-lang {
    display: inherit;
}

body.mobile #languagebuttons {
    display: none;
}