﻿<a href="/admin/projects/project/event/{entity.project-path}/{entity.public-id}">
    <div class="micro-card">
        <div class="meta">{entity.business.title} {text.event}</div>
        <div class="title">{entity.title}</div>
        <div class="subtitle">{entity.description}</div>
    </div>
</a>