﻿<a href="/admin/projects/project/task/{entity.project-path}/{entity.public-id}">
    <div class="micro-card">
        <div class="meta">{text.project-task}</div>
        <div class="title">{entity.description}</div>
        <div class="subtitle">{entity.note}</div>
    </div>
</a>