﻿<!--<li><a href="/admin/mailing/lists">{text.lists=Lists}<span class="icon icon-group"></span></a></li>-->

<a class="ui-tile" href="/admin/mailing/lists">
    <div class="icon">{icon.group}</div>
    <div class="title">{text.lists=Lists}</div>
</a>