﻿<!--<li><a href="/admin/mailing/mailings">{text.mailings=Mailings}<span class="icon icon-mail"></span></a></li>-->

<a class="ui-tile" href="/admin/mailing/mailings">
    <div class="icon">{icon.new-post}</div>
    <div class="title">{text.mailings=Mailings}</div>
</a>