﻿.ui-icon,
.ui-widget-header .ui-icon,
.ui-widget-content .ui-icon,
.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-button:hover .ui-icon,.ui-button:focus .ui-icon,
.ui-state-active .ui-icon,.ui-button:active .ui-icon,
.ui-state-highlight .ui-icon,.ui-button .ui-state-highlight.ui-icon,
.ui-button .ui-icon { 
     background-image: url(/static/file/img/ui-icons_ffffff_256x240.png);
 } 
.ui-state-error .ui-icon,.ui-state-error-text .ui-icon { 
     background-image: url(/static/file/img/ui-icons_ffffff_256x240.png);
 }


.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
.ui-state-hover:not(.ui-checkboxradio-icon),
.ui-widget-content .ui-state-hover, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
    background-color: $highlight-color;
    background-image: $highlight-pattern;
    background-attachment: fixed;
    background-size: auto auto; /* pattern */
    color: $highlight-text-color;
}
.ui-state-hover:not(.ui-checkboxradio-icon),
.ui-widget-content .ui-state-hover, 
.ui-button.ui-state-active:hover {
    background-image: $highlight-pattern-animated;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default,
 .ui-button {
    background-color: $solid-color;
    color: $solid-text-color;
}

.ui-widget-header {
    border: none;
    background: $solid-color;
}


.ui-button:hover,
.ui-button.selected {
    background: $highlight-color;
    background-image: $highlight-pattern;
    background-attachment: fixed;
    background-size: auto auto; /* pattern */
    color: $highlight-text-color !important;
}
.ui-button:hover {
    background-image: $highlight-pattern-animated;
}

.ui-widget.ui-widget-content {
    border: 1px solid $border-color;
}

.ui-visual-focus {
    box-shadow: inherit;
}

.ui-button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.ui-button,
.ui-accordion-header,
.ui-tabs-anchor,
.ui-datepicker-title,
.ui-datepicker-title *,
.ui-selectmenu-text,
.ui-menu-item-wrapper,
.ui-spinner-input {
    font-size: 12px !important;
    font-weight: bold !important;
}

.ui-button,
.ui-accordion-header,
.ui-tabs-anchor,
.ui-datepicker-title,
.ui-datepicker-title *,
.ui-spinner-input {
    text-transform: uppercase;
}

.ui-dialog-title,
.ui-datepicker-title,
.ui-datepicker-title *,
.ui-selectmenu-text {
    color: $white-color;
}

.xxxui-datepicker {
    background-color: $barely-visible-color;
}

.ui-datepicker td a,
.ui-datepicker td span,
.ui-datepicker th span {
    font-weight: bold !important;
    font-size: 12px;
}



.ui-spinner {
    background-color: $solid-color;
}
.ui-spinner:hover {
    background-color: $highlight-color;
    color: $highlight-text-color;
}

.ui-spinner-input {
    color: $white-color;
}
.ui-spinner-input:hover {
    background-color: inherit;
    border: none;
}

.ui-dialog-titlebar button {
    display:none;
}

.ui-widget-overlay {
    background-color: rgba(0,0,0,0.4);
    z-index: 9999 !important;
    opacity: inherit;
}
.ui-dialog {
    padding: $padding;
}
.ui-dialog,
.ui-dialog .ui-dialog-buttonpane {
    background-color: $solid-color;
}
.ui-dialog,
.ui-dialog *,
.ui-dialog .ui-dialog-buttonpane {
    color: $white-color;
}
.ui-dialog .ui-dialog-titlebar {
    xborder-bottom: 1px solid $white-color;
    padding: 0px;
}
.ui-dialog .ui-dialog-title {
    margin: 0px;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: bold;
}
.ui-dialog .ui-dialog-content {
    margin-top: 8px;
    margin-bottom: 8px;
}
.ui-dialog .ui-dialog-content,
.ui-dialog .ui-dialog-content p {
    padding: 0px;
    font-weight: bold;
    font-size: 14px;
}
.ui-dialog .ui-dialog-buttonpane {
    padding: 0px;
}
.ui-dialog .ui-dialog-buttonpane button {
    margin-left: 8px;
    margin-right: 0px;
}

.ui-draggable-handle,
.ui-draggable-handle * {
    cursor: move !important;
}

.ui-menu .ui-menu-item {
    background-color: $solid-color;
    color: white;
}
.ui-menu-item-wrapper {
    color: white;
}



.ui-checkboxradio-label {
    background-color: transparent;
}
.ui-checkboxradio-label .ui-icon-background {
    box-shadow: none;
    background-color: transparent;
}
.ui-checkboxradio-label.ui-icon-check .ui-icon-background {
    box-shadow: none;
    border-radius: inherit;
    border: none;
}
.ui-checkboxradio-icon.ui-icon-check {
    background-image: url(/static/file/img/ui-icons_ffffff_256x240.png) !important;
}



.ui-checkboxradio-radio-label .ui-icon-background {
    width: 14px;
    height: 14px;
    border: $solid-color;
    border-width: 4px;
    background-color: $solid-color;
}
.ui-checkboxradio-radio-label .ui-icon-background.ui-icon-blank {
    background-color: transparent;
}

.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon, 
.ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
    width: 14px;
    height: 14px;
    border: $white-color;
    border-width: 4px;
}
.ui-checkboxradio-radio-label:hover .ui-icon-background {
    background-color: $higlight-color !important;
}
.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon {
    background-color: $highlight-text-color !important;
}

.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon-background {
    background-color: $white-color;
}


.ui-button.no-ui {
    padding: 0px;
}




.ui-progressbar {
    background-color: $solid-color;
}
.ui-progressbar-value {
    background-color: $highlight-color;
}












.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input { background: none; color: inherit; border: none; outline: none; xborder-bottom: solid 1px #555; width: 95%; }
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus { xxxxborder-bottom-color: #aaa; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time, 
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd, 
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }


.ui-timepicker-div .ui-time-buttons {
    max-height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ui-timepicker-div .ui-time-buttons button {
    width: 100%;
}



.ui-datepicker-inline,
.ui-datepicker-buttonpane {
    background-color: transparent;
    border: none;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: 0px;
}

.ui-datepicker .ui-datepicker-today a {
    background-color: $solid-color;
    color: $highlight-color;
}
.ui-datepicker .ui-datepicker-current-day a,
.ui-datepicker .ui-datepicker-today:hover a {
    background-color: $highlight-color;
    color: $highlight-text-color !important;
}

.ui-datepicker .ui-datepicker-buttonpane {
    margin: 0px;
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    margin: 0px;
    margin-bottom: 4px;
}

.ui-dialog .ui-datepicker-inline {
    border: none;
    width: 100%;
    padding: 0px;
}

.ui-dialog .ui-datepicker-inline .ui-timepicker-div {
    max-width: 300px;
}

.ui-dialog option {
    color: black;
}