﻿
.content-editor {

}


.content-editor .translations {
    display: table;
    width: 100%;
}
.content-editor .content-translation {
    display: table-cell;
}
.content-editor .content-translation .only-if-toggled {
    xdisplay: none;
}
.content-editor .content-translation.toggled .only-if-toggled {
    display: block;
}

.content-editor .content-translation.padded {
    padding-left: $padding;
}

.content-editor .content-translation .page-title {
    margin-top: $padding-half;
    background-color: $solid-color;
    color: $white-color;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}




.content-editor .content-node {
    padding: $padding-half;
    background-color: $barely-visible-color;
    --margin-top: $padding-half;
    --margin-bottom: $padding-half;
}
.content-editor .content-node.placeholder {
    background-color: $highlight-color;
}
table.table td.input .content-editor .content-node {
    background-color: $translucent-color;
}
.content-editor .content-node.ui-sortable-helper {
    border: 1px solid $solid-color;
}
.content-editor .content-node .wrapper {
    display: table;
    width: 100%;
}
.content-editor .content-node .faded,
.content-editor .show-on-editor-focus,
td.input .content-editor .show-on-input-editor-focus,
.content-editor .content-translation .show-on-translation-focus {
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.content-editor .content-translation:hover .content-node .faded {
    opacity: 0.4;
}
.content-editor .content-translation:hover .content-node:hover .faded,
.content-editor .content-translation:hover .show-on-translation-focus,
.content-editor:hover .show-on-editor-focus,
td.input .content-editor:hover .show-on-input-editor-focus {
    opacity: 1.0;
}
.content-editor .content-node .handle {
    display: table-cell;
    width: $padding;
    cursor: move;
    background-color: $solid-color;
    transition-property: background-color,opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.content-editor .content-node .handle:hover {
    background-color: $highlight-color;
}
.content-editor .content-node .contents {
    display: table-cell;
    padding-left: $padding-half;
}
.content-editor .content-node .contents .content-type,
.content-editor .content-node .contents .content-type span,
.content-editor .content-node .contents .content-type xbutton {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    height: 18px;
}
.content-editor .content-node .contents .content-type .bb-button {
    padding: 1px;
    float: right;
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    background-color: transparent;
    color: $solid-color;
    border: none;
    font-size: 16px;
}
.content-editor .content-node .contents .content-type .bb-button:hover {
    background-color: $highlight-color;
    color: $highlight-text-color;
}
.content-editor .content-node .contents .content-type .bb-button.icon::before {
    left: 0px;
    top: -5px;
    position: relative;
}
.content-editor .content-node .contents .content-value {
    min-height: 30px;
}


.content-editor .content-node .content-value .label {
    font-weight: bold;
    font-size: 12px;
    position: relative;
}

.content-editor .content-node .content-value input {
    padding-left: 0px;
}
.content-editor .content-node .content-value input.no-ui {
    border: 0px;
    background-color: transparent;
    cursor: text;
}
.content-editor .content-node .content-value input.no-padding {
    
}
.content-editor .content-node .content-value input.no-ui:hover {
    background-color: transparent;
}






.content-editor .content-node.type-html .content-value .rich-text {
    padding-left: 8px;
}

.content-editor .content-node.type-html .content-value .rich-text a,
table.table td .content .node.rich-text a {
    text-decoration: underline;
    font-size: 1em;
}
    



.content-editor .content-node.type-html .content-value p,
.content-editor .content-node.type-html .content-value h1,
.content-editor .content-node.type-html .content-value h2,
.content-editor .content-node.type-html .content-value h3,
.content-editor .content-node.type-html .content-value h4,
.content-editor .content-node.type-html .content-value ul,
.content-editor .content-node.type-html .content-value ol {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    border-left: 1px dotted transparent;

    transition-property: border-left;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.content-editor .content-node.type-html:hover .content-value p,
.content-editor .content-node.type-html:hover .content-value h1,
.content-editor .content-node.type-html:hover .content-value h2,
.content-editor .content-node.type-html:hover .content-value h3,
.content-editor .content-node.type-html:hover .content-value h4,
.content-editor .content-node.type-html:hover .content-value ol,
.content-editor .content-node.type-html:hover .content-value ul {
    border-left: 1px dotted $solid-color;
}

.content-editor .content-node.type-html .content-value ol,
.content-editor .content-node.type-html .content-value ul {
    padding-left: 20px;
}

.content-editor .content-node.type-html .content-value p,
.content-editor .content-node.type-html .content-value p * {
    font-size: 16px;
}
.content-editor .content-node.type-html .content-value h1,
.content-editor .content-node.type-html .content-value h1 * {
    font-size: 30px;
    font-weight: bold;
}
.content-editor .content-node.type-html .content-value h2,
.content-editor .content-node.type-html .content-value h2 * {
    font-size: 22px;
    font-weight: bold;
}
.content-editor .content-node.type-html .content-value h3,
.content-editor .content-node.type-html .content-value h3 * {
    font-size: 18px;
    font-weight: bold;
}
.content-editor .content-node.type-html .content-value h4,
.content-editor .content-node.type-html .content-value h4 * {
    font-size: 16px;
    font-weight: bold;
}
.content-editor .content-node.type-html .content-value a::after {
    content: "link";
    font-size: 10px;
    font-weight: normal;
    position: relative;
    top: -6px;
    text-decoration: none !important;
}

.content-editor .content-node.type-html .content-value p:before,
.content-editor .content-node.type-html .content-value h1:before,
.content-editor .content-node.type-html .content-value h2:before,
.content-editor .content-node.type-html .content-value h3:before,
.content-editor .content-node.type-html .content-value h4:before,
.content-editor .content-node.type-html .content-value ul:before,
.content-editor .content-node.type-html .content-value ol:before {
    font-size: 10px;
    font-weight: normal;
    position: absolute;
    left: -8px;
    top: 0px;
    opacity: 0.0;

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.content-editor .content-node.type-html:hover .content-value p:before,
.content-editor .content-node.type-html:hover .content-value h1:before,
.content-editor .content-node.type-html:hover .content-value h2:before,
.content-editor .content-node.type-html:hover .content-value h3:before,
.content-editor .content-node.type-html:hover .content-value h4:before,
.content-editor .content-node.type-html:hover .content-value ul:before,
.content-editor .content-node.type-html:hover .content-value ol:before {
    opacity: 1.0;
}

.content-editor .content-node.type-html .content-value p:before {
    content: 'p';
    top: 6px;
}
.content-editor .content-node.type-html .content-value :not(.bubble) ul:before {
    content: 'ul';
    top: 6px;
    left: -11px;
}
.content-editor .content-node.type-html .content-value ol:before {
    content: 'ol';
    top: 6px;
    left: -11px;
}
.content-editor .content-node.type-html .content-value h1:before {
    content: 'T';
    font-weight: bold;
    top: 21px;
}
.content-editor .content-node.type-html .content-value h2:before {
    content: 't';
    font-weight: bold;
    top: 13px;
}




.content-editor .content-node.type-title .content-value input {
    font-size: 22px;
    font-weight: bold;
}
.content-editor .content-node.type-desc .content-value input {
    font-weight: normal;
    font-style: italic;
}
.content-editor .content-node.type-embed .content-value input {
    font-family: monospace;
}


.content-editor .content-node.type-html .content-value .notebook img,
.content-editor .content-node.type-thumb .content-value img,
.content-editor .content-node.type-image .content-value img,
.content-editor .content-node.type-video .content-value img,
.content-editor .content-node.type-meta .content-value img {
    max-width: 800px;
    max-height: 400px;
}

.content-editor .content-node.type-meta .content-value img {
    min-width: 60px;
    min-height: 60px;
    max-width: 400px;
    max-height: 300px;
    margin-top: 4px;
}

.content-editor .content-node.type-video .content-value .file-preview {
    margin-top: 4px;
    margin-right: 4px;
    display: inline-block;
}


table.table td .content-node .rich-text a,
table.table td .content .node.rich-text a {
    display: unset;
}



/* Rich Text */

.rich-text b,
.rich-text b *,
.rich-text strong,
.rich-text strong * {
    font-weight: bold;
}
.rich-text i,
.rich-text i * {
    font-style: italic;
}









/* File Previews */

.file-preview {
    width: 80px;
    height: 80px;
    position: relative;
    background-color: $solid-color;
}
.file-preview.margin-top {
    margin-top: $padding-half;
}
.file-preview.margin-bottom {
    margin-bottom: $padding-half;
}
.file-preview.category-other {
    width: 256px;
}
.file-preview.category-page {
    width: 128px;
    height: 128px;
}
.file-preview.category-image .meta {
    display: none;
}
.file-preview.category-product {
    width: 256px;
    height: 128px;
}

.file-preview .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.file-preview .name {
    width: 100%;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 4px;
    color: $white-color;
    text-overflow: ellipsis;
    word-break: break-all;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
}
.file-preview .tag {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: $white-color;
    position: absolute;
    top: 9px;
    left: 6px;
}
.file-preview .ext {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    position: absolute;
    padding-top: 12px;
    top: 0px;
    left: 0px;
    color: $white-color;
}
.file-preview .path,
.file-preview .meta {
    width: 100%;
    overflow: hidden;
    position: absolute;
    padding-top: 28px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: $white-color;
    box-sizing: border-box;
}
.file-preview .meta div {
    color: $white-color;
}
.file-preview .meta .meta-name {
    font-weight: bold;
}
.file-preview .icon {
    color: $white-color;
    position: absolute;
    top: 4px;
    left: 4px;

    display: none;
}


.file-preview.category-other {
}






.content-file-browser {
    
}

.content-file-browser .filter {
    margin-bottom: $padding;
}

.content-file-browser .content-files {
    width: 600px;
    max-width: 600px;
    height: 400px;
    max-height: 300px;
    overflow: auto;
}

.content-file-browser .content-files .file-preview {
    margin-right: $padding-half;
    margin-bottom: $padding-half;
    background-color: $solid-text-color;
    float: left;
    
    background-color: $solid-color;
    outline: 1px solid $solid-text-color;
    outline-offset: -1px;
    
    transition-property: none;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}
.content-file-browser .content-files .file-preview * {
    color: $solid-color;

    color: $solid-text-color;
}


.content-file-browser .content-files .file-preview,
.content-file-browser .content-files .file-preview * {
    cursor: pointer;
}
.content-file-browser .content-files .file-preview:hover {
    DEPRECATED_outline: 2px solid $highlight-color;
    DEPRECATED_outline-offset: -2px;
    DEPRECATED_background-color: $solid-color;

    outline-color: transparent;
    background-color: $highlight-color;
    background-image: $highlight-pattern-animated;
    background-attachment: fixed;
    background-size: auto auto; /* pattern */
}
.content-file-browser .content-files .file-preview:hover * {
    color: $highlight-text-color;
}
.content-file-browser .content-files .file-preview:hover .image {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    position: absolute;
    width: unset;
    height: unset;
}




