﻿
.bb-dialog {
    min-height: 60px;
    min-width: 300px; 
}
.bb-dialog.wide {
    min-width: 400px;
    max-width: 600px;
    max-height: 600px;
}


.bb-dialog .qrcode img {
    width: 100%;
    height: auto;
}