﻿
.pagination { 
    list-style: none; 
    overflow: hidden; 
    padding: 0;
    height: 28px;
    background-color: $solid-color;
}
.pagination.auto-select-last { 
    background-color: $highlight-color;
}
.pagination.spaced { 
    margin-top: $padding-half;
}
div.page ul.pagination {
    margin-left: 0px;
}
.pagination.spaced-bottom {
    margin-bottom: 18px;
} 
.pagination.wide {
    xwidth: 100%;
}
.pagination li { 
    float: left; 
}
.pagination li a {
    color: $white-color;
    text-decoration: none; 
    padding: 6px 0px 4px 18px;
    background: $solid-color;
    position: relative; 
    display: block;
    float: left;
    height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}
.pagination li a:after { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid $solid-color;
    position: absolute;
    top: 50%;
    margin-top: -20px; 
    left: 100%;
    z-index: 2; 
}	
.pagination li a:before { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 20px solid transparent;     
    border-bottom: 20px solid transparent;
    border-left: 10px solid $white-color;
    position: absolute;
    top: 50%;
    margin-top: -20px; 
    margin-left: 2px;
    left: 100%;
    z-index: 1; 
}	
.pagination li:first-child a {
    padding-left: 4px;
}
.pagination.auto-select-last li:last-child a {
    background: $highlight-color; 
    color: $white-color;
    padding-right: 8px;
    pointer-events: none;
}

.pagination li a:hover,
.pagination li.selected a { 
    background: $highlight-color; color: $white-color; 
}

.pagination li a:hover:after,
.pagination li.selected a:after { 
    border-left-color: $highlight-color !important; 
}



.pagination li.disabled a {
    xbackground: $barely-visible-color !important;
    xborder-right-color: $barely-visible-color !important;
    pointer-events: none;
}
.pagination li.disabled a:after {
    xborder-left-color: $barely-visible-color !important;
}