﻿
/* ============ Chart General ============ */

.chart {
    height: 300px;
    margin-top: $padding;
    margin-bottom: $padding;
}
.chart.tall {
    height: 700px;
}

.chart svg {
    width: 100%;
    height: 100%;
}


/* ============ Chart Sankey ============ */

.chart.sankey .node rect {
    cursor: move;
    fill-opacity: 1.0;
    shape-rendering: crispEdges;
    fill: $chart-text-color;
 }

.chart.sankey .node text {
    pointer-events: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}

.chart.sankey .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.chart.sankey .link:hover {
    stroke-opacity: 1.0;
    stroke: $highlight-color;
}




/* ============ Chart Tree ============ */

.chart.tree .node {
    cursor: pointer;
}


.chart.tree .node .icon {

}

.chart.tree .node circle {
    fill: $chart-text-color;
}
.chart.tree .node circle:hover {
    fill: $highlight-color;
}

.chart.tree .node text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    text-shadow:
    -1px -1px 0 $white-color,
    1px -1px 0 $white-color,
    -1px 1px 0 $white-color,
    1px 1px 0 $white-color;  
}

.chart.tree .node text.has-link {
    cursor: pointer;
}
.chart.tree .node text.has-link:hover {
    fill: $highlight-color;
}

.chart.tree .link {
    fill: none;
    stroke: $chart-text-color;
    stroke-width: 1.5px;
}




/* ============ Chart Graph ============ */


.chart.graph .link {
    fill: none;
    stroke: $chart-text-color;
    stroke-width: 1.5px;
}
.chart.graph .label text {
    fill: $chart-text-color;
    pointer-events: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}




/* ============ Chart Donut ============ */

.chart.donut polyline {
    stroke-opacity: 0.4;
    stroke: $chart-text-color;
    stroke-width: 2px;
    fill: none;
}

.chart.donut .labelName,
.chart.donut .labelName text {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    fill: $chart-text-color;
}

.chart.donut .toolCircle .title {
    font-size: 16px;
    font-weight: bold;
    fill: $chart-text-color;
}
.chart.donut .toolCircle .meta {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    fill: $chart-text-color;
}

.chart.donut.animated polyline,
.chart.donut.animated .labelName {
    animation: donut_fadein 1s ease;
}

@keyframes donut_fadein {
  0% { opacity: 0; }
  20% { opacity: 0; }
  100% { opacity: 1; }
} 


/* ============ Chart Time Series ============ */



.chart.time-series .axis .domain {
  display: none;
}

.chart.time-series .legend {
    fill: $white-color;
}

.chart.time-series text,
.chart.time-series .tooltip tspan {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    fill: $chart-text-color;
}

.chart.time-series .legend text {

}
.chart.time-series .axis line {
    display: none;
}

.chart.time-series .tooltip-background {
    fill: $white-color;
    border: $padding-half;
}

.chart.time-series .tooltip {

}

.chart.time-series .line {
    fill: none;
    stroke-width: 2px;
}
.chart.time-series .line.zero-line {
    stroke: $chart-text-color;
}


.chart.time-series .axis-lines path {
    display: none;
}
.chart.time-series .axis-lines .tick {
    stroke: $chart-text-color;
    opacity: 0.2;
}


.chart.time-series .segments .mod2-0 {
    fill: $chart-text-color;
    opacity: 0.1;
}
.chart.time-series .segments .mod2-1 {
    fill: $chart-text-color;
    opacity: 0.05;
}








/* ============ Chart Spider ============ */



.chart.spider .legend {
    fill: $white-color;
}

.chart.spider .tooltip,
.chart.spider .tooltip * {
    cursor: none;
}

.chart.spider text,
.chart.spider .tooltip tspan {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    fill: $chart-text-color;
}

.chart.spider .legend text {

}
.chart.spider .tooltip-background {
    fill: $white-color;
    border: $padding-half;
}

.chart.spider .tooltip {

}

.chart.spider .line {
  fill: none;
  stroke: $chart-text-color;
  stroke-width: 2px;
}
.chart.spider .line.spider {
  stroke-width: 1px;
}
.chart.spider .line.spider.grid {
  opacity: 0.5;
}




/* ============ Chart Timeline ============ */

.chart.timeline .line {
    stroke: $black-color;
    stroke-width: 1;
}

.chart.timeline .has-link {
    cursor: pointer;
}
.chart.timeline .axis .domain {
    display: none;
}
.chart.timeline .axis.labels-day line {
    display: none;
}
.chart.timeline .axis.grid-day line {
    opacity: 0.2;
}
.chart.timeline .axis.grid-month .tick {
    stroke-width: 2;
}
.chart.timeline .axis.grid-month path {
    display: none;
}
.chart.timeline .axis.labels-month text {
    text-anchor: start;
    transform: translate(4px,-1px);
}
.chart.timeline .axis.current-week rect {
    fill: $highlight-color;
    xopacity: 0.02;
}
.chart.timeline .axis.grid-weekend {
    stroke: $chart-text-color;
    opacity: 0.08;
}
.chart.timeline.zoomed-out .axis.labels-day,
.chart.timeline.zoomed-out .axis.grid-day {
    display: none;
}
.chart.timeline text {
    fill: $chart-text-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}

DEPRECATED_.chart.timeline.zoomed-out .axis.grid-week text {
    text-shadow: -1px 0 $white-color, 0 1px $white-color, 1px 0 $white-color, 0 -1px $white-color;
}


.chart.timeline .track rect {
    fill: $highlight-color;
}

.chart.timeline .track .event {
    
}
.chart.timeline .track .event circle {
    
}
.chart.timeline .track .event circle.has-link {
    pointer-events: all;
}
.chart.timeline .track .event circle {
    fill: $solid-color;
}
.chart.timeline .track .event text {
    pointer-events: none;
}

.chart.timeline .track .event circle,
.chart.timeline .track .event text {
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-property: transform;
}

.chart.timeline .track .event.overlap-3 circle,
.chart.timeline .track .event.overlap-3 text {
    transform: translateY(-60px);
    fill: $black-color !important;
}
.chart.timeline .track .event.overlap-2 circle,
.chart.timeline .track .event.overlap-2 text {
    transform: translateY(-40px);
    fill: $black-color !important;
}
.chart.timeline .track .event.overlap-1 circle,
.chart.timeline .track .event.overlap-1 text {
    transform: translateY(-20px);
    fill: $black-color !important;
}
.chart.timeline .track .event.overlap1 circle,
.chart.timeline .track .event.overlap1 text {
    transform: translateY(20px);
    fill: $black-color !important;
}
.chart.timeline .track .event.overlap2 circle,
.chart.timeline .track .event.overlap2 text {
    transform: translateY(40px);
    fill: $black-color !important;
}
.chart.timeline .track .event.overlap3 circle,
.chart.timeline .track .event.overlap3 text {
    transform: translateY(60px);
    fill: $black-color !important;
}

.chart.timeline .track:hover rect {
    fill: $solid-color !important;
}
.chart.timeline .track:hover .event text,
.chart.timeline .track:hover .event circle {
    fill: $highlight-color;
}
.chart.timeline .track .event circle.has-link:hover {
    stroke: $highlight-color;
    stroke-width: 2px;
}


.chart.timeline .legends .back {
    fill: $white-color;
}
.chart.timeline .legends .line {

}
.chart.timeline .legend text.has-link:hover {
    fill: $highlight-color;
}


