﻿
table.table {
    margin-top: $padding;
    margin-bottom: $padding-half;
    width: 100%;
    border-collapse: collapse;
}
.no-table-margins table.table {
    margin-top: 0px;
}
.tight-table-margins table.table {
    margin-top: $padding-quarter;
}


table.table td a,
table.table th a {
    display: block;
}
table.table td, 
table.table th {
    background-color: $table-background-color;
    padding: 4px;
    DEPRECATED_font-size: 12px;
    border: 1px solid $white-color;
    color: $table-text-color;
}
table.table tr.button td,
table.table td.button {
    background-color: transparent;
}
table.table td:first-child, table.table th:first-child {
    border-left: 0px;
}
table.table td:last-child, table.table th:last-child {
    border-right: 0px;
}
table.table td a,
table.table th a {
    DEPRECATED_font-size: 12px;
    text-decoration: none;
}
table.table th,
table.table th a,
table.table td.label {
    font-weight: bold;
    text-transform: uppercase;
    DEPRECATED_font-size: 12px;
    color: $solid-text-color;
    background-color: $solid-color;
    word-break: keep-all;
    text-wrap: avoid;
    white-space: nowrap;
}
table.table th a {
    background-color: transparent;
}

table.table tr.total td {
    font-weight: bold;
    text-transform: uppercase;
}

table.table td.red {
    background-color: $red-color;
}

table.table td.center {
    text-align: center;
}

table.table td.input,
table.table td.select,
table.table td.textarea {
    width: 100%;
}

table.table td.type-Int32,
table.table td.type-Int64,
table.table td.type-Long,
table.table td.type-Double,
table.table td.type-Decimal,
table.table td.type-Price {
    text-align: right;
}

table.table th.type-Int32,
table.table th.type-Int64,
table.table th.type-Long,
table.table th.type-Double,
table.table th.type-Decimal,
table.table th.type-Price {
    text-align: right;
}

table.table th.type-Int32 a,
table.table th.type-Int64 a,
table.table th.type-Long a,
table.table th.type-Double a,
table.table th.type-Decimal a,
table.table th.type-Price a {
    text-align: right;
}

table.table.highlight-on-hover td,
table.table td.highlight-on-hover,
table.table th.highlight-on-hover {
    
}
table.table.highlight-on-hover tr:hover td,
table.table td.highlight-on-hover:hover,
table.table th.highlight-on-hover:hover,
table.table td.selected,
table.table th.selected {
    background-color: $highlight-color;
    background-image: $highlight-pattern;
    background-attachment: fixed;
    background-size: auto auto; /* pattern */
    color: $highlight-text-color;
}
table.table.highlight-on-hover tr:hover td,
table.table td.highlight-on-hover:hover,
table.table th.highlight-on-hover:hover {
    background-image: $highlight-pattern-animated;
}
table.table th.highlight-on-hover:hover a,
table.table.highlight-on-hover tr:hover td a,
table.table th.selected a,
table.table th.selected .icon {
    color: $highlight-text-color;
}

table.table .ui-button {
    ---margin-top: $padding-quarter;
    ---margin-bottom: $padding-quarter;
    ---margin-right: $padding-quarter;
}

table.table .ui-button.clear {
    clear: both;
}

DEPRECATED_table.table .ui-button ~ .ui-button,
table.table .ui-button.clear ~ .ui-button.clear {
    margin-top: $padding-quarter;
}

table.table .ui-checkboxradio-label.ui-button {
    padding: 2px !important;
}

table.table .bb-button-set .ui-checkboxradio-label.ui-button {
    padding: 2px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    margin-right: 0px;
}

table.table .bb-button-set .ui-button:hover {
    color: $highlight-text-color !important;
}

table.table .ui-checkboxradio-label.ui-button,
table.table .ui-selectmenu-button.ui-button {
    background-color: rgba(255,255,255,0.5);
    border: 1px solid $border-color;
    padding: $padding-half;
    color: $table-text-color;
    text-align: left;
    text-transform: inherit;
    font-weight: normal !important;
}
table.table .ui-button .ui-icon,
table.table .ui-checkboxradio-icon.ui-icon-check {
    background-image: url(/static/file/img/ui-icons_000000_256x240.png) !important;
}
table.table .ui-checkboxradio-label.ui-button.ui-state-active {
    background-color: $highlight-color;
    color: $highlight-text-color;
}
table.table .ui-checkboxradio-label.ui-button:hover {
    background-color: $highlight-color;
    color: $highlight-text-color;
}
table.table .ui-selectmenu-button.ui-button .ui-selectmenu-text {
    color: $table-text-color;
    text-align: left;
    text-transform: inherit;
    font-weight: normal !important;
}

table.table .bb-button-set .ui-checkboxradio-icon {
    display: none;
}

table.table tr.deselected td,
table.table tr.unpublished td,
table.table tr td.unpublished,
table.table tr.disabled td,
table.table tr td.disabled {
    opacity: 0.6;
    border: 1px solid $white-color;
}
DEPRECATED_table.table .ui-checkboxradio-label {
    opacity: 0.5;
}
DEPRECATED_table.table tr.selected,
DEPRECATED_table.table .ui-checkboxradio-label.ui-checkboxradio-checked {
    opacity: 1.0;
}

table.table td .icon,
table.table th .icon {
    display: inline-block;
}

table.table td .only-if-selected,
table.table th .only-if-selected {
    display: none;
}
table.table td.selected .only-if-selected,
table.table th.selected .only-if-selected {
    display: inline-block;
}



table.table td .image-preview,
table.table td .content .node.image img {
    max-height: 220px;
    max-width: 600px;
}

table.table td .content .node.file a,
table.table td .content .node.link a {
    text-decoration: underline;
}


table.table td .only-if-not-selected,
table.table th .only-if-not-selected {
    display: inline-block;
}
table.table td.selected .only-if-not-selected,
table.table th.selected .only-if-not-selected {
    display: none;
}




table.table td .icon,
table.table th .icon {
    width: 14px;
    height: 14px;
    color: $white-color;
}







table.information-table {
    border-collapse: collapse;

}
table.information-table tr.group-header {
    display: none;
}
table.information-table tr.group-footer td {
    background-color: $solid-color;
}








table.information-table.preview {
    border: 2px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
}
table.information-table.preview.margined {
    margin-top: 30px;
}
table.information-table.preview th, 
table.information-table.preview td.property {
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
table.information-table.preview td.column-Name {
    text-align: left;
}
table.information-table.preview tr.header th {
    background-color: $black-color;
    color: $white-color;
    font-weight: bold;
}
table.information-table.preview tr.group-header {
    display: none;
}
table.information-table.preview tr.group-footer td {
    background-color: $black-color;
    height: 2px;
}


/*table sorter*/

.table.tablesorter  .tablesorter-header .tablesorter-header-inner {
    color: $white-color;
    font-weight: bold;
}

.table.tablesorter .tablesorter-header.tablesorter-headerDesc .tablesorter-header-inner:after {
    content: '\2191';
    text-decoration: none;
}

.table.tablesorter .tablesorter-header.tablesorter-headerAsc .tablesorter-header-inner:after {
    content: '\2193';
     text-decoration: none;
}

.table.tablesorter .tablesorter-headerRow th *,
.table.tablesorter .tablesorter-headerRow th {
    cursor: pointer;
}