﻿
form.loading,
form.loading * {
    cursor: wait;
}

form.loading input {
    pointer-events: none;
    opacity: 0.5;
}





.form-type-hidden {
    display: none;
}



.form-type-select select,
.form-type-list select {
    width: auto;
    max-width: 300px;
    -webkit-appearance: menulist;
}