﻿
.entity-card {
    margin-top: $padding-half;
    margin-bottom: $padding-half;
    position: relative;
    max-width: 400px;
}
.entity-card.wide {
    width: 100%;
    max-width: 100%;
}

.card-listing {
    clear: both;
}
.card-listing .entity-card,
.entity-card.float {
    float: left;
    width: 400px;
    height: 200px;
    margin-right: $padding;
}
.card-listing .entity-card.is-grouping {
    margin-right: $padding-double;
}

.entity-card .card-wrapper {
    min-height: 200px;
    position: relative;
    background-color: $solid-color;
}


.entity-card .entity-icon {
    text-align: center;
    color: $solid-text-color;
    font-size: 80px;
    position: absolute;
    top: 0px;
    right: $padding;
}
.entity-card:hover .entity-icon {
    color: $highlight-color;
}


.entity-card .entity-main {
    position: absolute;
    top: $padding;
    left: $padding;
    padding-right: $padding;
    width: 80%;
}
.entity-card .entity-main .title {
    max-width: 80%;
    line-height: 1.1em;
}
.entity-card .entity-sub {
    position: absolute;
    bottom: $padding;
    left: $padding;
    padding-right: $padding;
}
.entity-card .entity-tag {
    position: absolute;
    bottom: $padding;
    right: $padding;
}

.entity-card .entity-type {
    position: absolute;
    top: $padding;
    right: $padding;
    transform: rotate(-90deg);
    text-align: right;
}

.entity-card .title {
    font-weight: bold;
    font-size: 30px;
    color: $solid-text-color;
}
.entity-card .subtitle {
    font-weight: bold;
    font-size: 20px;
    color: $solid-text-color;
}
.entity-card .meta {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $solid-text-color;
}

@keyframes card-blink-animation {
  to {
    color: $red-color;
  }
}
.entity-card.sub-blink .entity-sub div {
    animation: card-blink-animation 0.5s alternate-reverse infinite;
}

.entity-card a:hover .card-wrapper,
.entity-card a:hover .card-wrapper .entity-card-shadow {
    background-color: $highlight-color;
    background-image: $highlight-pattern-animated;
    background-attachment: fixed;
    background-size: auto auto; /* pattern */
    color: $highlight-text-color;
}
.entity-card a:hover .entity-icon,
.entity-card a:hover * {
    color: $highlight-text-color;
}


.entity-card .entity-card-shadow {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: $solid-color;
    border: 1px solid $white-color;
    box-sizing: border-box;
    z-index: -1;
}
.entity-card .entity-card-shadow.shadow-2 {
    top: 10px;
    left: 10px;
}
.entity-card .entity-card-shadow.shadow-1 {
    top: 20px;
    left: 20px;
}

.entity-card.is-grouping {
    margin-bottom: 30px;
}
.entity-card.is-grouping .card-wrapper {
    border: 1px solid $white-color;
    box-sizing: border-box;
}
.entity-card.is-grouping .entity-card-shadow {
    display: inherit;
}


.entity-card .entity-attachment.breadcrumb {
    border-top: 1px solid $white-color;
}














.micro-card {
    padding: 3px;
    background-color: $solid-color;
    margin-bottom: $padding;

    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.micro-card.red {
    background-color: $red-color;
}
.micro-card div {
    color: $white-color;

    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.micro-card .meta {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}
.micro-card .title {
    font-size: 15px;
    font-weight: bold;
}
.micro-card .subtitle {
    font-size: 13px;
    font-weight: bold;
}

a:hover .micro-card {
    background-color: $highlight-color;
}
a:hover .micro-card,
a:hover .micro-card div {
    color: $white-color;
}