﻿
.breadcrumb { 
    list-style: none; 
    overflow: hidden; 
    padding: 0;
    height: 28px;
    background-color: $solid-color;
}
.breadcrumb.auto-select-last { 
    background-color: $highlight-color;
    background-image: $highlight-pattern;
    background-attachment: fixed;
    background-size: auto auto; /* pattern */
}
.breadcrumb.spaced { 
    margin-top: $padding-half;
}
div.page ul.breadcrumb {
    margin-left: 0px;
}
.breadcrumb.spaced-bottom {
    margin-bottom: 18px;
} 
.breadcrumb.wide {
    width: 100%;
}
.breadcrumb li { 
    float: left; 
}
.breadcrumb li a {
    color: $solid-text-color;
    text-decoration: none; 
    padding: 6px 0px 4px 18px;
    background: $solid-color;
    position: relative; 
    display: block;
    float: left;
    height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}
.breadcrumb li a:after { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid $solid-color;
    position: absolute;
    top: 50%;
    margin-top: -20px; 
    left: 100%;
    z-index: 2; 
}	
.breadcrumb li a:before { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 20px solid transparent;     
    border-bottom: 20px solid transparent;
    border-left: 10px solid $white-color;
    position: absolute;
    top: 50%;
    margin-top: -20px; 
    margin-left: 2px;
    left: 100%;
    z-index: 1; 
}	
.breadcrumb li:first-child a {
    padding-left: 6px;
}
.breadcrumb.auto-select-last li:last-child a {
    background-color: $highlight-color; 
    background-image: $highlight-pattern;
    background-attachment: fixed;
    background-size: auto auto; /* pattern */
    color: $highlight-text-color; 
    padding-right: 8px;
    pointer-events: none;
}
.breadcrumb li:last-child a:after {
    display: none; 
}
.breadcrumb li:last-child a:before {
    display: none;
}
.breadcrumb li:last-child a:after { border: 0; }

.breadcrumb.gray { 
    background-color: $gray-color;
}
.breadcrumb.gray li a:after {
    border-left-color: $gray-color;
}
.breadcrumb.gray li a {
    background: $gray-color;
}


.breadcrumb.transparent { 
    background-color: transparent;
}
.breadcrumb.transparent li a:after {
    border-left-color: transparent;
}
.breadcrumb.transparent li a {
    background: transparent;
    color: $black-color;
}


.breadcrumb li a:hover,
.breadcrumb li.selected a { 
    background-color: $highlight-color; 
    background-image: $highlight-pattern;
    background-attachment: fixed;
    background-size: auto auto; /* pattern */
    color: $highlight-text-color;
}
.breadcrumb li a:hover { 
    background-image: $highlight-pattern-animated;
}
.breadcrumb li a:hover:after,
.breadcrumb li.selected a:after { 
    border-left-color: $highlight-color !important; 

}

.breadcrumb.no-interaction,
.breadcrumb.no-interaction * { 
    pointer-events: none;
}