﻿

/* jQuery Notebook */

.jquery-notebook.editor {
    position: relative;
    outline: none;
    min-height: 50px;
}

.jquery-notebook.bubble {
    position: absolute;
    z-index: 2000;
    opacity: 1;
    height: auto;
    left: 0;
    top: 0;
    opacity: 0;
    --border-radius: 5px;
    --border: 1px solid #1C1C1B;
    --box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 0 2px rgba(255,255,255,0.2); /* Bubble Shadows */
    background: $solid-color;
    transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
}

.jquery-notebook.bubble.active {
    opacity: 1;
}

.jquery-notebook.bubble.jump {
    transition: opacity 0.15s;
    -webkit-transition: opacity 0.15s;
}

.jquery-notebook.bubble:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -6px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: $solid-color;
    --box-shadow: 2px 2px 1px rgba(0,0,0,0.1); /* Triangle shadow */
}

.jquery-notebook.bubble .helper-text {
    color: $white-color;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 8px;
}

.jquery-notebook.bubble ul {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 8px;
    padding-right: 8px;
}

.jquery-notebook.bubble ul li {
    display: inline;
}

.jquery-notebook.bubble button {
    margin: 0;
    outline: none;
    border: none;
    background: transparent;
    width: auto;
    min-width: 20px;
    height: 42px;
    --margin-left: 4px;
    --margin-right: 4px;
    color: $white-color;
    font-size: 14pt;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

.jquery-notebook.bubble button.active,
.jquery-notebook.bubble button:hover {
    color: $highlight-color;
}

.jquery-notebook.bubble button.cmd-sep {
    font-weight: normal;
    color: $white-color;
    cursor: default;
}

.jquery-notebook .link-area {
    display: none;
}

.jquery-notebook-content {
    width: 100px;
}

