﻿<div class="ui-card ui-documentation-item option-has-sticky-toolbar level-{item.level} hlevel-{item.h-level} type-{item.type} {css-classes}" id="{item.full-name-url}">
    <div class="ui-documentation-item-settings hide-code hide-signature level-{item.level} hlevel-{item.h-level} type-{item.type} {css-classes}">
        <div class="ui-documentation-item-properties level-{item.level} hlevel-{item.h-level} type-{item.type} {css-classes}">
            <div class="ui-toolbar option-sticky">
                <h2 title="{item.full-name} ({item.type})">{item.symantic-name} <span class="ui-label">{item.data-type}</span></h2>
                <div class="tools"><a class="ui-button option-icon-only tool-toggle-signature" title="Toggle signature">{icon.signature}</a><a class="ui-button option-icon-only tool-toggle-code" title="Toggle source code">{icon.source-code}</a></div>
            </div>
            <div class="ui-card-content documentation-summary">
                <div class="markdown">
                    {item.summary-html}
                </div>
            </div>
            <div class="ui-card documentation-extension documentation-example">
                <div class="ui-toolbar option-small">
                    <h2>Example</h2>
                </div>
                <div class="ui-card-content">
                    <div class="markdown">
                        {item.example-html}
                    </div>
                </div>
            </div>
            <div class="ui-card documentation-extension documentation-value">
                <div class="ui-toolbar option-small">
                    <h2>Default Value</h2>
                </div>
                <div class="ui-card-content">
                    <pre>{item.value}</pre>
                </div>
            </div>
            <div class="ui-card documentation-extension documentation-signature">
                <div class="ui-toolbar option-small">
                    <h2>Signature</h2>
                </div>
                <div class="ui-card-content">
                    <pre>{item.signature}</pre>
                </div>
            </div>
            <div class="ui-card documentation-extension documentation-code">
                <div class="ui-toolbar option-small">
                    <h2>Source Code</h2>
                </div>
                <div class="ui-card-content">
                    <pre class="no-wrap">{item.code}</pre>
                </div>
            </div>
        </div>
        {item.children}
    </div>
</div>