﻿<!--<h1>{root-item.full-name}</h1>-->
<div class="markdown">
{root-item.summary-html}
</div>

<div class="ui-card documentation-toc">
    <div class="ui-toolbar">
        <h2>Contents</h2>
    </div>
    <script>
        Machinata.ready(function () {
            toggleTOCLevel(0);
            $(".documentation-toc li .icon-collapse-arrow").click(function (event) {
                event.stopPropagation();
                event.preventDefault();
                $(this).closest("li").toggleClass("collapsed");
            }).attr("title","Expand");
            $(".documentation-toc li .icon-expand-arrow").click(function (event) {
                event.stopPropagation();
                event.preventDefault();
                $(this).closest("li").toggleClass("collapsed");
            }).attr("title","Collapse");
            $(".documentation-toc li .icon-external-link").click(function (event) {
                event.stopPropagation();
                event.preventDefault();
                Machinata.openPage($(this).closest("li").attr("data-external-link"));
            }).attr("title","Open in new tab");
            $(".ui-documentation-item-settings .ui-toolbar .tool-toggle-code").click(function () {
                $(this).closest(".ui-documentation-item").find(".ui-documentation-item-settings").toggleClass("hide-code");
                if ($(this).closest(".ui-documentation-item-settings").hasClass("hide-code")) {
                    $(this).removeClass("selected");
                } else {
                    $(this).addClass("selected");
                }
            });
            $(".ui-documentation-item .ui-toolbar .tool-toggle-signature").click(function () {
                $(this).closest(".ui-documentation-item").find(".ui-documentation-item-settings").toggleClass("hide-signature");
                $(this).toggleClass("selected");
                if ($(this).closest(".ui-documentation-item-settings").hasClass("hide-signature")) {
                    $(this).removeClass("selected");
                } else {
                    $(this).addClass("selected");
                }
            });
            
        });
        function toggleTOCLevel(level) {
            var tocItems = $(".documentation-toc li");
            tocItems.addClass("collapsed");
            for (var l = 0; l <= level; l++) {
                tocItems.filter(".level-" + l).removeClass("collapsed");
            }
        }
    </script>
    <div class="ui-card-content">
        <ul class="ui-listing">{documentation.index}</ul>
    </div>
</div>

<div class="ui-documentation">
    {documentation.exploded}
</div>