﻿<li class="level-{item.level} hlevel-{item.h-level} type-{item.type} collapsed" data-external-link="/admin/documentation/packages/package/{package.name}/namespace/{item.full-name-url}">
    <a href="#{item.full-name-url}">{item.symantic-name} <span class="ui-label">{item.data-type}</span>{icon.expand-arrow}{icon.collapse-arrow}{icon.down}{icon.external-link}</a>
</li>
<div class="children">
{item.children}
</div>