﻿<table>
    <tr>
        <td>
            {address.name}
        </td>
    </tr>
    <tr>
        <td>
            {address.company}
        </td>
    </tr>
    <tr>
        <td>
            {address.address1}
        </td>
    </tr>
    <tr>
        <td>
            {address.address2}
        </td>
    </tr>
    <tr>
        <td>
            {address.zip} {address.city}
        </td>
    </tr>
    <tr>
        <td>
            {address.country}
        </td>
    </tr>
    <tr>
        <td>
            {address.phone}
        </td>
    </tr>
</table>