﻿<div class="ui-card">
   
    <div class="ui-card-content">
        <h2>
            {package.name}
        </h2>
       {text.last-deployed=Last deployed}: {server.timestamp} ({server.version})
    </div>
    

        
    <div class="ui-card-actions">
        <ul class="ui-listing">
            <!--<li><a href="/asset-packager/download?export-name=&amp;export-lang=en&amp;export-debug=false&amp;buildid={build-id}&amp;export-package=machinata-reporting-for-cinnamon">machinata-reporting-for-cinnamon.zip {icon.download} <span style="float:right"> {testing-status.download-warning}</span></a></li>-->

            <li><a href="/asset-packager/download?export-package={package.name}&amp;buildid={build-guid}">{package.download-name} {icon.download}</a></li>
        </ul>
    </div>
</div>

