﻿<!--<li><a href="{page.navigation.current-path}/businesses">{text.businesses}<span class="icon icon-business-card"></span></a></li>-->


<a class="ui-tile" href="{page.navigation.current-path}/businesses">
    <div class="icon">{icon.contact}</div>
    <div class="title">{text.businesses}</div>
</a>