﻿<!--<li><a href="{page.navigation.current-path}/signs">{text.signs}<span class="icon icon-directions"></span></a></li>-->

<a class="ui-tile" href="{page.navigation.current-path}/signs">
    <div class="icon">{icon.monitor}</div>
    <div class="title">{text.signs}</div>
</a>
