﻿<a class="ui-tile published-true" data-entity-id="{entity.entity-id}" data-public-id="{entity.public-id}" href="{page.navigation.current-path}/categories/{category-uri-safe}">
    <div class="icon">{icon.file}</div>
    <div class="title">{category}
    </div>
</a>