﻿<h2>{text.revenue=Revenue}</h2>
<div class="chart animated" chart-type="bar" api-call="/api/admin/shop/chart/timeseries/orders/revenue-over-time?timespan={chart-timespan}"></div>
<!--
<h2>{text.business-revenue=Business Revenue}</h2>
<div class="chart animated" chart-type="donut" api-call="/api/admin/shop/chart/donut/orders/business-revenues?timespan={chart-timespan}"></div>
<div class="chart animated" chart-type="bar" api-call="/api/admin/shop/chart/timeseries/orders/business-revenues?timespan={chart-timespan}"></div>
    -->
<h2>{text.deliveries=Deliveries}</h2>
<div class="chart animated" chart-type="map" api-call="/api/admin/shop/chart/map/deliveries?timespan={chart-timespan}"></div>

<h2>{text.orders}</h2>
<div class="chart animated" chart-type="bar" api-call="/api/admin/shop/chart/timeseries/orders/count?timespan={chart-timespan}"></div>
<div class="chart animated" chart-type="map" api-call="/api/admin/shop/chart/map/confirmed?timespan={chart-timespan}"></div>

<h2>{text.products}</h2>
<div class="chart animated" chart-type="donut" api-call="/api/admin/shop/chart/donut/products/sales?timespan={chart-timespan}"></div>

<h2>{text.categories}</h2>
<div class="chart animated" chart-type="donut" api-call="/api/admin/shop/chart/donut/categories/sales/main?timespan={chart-timespan}"></div>
