﻿<tr class="group-header" data-group-name="{group.name}">
    <td colspan="{group.columns}"></td>
</tr>
{items}
<tr class="group-footer" data-group-name="{group.name}">
    <td colspan="{group.columns}"></td>
</tr>
