﻿<div class="ui-card">
    <div class="ui-card-content">
        <h2>{title}</h2>
        <h3>{text.details}</h3>
        {configuration}
    </div>
    <div class="ui-card-actions">
        <ul class="ui-listing">
            <li>
                <a class="item" href="/admin/shop/products/product/{product.public-id}">
                    {text.view-product=View Product} {icon.right}
                </a>
            </li>

        </ul>
    </div>

    <div class="remove-if-zero-{images.count}">
        <div class="ui-card-content">
            <h3>{text.images=Images}</h3>
            {images}
        </div>
    </div>

</div>