﻿<li>
    <a class="item"
       api-call="/api/admin/data/seed/dataset/{dataset.id}"
       confirm-title="{text.data-seed}"
       confirm-message="{text.data-seed-confirm=Are you sure you want to seed with the dataset} {dataset.name}?"
       on-success="{page.navigation.current-path}">
        {dataset.name}
        <span class="icon icon-{dataset.icon}"></span>
    </a>
</li>
