﻿

<!--Text 1-->
{content.html-1-unsafe}


<!--Video-->
<div class="video option-16-9 option-shadowed">
    <img class="bb-video"
            src="{content.video}" 
            data-video-autoplay="true"
            data-video-loop="true"
            data-video-muted="true"
            data-video-controls="true"
            data-video-mp4="{content.video.option-mp4}"
            data-video-ogv="{content.video.option-ogv}"
            data-video-webm="{content.video.option-webm}" />
</div>


<div class="ui-layout-container option-2-2">
    <div class="ui-layout ">
        <!-- Text 2 -->
        {content.html-2-unsafe}
    </div>
    <div class="ui-layout ">
        <!-- Image -->
        <img src="{content.image}"/>
    </div>
</div>
<div class="clear"></div>
