

<div id="header" class="user-{user.auth-status}">
    <div class="left">
        <a href="/">
            <div class="title"><b>Machinata Example Product</b></div>
        </a>
    </div>
    <div class="center">
        <!--<h1 class="ui-text-clip">{page.navigation.page-title}</h1>-->
    </div>
    <div class="right">
        <div class="profile requires-logout">
            <div class="header-section tools mobile-only requires-menu">
                <a class="ui-action-toggle-menu requires-menu-closed">{icon.menu}</a>
                <a class="ui-action-toggle-menu requires-menu-open">{icon.delete}</a>
            </div>
            <div class="header-section symbol">
                <div class="ui-symbol option-expand-on-hover option-horizontal-menu option-expand-left">
                    <div class="contents">
                        <div class="panel icon hide-on-hover">{icon.key}</div>
                        <ul class="panel menu show-on-hover">
                            <li>
                                <a class="ui-link" href="/admin">{text.login}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile requires-login">
            <div class="header-section tools mobile-only requires-menu">
                <a class="ui-action-toggle-menu requires-menu-closed">{icon.menu}</a>
                <a class="ui-action-toggle-menu requires-menu-open">{icon.delete}</a>
            </div>
            <div class="header-section symbol">
                <div class="ui-symbol option-expand-on-hover option-horizontal-menu option-expand-left">
                    <div class="contents">
                        <div class="panel icon hide-on-hover">{user.initials}</div>
                        <ul class="panel menu show-on-hover">
                            <li>
                                <a class="ui-link" href="/admin/logout">{text.logout}</a>
                            </li>
                            <li>
                                <a class="ui-link" href="/admin/account">{text.account}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-section label">
                <div>
                    <a class="name ui-link" href="/admin/account">{user.name}</a>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="header-pusher"><!-- --></div>


<div id="menu" class="user-{user.auth-status} {user.policy-list}">
    <div class="menu-line"></div>
    <div class="ui-menu">
        {menu.sections}
    </div>
</div>


<div id="container" class="container ">
