﻿<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta property="og:site_name" content="ExampleProduct" />
<title>{page.title}</title>
{page.meta-tags}
{page.structured-data}
<!-- Fav Icon -->
<link rel="icon" type="image/png" href="/static/file/images/favicon.png" />
<!-- Stylesheets   -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/bundle/css/machinata-uikit-bundle.css?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}">
<link rel="stylesheet" type="text/css" href="/static/bundle/css/machinata-uikit-portal-bundle.css?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}">
<link rel="stylesheet" type="text/css" href="{cdn-url}/static/bundle/css/machinata-example-product-bundle.css?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}">
<!-- Scripts  -->
<script type="text/javascript" src="/static/bundle/js/machinata-core-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-uikit-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-wizard-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-charts-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-maps-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<script type="text/javascript" src="/static/bundle/js/machinata-example-product-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
   
<!-- GA -->
<script type="text/javascript">
        var ga = null;
        if ({analytics.enabled}) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '{analytics.id}', 'auto');
            ga('send', 'pageview');
        }
</script>
