﻿<h2>{text.instructions=Instructions}</h2>
<p>
    1. Fill out the form above and press Save to update the generated content.
</p>
<p>
    2. Drag and select the entire contents of the footer below. Copy the signature contents.
</p>
<p>
    3. In your mail program, open up the signature preferences and paste your copied signature into your mail program signature field.
</p>

<p>
    <img style="border:1px solid black;max-width:400px;height:auto;" src="/static/file/images/admin/Nerves_SignatureGeneration_Screencast_v1_1.gif" />
</p>
