﻿
body.applet {
    DEP_background-color: $solid-color;
    height: unset;
}






.applet-container {
    padding-top: $padding;
    margin-left: $padding;
    margin-right: $padding;
    width: auto;
}


.applet-container h3 {
    margin-top: $padding;
    margin-bottom: $padding-half;
}

.applet-container .line {
    border-bottom: 1px dashed $text-color;
    margin-top: $padding-half;
    margin-bottom: $padding-half;
    clear: both;
}

.applet-container .buttons {
    clear:both;
}
.applet-container .buttons .button {
    margin-top: $padding-quarter;
    margin-bottom: $padding-quarter;
    margin-right: $padding-quarter;
    float: left;
}

.applet-container .timer.stopped {
    opacity: 0.4;
}
.applet-container .timer.stopped .hide-on-stopped {
    display: none;
}

.applet-container .timer .project-title,
.applet-container .timer .worktype-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.applet-container .timer .budget {
    text-align: center;
}
.applet-container .timer .budget * {
    font-size: 24px;
    font-weight: bold;
}

.applet-container .timer .project-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.applet-container .timer .dhms {
    text-align: center;
}
.applet-container .timer .dhms * {
    font-size: 40px;
    font-weight: bold;
}
.applet-container .timer .dhms .unit {
    font-size: 24px;
    position: relative;
    left: -4px;
    text-transform: uppercase;
}

.applet-container .timer .description-input {
    text-align: center;
    margin-top: $padding;
}
.applet-container .timer .description-input input {
    text-align: center;
    max-width: 300px;
}

.applet-container .applet-tools {
    height: $toolbar-height;
    position: fixed;
    bottom: 0px;
    width:100%;
    left: 0px;
    background-color: $solid-color;
}
.applet-container .applet-tools .ui-toolbar {
    border-bottom: none;
}