﻿
ul.tiles {
    padding-top: 20px;
    clear: both;
    min-height: 1px;
}
ul.tiles li {
    list-style-type: none;
    padding: $padding-half;
    position: relative;
    text-align: left;
    display: inline-block;
    float: left;
    background-color: $solid-color;
    width: 140px;
    height: 140px;
    margin-right: $padding;
    margin-top: $padding;
    --border: 1px solid $gray-color;
    line-height: 16px;

    transition-property: color,background-color;
    transition-duration: $default-ui-transition-duration;
    transition-timing-function: ease-in-out;
}
ul.tiles li a {
    font-weight: bold;
    --text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: $white-color;
    
    transition-property: color;
    transition-duration: $default-ui-transition-duration;
    transition-timing-function: ease-in-out;
}
ul.tiles li.published-false,
ul.tiles li.placeholder {
    opacity: 0.4;
}
ul.tiles li:hover {
    color: $highlight-text-color;
    background-color: $highlight-color;
    background-image: $highlight-pattern-animated;
    background-attachment: fixed;
    background-size: auto auto; /* pattern */
}
ul.tiles li:hover a {
    color: $highlight-text-color;
}

ul.tiles li .icon {
    color: $white-color;
    margin: auto;
    position: absolute;
    top: 20px; 
    left: 0; 
    right: 0;
    text-align: center;
    font-size: 80px;
    line-height: normal;
    
    transition-property: color;
    transition-duration: $default-ui-transition-duration;
    transition-timing-function: ease-in-out;
}
ul.tiles li:hover .icon {
    color: $highlight-text-color;
}
