﻿@charset 'UTF-8';

/* @FONT-FACE loads font into browser */
@font-face {
  font-family: 'typicons';
  font-weight: normal;
  font-style: normal;
  src: url('/static/file/fonts/typicons.eot');
  src: url('/static/file/fonts/typicons.eot?#iefix') format('embedded-opentype'),
       url('/static/file/fonts/typicons.woff') format('woff'),
       url('/static/file/fonts/typicons.ttf') format('truetype'),
       url('/static/file/fonts/typicons.svg#typicons') format('svg');
}
 
/* :before psuedo-selector inserts and styles icon */
.icon:before {
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  font-size: 1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
 
/* Code for individual icons */ 
.icon-adjust-brightness:before { 
  content: '\e000'; /* '' */
} 
.icon-adjust-contrast:before { 
  content: '\e001'; /* '' */
} 
.icon-anchor-outline:before { 
  content: '\e002'; /* '' */
} 
.icon-anchor:before { 
  content: '\e003'; /* '' */
} 
.icon-archive:before { 
  content: '\e004'; /* '' */
} 
.icon-arrow-back-outline:before { 
  content: '\e005'; /* '' */
} 
.icon-arrow-back:before { 
  content: '\e006'; /* '' */
} 
.icon-arrow-down-outline:before { 
  content: '\e007'; /* '' */
} 
.icon-arrow-down-thick:before { 
  content: '\e008'; /* '' */
} 
.icon-arrow-down:before { 
  content: '\e009'; /* '' */
} 
.icon-arrow-forward-outline:before { 
  content: '\e00a'; /* '' */
} 
.icon-arrow-forward:before { 
  content: '\e00b'; /* '' */
} 
.icon-arrow-left-outline:before { 
  content: '\e00c'; /* '' */
} 
.icon-arrow-left-thick:before { 
  content: '\e00d'; /* '' */
} 
.icon-arrow-left:before { 
  content: '\e00e'; /* '' */
} 
.icon-arrow-loop-outline:before { 
  content: '\e00f'; /* '' */
} 
.icon-arrow-loop:before { 
  content: '\e010'; /* '' */
} 
.icon-arrow-maximise-outline:before { 
  content: '\e011'; /* '' */
} 
.icon-arrow-maximise:before { 
  content: '\e012'; /* '' */
} 
.icon-arrow-minimise-outline:before { 
  content: '\e013'; /* '' */
} 
.icon-arrow-minimise:before { 
  content: '\e014'; /* '' */
} 
.icon-arrow-move-outline:before { 
  content: '\e015'; /* '' */
} 
.icon-arrow-move:before { 
  content: '\e016'; /* '' */
} 
.icon-arrow-repeat-outline:before { 
  content: '\e017'; /* '' */
} 
.icon-arrow-repeat:before { 
  content: '\e018'; /* '' */
} 
.icon-arrow-right-outline:before { 
  content: '\e019'; /* '' */
} 
.icon-arrow-right-thick:before { 
  content: '\e01a'; /* '' */
} 
.icon-arrow-right:before { 
  content: '\e01b'; /* '' */
} 
.icon-arrow-shuffle:before { 
  content: '\e01c'; /* '' */
} 
.icon-arrow-sorted-down:before { 
  content: '\e01d'; /* '' */
} 
.icon-arrow-sorted-up:before { 
  content: '\e01e'; /* '' */
} 
.icon-arrow-sync-outline:before { 
  content: '\e01f'; /* '' */
} 
.icon-arrow-sync:before { 
  content: '\e020'; /* '' */
} 
.icon-arrow-unsorted:before { 
  content: '\e021'; /* '' */
} 
.icon-arrow-up-outline:before { 
  content: '\e022'; /* '' */
} 
.icon-arrow-up-thick:before { 
  content: '\e023'; /* '' */
} 
.icon-arrow-up:before { 
  content: '\e024'; /* '' */
} 
.icon-at:before { 
  content: '\e025'; /* '' */
} 
.icon-attachment-outline:before { 
  content: '\e026'; /* '' */
} 
.icon-attachment:before { 
  content: '\e027'; /* '' */
} 
.icon-backspace-outline:before { 
  content: '\e028'; /* '' */
} 
.icon-backspace:before { 
  content: '\e029'; /* '' */
} 
.icon-battery-charge:before { 
  content: '\e02a'; /* '' */
} 
.icon-battery-full:before { 
  content: '\e02b'; /* '' */
} 
.icon-battery-high:before { 
  content: '\e02c'; /* '' */
} 
.icon-battery-low:before { 
  content: '\e02d'; /* '' */
} 
.icon-battery-mid:before { 
  content: '\e02e'; /* '' */
} 
.icon-beaker:before { 
  content: '\e02f'; /* '' */
} 
.icon-beer:before { 
  content: '\e030'; /* '' */
} 
.icon-bell:before { 
  content: '\e031'; /* '' */
} 
.icon-book:before { 
  content: '\e032'; /* '' */
} 
.icon-bookmark:before { 
  content: '\e033'; /* '' */
} 
.icon-briefcase:before { 
  content: '\e034'; /* '' */
} 
.icon-brush:before { 
  content: '\e035'; /* '' */
} 
.icon-business-card:before { 
  content: '\e036'; /* '' */
} 
.icon-calculator:before { 
  content: '\e037'; /* '' */
} 
.icon-calendar-outline:before { 
  content: '\e038'; /* '' */
} 
.icon-calendar:before { 
  content: '\e039'; /* '' */
} 
.icon-camera-outline:before { 
  content: '\e03a'; /* '' */
} 
.icon-camera:before { 
  content: '\e03b'; /* '' */
} 
.icon-cancel-outline:before { 
  content: '\e03c'; /* '' */
} 
.icon-cancel:before { 
  content: '\e03d'; /* '' */
} 
.icon-chart-area-outline:before { 
  content: '\e03e'; /* '' */
} 
.icon-chart-area:before { 
  content: '\e03f'; /* '' */
} 
.icon-chart-bar-outline:before { 
  content: '\e040'; /* '' */
} 
.icon-chart-bar:before { 
  content: '\e041'; /* '' */
} 
.icon-chart-line-outline:before { 
  content: '\e042'; /* '' */
} 
.icon-chart-line:before { 
  content: '\e043'; /* '' */
} 
.icon-chart-pie-outline:before { 
  content: '\e044'; /* '' */
} 
.icon-chart-pie:before { 
  content: '\e045'; /* '' */
} 
.icon-chevron-left-outline:before { 
  content: '\e046'; /* '' */
} 
.icon-chevron-left:before { 
  content: '\e047'; /* '' */
} 
.icon-chevron-right-outline:before { 
  content: '\e048'; /* '' */
} 
.icon-chevron-right:before { 
  content: '\e049'; /* '' */
} 
.icon-clipboard:before { 
  content: '\e04a'; /* '' */
} 
.icon-cloud-storage:before { 
  content: '\e04b'; /* '' */
} 
.icon-cloud-storage-outline:before { 
  content: '\e054'; /* '' */
} 
.icon-code-outline:before { 
  content: '\e04c'; /* '' */
} 
.icon-code:before { 
  content: '\e04d'; /* '' */
} 
.icon-coffee:before { 
  content: '\e04e'; /* '' */
} 
.icon-cog-outline:before { 
  content: '\e04f'; /* '' */
} 
.icon-cog:before { 
  content: '\e050'; /* '' */
} 
.icon-compass:before { 
  content: '\e051'; /* '' */
} 
.icon-contacts:before { 
  content: '\e052'; /* '' */
} 
.icon-credit-card:before { 
  content: '\e053'; /* '' */
} 
.icon-css3:before { 
  content: '\e055'; /* '' */
} 
.icon-database:before { 
  content: '\e056'; /* '' */
} 
.icon-delete-outline:before { 
  content: '\e057'; /* '' */
} 
.icon-delete:before { 
  content: '\e058'; /* '' */
} 
.icon-device-desktop:before { 
  content: '\e059'; /* '' */
} 
.icon-device-laptop:before { 
  content: '\e05a'; /* '' */
} 
.icon-device-phone:before { 
  content: '\e05b'; /* '' */
} 
.icon-device-tablet:before { 
  content: '\e05c'; /* '' */
} 
.icon-directions:before { 
  content: '\e05d'; /* '' */
} 
.icon-divide-outline:before { 
  content: '\e05e'; /* '' */
} 
.icon-divide:before { 
  content: '\e05f'; /* '' */
} 
.icon-document-add:before { 
  content: '\e060'; /* '' */
} 
.icon-document-delete:before { 
  content: '\e061'; /* '' */
} 
.icon-document-text:before { 
  content: '\e062'; /* '' */
} 
.icon-document:before { 
  content: '\e063'; /* '' */
} 
.icon-download-outline:before { 
  content: '\e064'; /* '' */
} 
.icon-download:before { 
  content: '\e065'; /* '' */
} 
.icon-dropbox:before { 
  content: '\e066'; /* '' */
} 
.icon-edit:before { 
  content: '\e067'; /* '' */
} 
.icon-eject-outline:before { 
  content: '\e068'; /* '' */
} 
.icon-eject:before { 
  content: '\e069'; /* '' */
} 
.icon-equals-outline:before { 
  content: '\e06a'; /* '' */
} 
.icon-equals:before { 
  content: '\e06b'; /* '' */
} 
.icon-export-outline:before { 
  content: '\e06c'; /* '' */
} 
.icon-export:before { 
  content: '\e06d'; /* '' */
} 
.icon-eye-outline:before { 
  content: '\e06e'; /* '' */
} 
.icon-eye:before { 
  content: '\e06f'; /* '' */
} 
.icon-feather:before { 
  content: '\e070'; /* '' */
} 
.icon-film:before { 
  content: '\e071'; /* '' */
} 
.icon-filter:before { 
  content: '\e072'; /* '' */
} 
.icon-flag-outline:before { 
  content: '\e073'; /* '' */
} 
.icon-flag:before { 
  content: '\e074'; /* '' */
} 
.icon-flash-outline:before { 
  content: '\e075'; /* '' */
} 
.icon-flash:before { 
  content: '\e076'; /* '' */
} 
.icon-flow-children:before { 
  content: '\e077'; /* '' */
} 
.icon-flow-merge:before { 
  content: '\e078'; /* '' */
} 
.icon-flow-parallel:before { 
  content: '\e079'; /* '' */
} 
.icon-flow-switch:before { 
  content: '\e07a'; /* '' */
} 
.icon-folder-add:before { 
  content: '\e07b'; /* '' */
} 
.icon-folder-delete:before { 
  content: '\e07c'; /* '' */
} 
.icon-folder-open:before { 
  content: '\e07d'; /* '' */
} 
.icon-folder:before { 
  content: '\e07e'; /* '' */
} 
.icon-gift:before { 
  content: '\e07f'; /* '' */
} 
.icon-globe-outline:before { 
  content: '\e080'; /* '' */
} 
.icon-globe:before { 
  content: '\e081'; /* '' */
} 
.icon-group-outline:before { 
  content: '\e082'; /* '' */
} 
.icon-group:before { 
  content: '\e083'; /* '' */
} 
.icon-headphones:before { 
  content: '\e084'; /* '' */
} 
.icon-heart-full-outline:before { 
  content: '\e085'; /* '' */
} 
.icon-heart-half-outline:before { 
  content: '\e086'; /* '' */
} 
.icon-heart-outline:before { 
  content: '\e087'; /* '' */
} 
.icon-heart:before { 
  content: '\e088'; /* '' */
} 
.icon-home-outline:before { 
  content: '\e089'; /* '' */
} 
.icon-home:before { 
  content: '\e08a'; /* '' */
} 
.icon-html5:before { 
  content: '\e08b'; /* '' */
} 
.icon-image-outline:before { 
  content: '\e08c'; /* '' */
} 
.icon-image:before { 
  content: '\e08d'; /* '' */
} 
.icon-infinity-outline:before { 
  content: '\e08e'; /* '' */
} 
.icon-infinity:before { 
  content: '\e08f'; /* '' */
} 
.icon-info-large-outline:before { 
  content: '\e090'; /* '' */
} 
.icon-info-large:before { 
  content: '\e091'; /* '' */
} 
.icon-info-outline:before { 
  content: '\e092'; /* '' */
} 
.icon-info:before { 
  content: '\e093'; /* '' */
} 
.icon-input-checked-outline:before { 
  content: '\e094'; /* '' */
} 
.icon-input-checked:before { 
  content: '\e095'; /* '' */
} 
.icon-key-outline:before { 
  content: '\e096'; /* '' */
} 
.icon-key:before { 
  content: '\e097'; /* '' */
} 
.icon-keyboard:before { 
  content: '\e098'; /* '' */
} 
.icon-leaf:before { 
  content: '\e099'; /* '' */
} 
.icon-lightbulb:before { 
  content: '\e09a'; /* '' */
} 
.icon-link-outline:before { 
  content: '\e09b'; /* '' */
} 
.icon-link:before { 
  content: '\e09c'; /* '' */
} 
.icon-location-arrow-outline:before { 
  content: '\e09d'; /* '' */
} 
.icon-location-arrow:before { 
  content: '\e09e'; /* '' */
} 
.icon-location-outline:before { 
  content: '\e09f'; /* '' */
} 
.icon-location:before { 
  content: '\e0a0'; /* '' */
} 
.icon-lock-closed-outline:before { 
  content: '\e0a1'; /* '' */
} 
.icon-lock-closed:before { 
  content: '\e0a2'; /* '' */
} 
.icon-lock-open-outline:before { 
  content: '\e0a3'; /* '' */
} 
.icon-lock-open:before { 
  content: '\e0a4'; /* '' */
} 
.icon-mail:before { 
  content: '\e0a5'; /* '' */
} 
.icon-map:before { 
  content: '\e0a6'; /* '' */
} 
.icon-media-eject-outline:before { 
  content: '\e0a7'; /* '' */
} 
.icon-media-eject:before { 
  content: '\e0a8'; /* '' */
} 
.icon-media-fast-forward-outline:before { 
  content: '\e0a9'; /* '' */
} 
.icon-media-fast-forward:before { 
  content: '\e0aa'; /* '' */
} 
.icon-media-pause-outline:before { 
  content: '\e0ab'; /* '' */
} 
.icon-media-pause:before { 
  content: '\e0ac'; /* '' */
} 
.icon-media-play-outline:before { 
  content: '\e0ad'; /* '' */
} 
.icon-media-play-reverse-outline:before { 
  content: '\e0ae'; /* '' */
} 
.icon-media-play-reverse:before { 
  content: '\e0af'; /* '' */
} 
.icon-media-play:before { 
  content: '\e0b0'; /* '' */
} 
.icon-media-record-outline:before { 
  content: '\e0b1'; /* '' */
} 
.icon-media-record:before { 
  content: '\e0b2'; /* '' */
} 
.icon-media-rewind-outline:before { 
  content: '\e0b3'; /* '' */
} 
.icon-media-rewind:before { 
  content: '\e0b4'; /* '' */
} 
.icon-media-stop-outline:before { 
  content: '\e0b5'; /* '' */
} 
.icon-media-stop:before { 
  content: '\e0b6'; /* '' */
} 
.icon-message-typing:before { 
  content: '\e0b7'; /* '' */
} 
.icon-message:before { 
  content: '\e0b8'; /* '' */
} 
.icon-messages:before { 
  content: '\e0b9'; /* '' */
} 
.icon-microphone-outline:before { 
  content: '\e0ba'; /* '' */
} 
.icon-microphone:before { 
  content: '\e0bb'; /* '' */
} 
.icon-minus-outline:before { 
  content: '\e0bc'; /* '' */
} 
.icon-minus:before { 
  content: '\e0bd'; /* '' */
} 
.icon-mortar-board:before { 
  content: '\e0be'; /* '' */
} 
.icon-news:before { 
  content: '\e0bf'; /* '' */
} 
.icon-notes-outline:before { 
  content: '\e0c0'; /* '' */
} 
.icon-notes:before { 
  content: '\e0c1'; /* '' */
} 
.icon-pen:before { 
  content: '\e0c2'; /* '' */
} 
.icon-pencil:before { 
  content: '\e0c3'; /* '' */
} 
.icon-phone-outline:before { 
  content: '\e0c4'; /* '' */
} 
.icon-phone:before { 
  content: '\e0c5'; /* '' */
} 
.icon-pi-outline:before { 
  content: '\e0c6'; /* '' */
} 
.icon-pi:before { 
  content: '\e0c7'; /* '' */
} 
.icon-pin-outline:before { 
  content: '\e0c8'; /* '' */
} 
.icon-pin:before { 
  content: '\e0c9'; /* '' */
} 
.icon-pipette:before { 
  content: '\e0ca'; /* '' */
} 
.icon-plane-outline:before { 
  content: '\e0cb'; /* '' */
} 
.icon-plane:before { 
  content: '\e0cc'; /* '' */
} 
.icon-plug:before { 
  content: '\e0cd'; /* '' */
} 
.icon-plus-outline:before { 
  content: '\e0ce'; /* '' */
} 
.icon-plus:before { 
  content: '\e0cf'; /* '' */
} 
.icon-point-of-interest-outline:before { 
  content: '\e0d0'; /* '' */
} 
.icon-point-of-interest:before { 
  content: '\e0d1'; /* '' */
} 
.icon-power-outline:before { 
  content: '\e0d2'; /* '' */
} 
.icon-power:before { 
  content: '\e0d3'; /* '' */
} 
.icon-printer:before { 
  content: '\e0d4'; /* '' */
} 
.icon-puzzle-outline:before { 
  content: '\e0d5'; /* '' */
} 
.icon-puzzle:before { 
  content: '\e0d6'; /* '' */
} 
.icon-radar-outline:before { 
  content: '\e0d7'; /* '' */
} 
.icon-radar:before { 
  content: '\e0d8'; /* '' */
} 
.icon-refresh-outline:before { 
  content: '\e0d9'; /* '' */
} 
.icon-refresh:before { 
  content: '\e0da'; /* '' */
} 
.icon-rss-outline:before { 
  content: '\e0db'; /* '' */
} 
.icon-rss:before { 
  content: '\e0dc'; /* '' */
} 
.icon-scissors-outline:before { 
  content: '\e0dd'; /* '' */
} 
.icon-scissors:before { 
  content: '\e0de'; /* '' */
} 
.icon-shopping-bag:before { 
  content: '\e0df'; /* '' */
} 
.icon-shopping-cart:before { 
  content: '\e0e0'; /* '' */
} 
.icon-social-at-circular:before { 
  content: '\e0e1'; /* '' */
} 
.icon-social-dribbble-circular:before { 
  content: '\e0e2'; /* '' */
} 
.icon-social-dribbble:before { 
  content: '\e0e3'; /* '' */
} 
.icon-social-facebook-circular:before { 
  content: '\e0e4'; /* '' */
} 
.icon-social-facebook:before { 
  content: '\e0e5'; /* '' */
} 
.icon-social-flickr-circular:before { 
  content: '\e0e6'; /* '' */
} 
.icon-social-flickr:before { 
  content: '\e0e7'; /* '' */
} 
.icon-social-github-circular:before { 
  content: '\e0e8'; /* '' */
} 
.icon-social-github:before { 
  content: '\e0e9'; /* '' */
} 
.icon-social-google-plus-circular:before { 
  content: '\e0ea'; /* '' */
} 
.icon-social-google-plus:before { 
  content: '\e0eb'; /* '' */
} 
.icon-social-instagram-circular:before { 
  content: '\e0ec'; /* '' */
} 
.icon-social-instagram:before { 
  content: '\e0ed'; /* '' */
} 
.icon-social-last-fm-circular:before { 
  content: '\e0ee'; /* '' */
} 
.icon-social-last-fm:before { 
  content: '\e0ef'; /* '' */
} 
.icon-social-linkedin-circular:before { 
  content: '\e0f0'; /* '' */
} 
.icon-social-linkedin:before { 
  content: '\e0f1'; /* '' */
} 
.icon-social-pinterest-circular:before { 
  content: '\e0f2'; /* '' */
} 
.icon-social-pinterest:before { 
  content: '\e0f3'; /* '' */
} 
.icon-social-skype-outline:before { 
  content: '\e0f4'; /* '' */
} 
.icon-social-skype:before { 
  content: '\e0f5'; /* '' */
} 
.icon-social-tumbler-circular:before { 
  content: '\e0f6'; /* '' */
} 
.icon-social-tumbler:before { 
  content: '\e0f7'; /* '' */
} 
.icon-social-twitter-circular:before { 
  content: '\e0f8'; /* '' */
} 
.icon-social-twitter:before { 
  content: '\e0f9'; /* '' */
} 
.icon-social-vimeo-circular:before { 
  content: '\e0fa'; /* '' */
} 
.icon-social-vimeo:before { 
  content: '\e0fb'; /* '' */
} 
.icon-social-youtube-circular:before { 
  content: '\e0fc'; /* '' */
} 
.icon-social-youtube:before { 
  content: '\e0fd'; /* '' */
} 
.icon-sort-alphabetically-outline:before { 
  content: '\e0fe'; /* '' */
} 
.icon-sort-alphabetically:before { 
  content: '\e0ff'; /* '' */
} 
.icon-sort-numerically-outline:before { 
  content: '\e100'; /* '' */
} 
.icon-sort-numerically:before { 
  content: '\e101'; /* '' */
} 
.icon-spanner-outline:before { 
  content: '\e102'; /* '' */
} 
.icon-spanner:before { 
  content: '\e103'; /* '' */
} 
.icon-spiral:before { 
  content: '\e104'; /* '' */
} 
.icon-star-full-outline:before { 
  content: '\e105'; /* '' */
} 
.icon-star-half-outline:before { 
  content: '\e106'; /* '' */
} 
.icon-star-half:before { 
  content: '\e107'; /* '' */
} 
.icon-star-outline:before { 
  content: '\e108'; /* '' */
} 
.icon-star:before { 
  content: '\e109'; /* '' */
} 
.icon-starburst-outline:before { 
  content: '\e10a'; /* '' */
} 
.icon-starburst:before { 
  content: '\e10b'; /* '' */
} 
.icon-stopwatch:before { 
  content: '\e10c'; /* '' */
} 
.icon-support:before { 
  content: '\e10d'; /* '' */
} 
.icon-tabs-outline:before { 
  content: '\e10e'; /* '' */
} 
.icon-tag:before { 
  content: '\e10f'; /* '' */
} 
.icon-tags:before { 
  content: '\e110'; /* '' */
} 
.icon-th-large-outline:before { 
  content: '\e111'; /* '' */
} 
.icon-th-large:before { 
  content: '\e112'; /* '' */
} 
.icon-th-list-outline:before { 
  content: '\e113'; /* '' */
} 
.icon-th-list:before { 
  content: '\e114'; /* '' */
} 
.icon-th-menu-outline:before { 
  content: '\e115'; /* '' */
} 
.icon-th-menu:before { 
  content: '\e116'; /* '' */
} 
.icon-th-small-outline:before { 
  content: '\e117'; /* '' */
} 
.icon-th-small:before { 
  content: '\e118'; /* '' */
} 
.icon-thermometer:before { 
  content: '\e119'; /* '' */
} 
.icon-thumbs-down:before { 
  content: '\e11a'; /* '' */
} 
.icon-thumbs-ok:before { 
  content: '\e11b'; /* '' */
} 
.icon-thumbs-up:before { 
  content: '\e11c'; /* '' */
} 
.icon-tick-outline:before { 
  content: '\e11d'; /* '' */
} 
.icon-tick:before { 
  content: '\e11e'; /* '' */
} 
.icon-ticket:before { 
  content: '\e11f'; /* '' */
} 
.icon-time:before { 
  content: '\e120'; /* '' */
} 
.icon-times-outline:before { 
  content: '\e121'; /* '' */
} 
.icon-times:before { 
  content: '\e122'; /* '' */
} 
.icon-trash:before { 
  content: '\e123'; /* '' */
} 
.icon-tree:before { 
  content: '\e124'; /* '' */
} 
.icon-upload-outline:before { 
  content: '\e125'; /* '' */
} 
.icon-upload:before { 
  content: '\e126'; /* '' */
} 
.icon-user-add-outline:before { 
  content: '\e127'; /* '' */
} 
.icon-user-add:before { 
  content: '\e128'; /* '' */
} 
.icon-user-delete-outline:before { 
  content: '\e129'; /* '' */
} 
.icon-user-delete:before { 
  content: '\e12a'; /* '' */
} 
.icon-user-outline:before { 
  content: '\e12b'; /* '' */
} 
.icon-user:before { 
  content: '\e12c'; /* '' */
} 
.icon-vendor-android:before { 
  content: '\e12d'; /* '' */
} 
.icon-vendor-apple:before { 
  content: '\e12e'; /* '' */
} 
.icon-vendor-microsoft:before { 
  content: '\e12f'; /* '' */
} 
.icon-video-outline:before { 
  content: '\e130'; /* '' */
} 
.icon-video:before { 
  content: '\e131'; /* '' */
} 
.icon-volume-down:before { 
  content: '\e132'; /* '' */
} 
.icon-volume-mute:before { 
  content: '\e133'; /* '' */
} 
.icon-volume-up:before { 
  content: '\e134'; /* '' */
} 
.icon-volume:before { 
  content: '\e135'; /* '' */
} 
.icon-warning-outline:before { 
  content: '\e136'; /* '' */
} 
.icon-warning:before { 
  content: '\e137'; /* '' */
} 
.icon-watch:before { 
  content: '\e138'; /* '' */
} 
.icon-waves-outline:before { 
  content: '\e139'; /* '' */
} 
.icon-waves:before { 
  content: '\e13a'; /* '' */
} 
.icon-weather-cloudy:before { 
  content: '\e13b'; /* '' */
} 
.icon-weather-downpour:before { 
  content: '\e13c'; /* '' */
} 
.icon-weather-night:before { 
  content: '\e13d'; /* '' */
} 
.icon-weather-partly-sunny:before { 
  content: '\e13e'; /* '' */
} 
.icon-weather-shower:before { 
  content: '\e13f'; /* '' */
} 
.icon-weather-snow:before { 
  content: '\e140'; /* '' */
} 
.icon-weather-stormy:before { 
  content: '\e141'; /* '' */
} 
.icon-weather-sunny:before { 
  content: '\e142'; /* '' */
} 
.icon-weather-windy-cloudy:before { 
  content: '\e143'; /* '' */
} 
.icon-weather-windy:before { 
  content: '\e144'; /* '' */
} 
.icon-wi-fi-outline:before { 
  content: '\e145'; /* '' */
} 
.icon-wi-fi:before { 
  content: '\e146'; /* '' */
} 
.icon-wine:before { 
  content: '\e147'; /* '' */
} 
.icon-world-outline:before { 
  content: '\e148'; /* '' */
} 
.icon-world:before { 
  content: '\e149'; /* '' */
} 
.icon-zoom-in-outline:before { 
  content: '\e14a'; /* '' */
} 
.icon-zoom-in:before { 
  content: '\e14b'; /* '' */
} 
.icon-zoom-out-outline:before { 
  content: '\e14c'; /* '' */
} 
.icon-zoom-out:before { 
  content: '\e14d'; /* '' */
} 
.icon-zoom-outline:before { 
  content: '\e14e'; /* '' */
} 
.icon-zoom:before { 
  content: '\e14f'; /* '' */
}