﻿body {
    background-color: white;
    width: 100%;
    min-width: 300px;
}


#container {
}




body.splash {
    background-color: $highlight-color;
    background-image: $highlight-pattern-animated;
    background-attachment: fixed;
    background-size: 100% auto;
}

body.splash .splash-bg {
    padding: $padding-double;
    margin-left: $padding-double;
    margin-right: $padding-double;
    background-color: $solid-color;
}
body.splash .splash-bg h1,
body.splash .splash-bg h2,
body.splash .splash-bg h3,
body.splash .splash-bg p,
body.splash .splash-bg .label,
body.splash .splash-bg input[type='email'],
body.splash .splash-bg input[type='text'],
body.splash .splash-bg input[type='password'],
body.splash .splash-bg li {
    color: $solid-text-color;
}
body.splash .splash-bg td {
    background-color: $solid-color;
    border-color: transparent;
}
body.splash .splash-bg input[type="submit"] {
    border-color: $solid-text-color;
}
body.splash .splash-bg ul.listing li {
    border-color: $solid-text-color;
}
body.splash .splash-bg input[type="email"],
body.splash .splash-bg input[type="text"],
body.splash .splash-bg input[type="password"] {
    border-color: $solid-text-color;
    background-color: transparent;
}
body.splash .splash-bg .ui-checkboxradio-radio-label {
    color: $solid-text-color;
    border-color: $solid-text-color;
    background-color: transparent;
    font-weight: bold !important;
}
body.splash table.table .bb-button-set .ui-checkboxradio-label.ui-button {
    
    padding-top: 0px !important;
}
body.splash .splash-bg .ui-checkboxradio-radio-label.ui-state-active,
body.splash .splash-bg .ui-checkboxradio-radio-label:hover {
    color: $highlight-text-color !important;
    background-color: $highlight-color;
}




#navigation {
    z-index: 1000;
    position: fixed;
    width: $navigation-width;
    height: 100%;
    top: 0;
    left: 0;
}

body.mobile #navigation {
    display: none;
}


div.page {
    margin-left: $navigation-width;
    margin-right: $sidebar-width;
    padding-left: 0;
    padding-right: 0;
}

body.mobile div.page {
    margin-left: $sidebar-width;
}


div.page,
.standard-padding {
    padding-left: $padding;
    padding-right: $padding;
}

div.page {
    padding-top: $padding;
    padding-bottom: $padding;
}

div.page > h1:first-of-type {
    display: none;
}


div.focus-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    min-height: 100%;
}
div.loading-page {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    max-width: 600px;
    min-height: 120px;
    max-height: 120px;
}


div.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* ratio 16x9 */
    height: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
}
div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


