﻿





.logo-title * {
    color: $highlight-text-color;
}

.logo-title h1 {
    margin-bottom: 0em;
    margin-top: 0em;
    font-size: 3em;
}
.logo-title h2 {
    margin-bottom: 0em;
    margin-top: 0em;
}
.logo-title h3 {
    margin-bottom: 0em;
    margin-top: 0em;
}
.logo-title.spaced-bottom {
    padding-bottom: $padding-double;
}
.logo-title.spaced-top {
    padding-top: $padding-double;
}
.logo-title.centered {
    text-align: center;
}
.logo-title.centered #logo .cube {
    margin-left: auto;
    margin-right: auto;
}

.version-title h3 {
    color: $highlight-text-color;
    margin-top: 1em;
    font-size: 0.8em;
}