﻿
#navigation {
    background-color: #FFFFFF;
    border-right: 1px solid $solid-color;
}
#navigation.dark {
    background-color: $solid-color;
}


#navigation .logo-title {
  padding-top: $padding;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 1.4em;
}

#navigation .logo-title a {
    text-decoration: none;
    display: block;
    padding-top: $padding-quarter;
    padding-bottom: $padding-quarter;
    transition-property: padding-left,background-color;
    transition-duration: $default-ui-transition-duration;
    transition-timing-function: ease-in-out;
}
#navigation .logo-title a * {
    transition-property: color;
    transition-duration: $default-ui-transition-duration;
    transition-timing-function: ease-in-out;
}
#navigation .logo-title a:hover {
    background-color: $highlight-color;
    padding-left: $padding-half;
    color: $highlight-text-color;
}
#navigation .logo-title a:hover * {
    color: $highlight-text-color;
}

#navigation h1 {
    font-size: 22px;
}
#navigation h2 {
    font-size: 14px;
}

#navigation ul {
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

#navigation ul li {
    list-style-type: none;
    
}

#navigation ul li a {
    display: inherit;
    padding-top: 10px;
    padding-bottom: 8px;
    word-wrap: break-word;
    position: relative;
    text-align: left;
    border-bottom: 1px solid $solid-color;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    transition-property: padding-left,background-color,color;
    transition-duration: $default-ui-transition-duration;
    transition-timing-function: ease-in-out;
}
#navigation ul li:hover a {
    background-color: $highlight-color;
    background-image: $highlight-pattern-animated;
    background-attachment: fixed;
    background-size: auto auto; /* pattern */
    color: $highlight-text-color;
    padding-left: $padding-half;
}
#navigation ul li .icon {
    display: none;
}

#navigation ul a {
    text-decoration: none;
}

#navigation.dark h1,
#navigation.dark h2,
#navigation.dark ul li,
#navigation.dark ul li a {
    color: $white-color;
}
#navigation.dark ul li a {
    border-bottom-color: $barely-visible-color;
}
#navigation.dark ul li:hover a {
    color: $highlight-text-color;
}


#navigation ul.account {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 12px;
}
#navigation ul.account li.info {
    font-size: 10px;
    border-bottom: none;
    text-transform: none;
    font-weight: normal;
    cursor: default;
    padding-bottom: 0px;
}