﻿


/* ==== Standard ==== */

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    cursor: default;
}

body, html {
    height: 100.1%;
}

body {
    -webkit-text-size-adjust: 100%;
}

input[type=range]:focus,
:focus {
    outline: 0;
    outline: none;
}
::-moz-focus-inner {border:0;}

img {
    border: 0px;
}