﻿
input,
select,
textarea {
    border: 1px solid $border-color;
    padding: $padding-half;
    background-color: $translucent-color;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;

    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
input[type='submit'],
.bb-button,
.ui-button {
    padding: $padding-half;
    padding-left: $padding;
    padding-right: $padding;
    width: auto;
    font-weight: bold;
    background-color: $solid-color;
    cursor: pointer;
    color: $white-color;
    text-transform: uppercase;
    border: 1px solid $solid-color;

    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

input, 
select, 
textarea {
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
input[type='submit']:hover,
.bb-button:hover,
.bb-button.selected,
.ui-button:hover {
    background-color: $highlight-color;
    background-image: $highlight-pattern;
    background-attachment: fixed;
    background-size: auto auto; /* pattern */
    color: $highlight-text-color;
    border: 1px solid $solid-color;
}
input[type='submit']:hover,
.bb-button:hover,
.ui-button:hover {
    background-image: $highlight-pattern-animated;
}
input[type='submit']:active,
.bb-button:active,
.ui-button:active {
    padding-top: 10px;
    padding-bottom: 6px;
}