﻿
table * {
    font-size: 12px;
}


table.order-schedule {

}

table.order-schedule td {
    vertical-align: top;
    height: 100px;
}
table.order-schedule td.day {
    
}

table.order-schedule td h2 {
    margin-top: 0px;
}
table.order-schedule td h2.highlight-on-hover {
    transition-property: color opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    color: $solid-color;
    opacity: 0.5;
}
table.order-schedule td:hover h2.highlight-on-hover {
    color: $table-text-color;
    opacity: 1.0;
}


table.order-schedule td a.button {
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 0.0;
}
table.order-schedule td:hover a.button {
    opacity: 1.0;
}

table.order-schedule td .tools {

}


table.order-schedule.has-selection td {
    opacity: 0.3;
}
table.order-schedule.has-selection td.schedule-selected {
    opacity: 1.0;
}

table.table tr.warning td {
    background-color: $red-color;
}


.ui-table tr.selected {
    background-color: $highlight-color;
}