﻿<!--<li><a href="/admin/finance/invoices">{text.invoices=Invoices}<span class="icon icon-mail"></span></a></li>-->

<a class="ui-tile" href="/admin/finance/invoices">
    <div class="icon">{icon.mailer}</div>
    <div class="title">{text.invoices=Invoices}</div>
</a>