﻿<!--<li><a href="/admin/finance/businesses">{text.businesses}<span class="icon icon-business-card"></span></a></li>-->

<a class="ui-tile" href="/admin/finance/businesses">
    <div class="icon">{icon.contact}</div>
    <div class="title">{text.businesses}</div>
</a>