﻿<div class="ui-entity-card entity-{card.type} {card.classes}" id="{card.id}" title="{card.title}">
    {card.contents}
    <div class="card-attachments">
        {card.attachments}
    </div>
   {card.actions}
</div>