﻿<div class="content-node {node.classes}" node-type="{node.type}" node-id="{node.public-id}" node-value="{node.value}" node-options="{node.options}">
    <div class="wrapper">
        <div class="handle faded"></div>
        <div class="contents">
            <div class="content-type faded content-actions">
                <span class="node-type">{node.type-title}</span>
                <a title="{text.content-node.delete}" class="ui-button option-small option-translucent option-icon-only node-tools action-delete">{icon.trash}</a>
            </div>
            <div class="content-value"></div>
        </div>
    </div>
</div>