﻿<script>
    Machinata.ready(function () {


        // New row
        $(".editable-entity-list .new-row").click(function () {
            var form = $(this).closest("form");
            var newRow = form.find("tr:last").clone();
            var table = form.find("table");

            // temporary id (guid) for new entity 
            var guid = Machinata.guid().replaceAll("-", "");;

            // Clear first value
            var firstInput = newRow.find("input").first();
            firstInput.attr("value", "");

            // Update names of inputs
            newRow.find("input").each(function () {
                var input = $(this);
                var formname = input.closest("td").attr("form-name");
                input.attr("name", guid + ":" + formname);
            });
          
            table.append(newRow);


        });

        // Add delete buttons and action
        $(".editable-entity-list tr.entity-list-item").each(function () {
            var tr = $(this);
            var deleteButton = $("<input value='{text.delete}' type='button' class='ui-button'></input> ");
            deleteButton.click(function () {

                var button = $(this);
                button.closest("tr").remove();

                var form = button.closest("form");
                var deletedItem = $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', 'deleted:' + button.closest("tr").attr("data-public-id"))
                    .appendTo('form');
                form.append(deletedItem);
            });
            tr.append(deleteButton);
        });
    });

</script>
<form class="auto-bind-input-properties  editable-entity-list" method="post" api-call="{api-call}" on-success="{on-success}">
    <table class="ui-table entity-list xoption-sticky-header option-no-icon-links {classes}">
        {entities}
    </table>
    <button class="ui-button">{text.save}</button>
    <input type="button" value="{text.create}" class="ui-button new-row"/>
</form>