<table class="ui-quickfilter {filter.class} ui-form option-margin-bottom">
    <tr>
        <td class="input-column">
            <input class="filter-query" type="text" placeholder="{text.filter}" value="{filter.query}" onkeyup="if (event.keyCode == 13) { $(this).closest('tr').find('input.filter-button').trigger('click'); }"/>
        </td>
        <td class="tools-column">
            <input class="filter-button ui-button option-small" type="button" value="{text.search}" onclick="Machinata.changeQueryString('filter-query', $(this).closest('tr').find('input.filter-query').val());"/>
        </td>
    </tr>
</table>
<div class="clear"></div>