﻿<form class="option-snaps-to-top auto-bind-input-properties" method="{form.method}" enctype="multipart/form-data" {form.action} {form.api-call} {form.on-success} {form.on-error} data-content-source="{form.content-source}">
    <input type="hidden" name="form-builder-id" value="{form.form-builder-id}" />
    <div class="ui-form">
        <div class="ui-card-content">
            {properties}
        </div>
        <div class="ui-card-buttons">
            <input class="ui-button"  value="{form.button-value}" name="{form.button-name}" type="submit" />
        </div>
    </div>
</form>