﻿<tr class="{entity.classes}" data-public-id="{entity.public-id}">
    <td class="center no-highlight">
        <!--<input class="bb-radio selects-row" name="{entity.public-id}" type="radio" {entity.checked} api-call-on-change="{entity.selection-api-call}">-->
        <label class="ui-checkbox">
            <input class="selects-row" name="{entity.public-id}" type="radio" {entity.checked} api-call-on-change="{entity.selection-api-call}">
            <span class="checkmark"></span>
        </label>
    </td>
    {entity.properties}
</tr>