﻿<td form-name="{entity.property.form-name}" class="link type-{entity.property.type}" property-type="{entity.property.type}" data-raw-value="{entity.property.raw-value}">
    <a href="{entity.link}" class="has-link-icon">{entity.property.value}{icon.{entity.link-icon}}</a>
</td>