﻿<tr class="{entity.classes}" data-public-id="{entity.public-id}">
    <td class="center no-highlight">
        <!--<input class="bb-checkbox selects-row" name="selected" value="{entity.public-id}" type="checkbox"  api-call-on-change="{entity.selection-api-call}">-->
        <label class="ui-checkbox">
            <input class="selects-row" name="selected" {entity.checked} type="checkbox" value="{entity.public-id}" api-call-on-change="{entity.selection-api-call}" autocorrect="off" autocapitalize="none" autocomplete="off" />
            <span class="checkmark"></span>
        </label>
    </td>
    {entity.properties}
</tr>