﻿<tr class="{entity.classes}" data-public-id="{entity.public-id}">
    <td class="center no-highlight">
        <input class="" name="{entity.public-id}" value="{entity.quantity-value}" type="number" api-call-on-change="{entity.quantity-api-call}">
    </td>
    {entity.properties}
</tr>