﻿<div class="section {section.classes}">
    <div class="section-root section-item {section.classes}"><a class="{section.classes}" onclick="{section.on-click}" href="{section.path}">{section.title}</a></div>
    {section.items}
</div>
