﻿<div class="ui-pagination option-margin-top ui-controlgroup {pagination.class} remove-if-one-{pagination.num-pages} remove-if-zero-{pagination.num-pages}">
<a href="?page=1{pagination.filters}" class="ui-button option-small {pagination.first-class} first-shortcut">{text.pagination-first}</a><a href="?page={pagination.prev}{pagination.filters}" class="ui-button option-small {pagination.prev-class} prev-shortcut">{text.pagination-previous}</a>{pagination.pages}<a href="?page={pagination.next}{pagination.filters}" class="ui-button option-small {pagination.next-class} next-shortcut">{text.pagination-next}</a><a href="?page={pagination.last}{pagination.filters}" class="ui-button option-small {pagination.last-class} last-shortcut">{text.pagination-last}</a>
</div>