﻿<div class="ui-form-row" title="{property.tooltip}">
    <div class="ui-label">{property.title}</div>
    <div class="ui-value" property-type="{property.type}" property-name="{property.name}">{property.value}</div>
</div>