﻿<div class="ui-form-row" title="{property.tooltip}">
    <div class="ui-label">{property.name}</div>
    <div class="ui-value" width="100%"><img class="image-preview" src="{property.value}"/></div>
</div>