﻿<tr class="schedule-week schedule-{week.selected}">
    <td class="schedule schedule-{week.selected}">
        <div class="cell-label">KW {week.week}</div>
        {week.schedule}
    </td>
    {week.days}
</tr>
              
