﻿
<h3>{qrcode.title}</h3>
<p><pre>{qrcode.link}</pre></p>
<p><div class="bb-qrcode" data-qr-code="{qrcode.link}"></div></p>
<div class="xui-card-actions">
    <ul class="ui-listing">
        <li><a href="{page.navigation.current-path}/customize?url={qrcode.link-uri-safe}&amp;title={qrcode.title-uri-safe}">{text.customize-qrcode.en=Customize QR-Code}{icon.right}</a></li>
    </ul>
</div>
