﻿<div class="conversation">

    <div class="ui-card-content">
         <h2>{text.messages=Messages}</h2>
        {messages}
    </div>
     <div class="ui-card-content">
    {reply-send}
         </div>
</div>
