﻿<div class="message {is-own-message}">
    <div class="tab"></div>
    <div class="user">{entity.author}</div>
    <div class="text">{entity.message-with-breaks}</div>
    <div class="created">{entity.created}</div>
</div>