﻿<div class="message xis-own-message hide-if-false-{response-enabled}">
    <div class="tab"></div>
    <form class="ui-form" method="post" enctype="multipart/form-data" api-call="{api-call}" on-success="{page.navigation.current-path}">
      
            <textarea class="text" name="message"></textarea>
            <div class="clear"></div>
            <select name="status">
                {status.options}
            </select>
       
        <div class="ui-card-buttons">
            <input class="ui-button" value="{text.reply=Reply}" name="button" type="submit">
        </div>
            
    </form>
</div>