﻿{email.head}
{email.header}
<div class="content">
    <p>{support-ticket.salution}</p>
    <p>{support-ticket.introduction}</p>
    <p>{support-ticket.conclusion}</p>
</div>
<div>
    {support-ticket.cms-content}
</div>
<div class="content">
    <p>
        {text.use-link-below}
    </p>
    <p>
        <a href="{server-url}/{ticket-public-path}?guid={support-ticket.guid}">{text.view-support-ticket}</a>
    </p>
    <p>
        {text.do-not-reply}
    </p>
    <h2>{text.message=Message}</h2>
    <p><b>{support-ticket.author}:</b> {support-ticket.latest-support-message}</p>
    <h2>{text.ticket-infos-title=Ticket Infos}</h2>
    <div>{support-ticket}</div>
</div>
{email.footer}