﻿<div class="card-wrapper">
    <div class="entity-icon icon icon-{card.icon}"></div>
    <div class="entity-main">
        {card.main}
    </div>
    <div class="entity-sub">
        {card.sub}
    </div>
    <div class="entity-tag">
        {card.tag}
    </div>
    <div class="entity-card-shadow shadow-1"></div>
    <div class="entity-card-shadow shadow-2"></div>
</div>