﻿<form class="auto-bind-input-properties" method="{form.method}" enctype="multipart/form-data" {form.action} {form.api-call} {form.on-success} {form.on-error} data-content-source="{form.content-source}">
    <input type="hidden" name="form-builder-id" value="{form.form-builder-id}" />
    <table class="table highlight-input-on-hover">
        {properties}
        <tr>
            <td class="label"></td>
            <td><input value="{form.button-value}" name="{form.button-name}" type="submit" /></td>
        </tr>
    </table>
</form>