<div class="filter {filter.class}">
    <input class="filter-query" type="text" placeholder="{text.filter}" value="{filter.query}" onkeyup="if (event.keyCode == 13) { $(this).siblings('input.filter-button').trigger('click'); }"/>
    <input class="filter-button bb-button" type="button" value="{text.search}" onclick="Machinata.changeQueryString('filter-query', $(this).siblings('input.filter-query').val());"/>
    <div class="clear"></div>
</div>