﻿<tr class="{entity.classes}" data-public-id="{entity.public-id}">
    <td class="center no-highlight">
        <input class="bb-checkbox selects-row" name="selected" value="{entity.public-id}" type="checkbox" {entity.checked} api-call-on-change="{entity.selection-api-call}">
    </td>
    {entity.properties}
</tr>