﻿<tr class="form-type-{property.form-type}">
    <td class="label">{property.title}{property.required-star}</td>
    <td class="input">
        <input 
               name="{property.form-name}" 
               type="{property.form-type}" 
               value="{property.value}" 
               data-property-original-value="{property.value}" 
               data-property-raw-value="{property.raw-value}" 
               data-property-universal-value="{property.universal-value}" 
               data-property-options="{property.options}" 
               data-property-options-titles="{property.options-titles}" 
               data-property-min-value="{property.min-value}" 
               data-property-max-value="{property.max-value}" 
               data-property-min-length="{property.min-length}" 
               data-property-max-length="{property.max-length}" 
               data-property-type="{property.type}" 
               data-property-parent-type="{property.parent.type}" 
               data-property-form-type="{property.form-type}" 
               data-property-format="{property.format}" 
               data-property-required="{property.required}" 
               data-property-placeholder="{property.placeholder}" 
               data-property-pattern="{property.pattern}" 
               data-property-readonly="{property.readonly}" 
               data-property-autocomplete="{property.autocomplete}" 
               data-property-tooltip="{property.tooltip}" 
        />
    </td>
</tr>