﻿<th  form-name="{entity.property.form-name}" class="highlight-on-hover {entity.property.is-active} {entity.property.sort-dir-updown}">
    <a href="?{entity.property.query}">
        <span class="icon icon-arrow-{entity.property.sort-dir-updown} only-if-selected"></span>
        <span class="icon icon-transparent only-if-not-selected"></span>
        {entity.property.title}
        <span class="icon icon-transparent"></span>
    </a>
</th>