﻿<div class="section requires-policy policy-admin-data">
    <div class="section-root section-item"><a class="" href="/admin/data">{text.data=Data}</a></div>
    <!--<div class="section-items">
        <div class="section-item {item.classes}"><a class="" href="{item.path}" {item.target-attribute}>{item.title}</a></div>
    </div>-->
</div>