﻿<div class="section requires-policy policy-admin-dashbboard">
    <div class="section-root section-item"><a class="" href="/admin/dashboard">{text.dashboard=Dashboard}</a></div>
    <!--<div class="section-items">
        <div class="section-item {item.classes}"><a class="" href="{item.path}" {item.target-attribute}>{item.title}</a></div>
    </div>-->
</div>
