﻿<!-- Begin div.container -->
<div id="container" class="container user-{user.auth-status} {user.policy-list}">
    <div id="navigation" class="dark">
        <div class="logo-title">
            <a href="/admin">
                <h1>{project-name}</h1>
                <h2>{text.admin-subtitle}</h2>
            </a>
        </div>
        <ul class="menu">
            {page.menu-items}
        </ul>
        <ul class="account requires-login">
            <li class="info">{text.admin-logged-in-as=Logged in as}</li>
            <li class="requires-login"><a href="/admin/account">{user.name}</a></li>
        </ul>
    </div>