﻿<ul class="pagination {pagination.class} remove-if-one-{pagination.num-pages} remove-if-zero-{pagination.num-pages}">
    <li class="{pagination.first-class}"><a href="?page=1{pagination.filters}" class="first-shortcut">{text.pagination-first}</a></li>
    <li class="{pagination.prev-class}"><a href="?page={pagination.prev}{pagination.filters}" class="prev-shortcut">{text.pagination-previous}</a></li>
    {pagination.pages}
    <li class="{pagination.next-class}"><a href="?page={pagination.next}{pagination.filters}" class="next-shortcut">{text.pagination-next}</a></li>
    <li class="{pagination.last-class}"><a href="?page={pagination.last}{pagination.filters}" class="last-shortcut">{text.pagination-last}</a></li>
</ul>