﻿<div class="ui-schedule-slot ui-listing-item {slot.is-today}"
     data-time="{slot.subject}" 
     data-start="{slot.start}" 
     data-end="{slot.end}">
    <div class="column time">
        {slot.subject}
    </div>
    <div class="column items">
        
    </div>
</div>