﻿<div class="ui-schedule-item" 
     data-subject="{item.subject-translated}"
     data-start="{item.start}"
     data-end="{item.end}">
    <div class="title">{item.timerange} {item.subject-translated}</div>
    <div class="relative-time {item.is-today}" data-time="{item.start-time}"></div>
</div>