﻿<div class="connection ui-listing-item"
     data-conneciton-name="{connection.name}"
     data-conneciton-product-name="{connection.product-name}"
     data-conneciton-product-direction="{connection.product-direction}"
     data-conneciton-product-type="{connection.product-type}"
     data-conneciton-product-line="{connection.product-line}"
     data-conneciton-product-icon="{connection.product-icon}"
     data-conneciton-product-color-fg="{connection.product-color-fg}"
     data-conneciton-product-color-bg="{connection.product-color-bg}"
     data-conneciton-location-name="{connection.location-name}"
     data-conneciton-location-time="{connection.location-time}"
     data-conneciton-location-countdown="{connection.location-countdown}"
     data-conneciton-location-platform="{connection.location-platform}">
    <div class="column time">
        {connection.location-time}
        <div class="relative-time" data-time="{connection.location-time}" data-date="{connection.location-date}"></div>
    </div>
    <div class="column product">
        <span class="icon icon-{connection.product-icon}" title="{connection.product-icon}"></span>
        <span class="line" style="background-color: #{connection.product-color-bg}; color: #{connection.product-color-fg};">{connection.product-line}</span>
    </div>
    <div class="column direction">
        {text.in-direction} {connection.product-direction}
    </div>
</div>