<link rel="stylesheet" type="text/css" href="{cdn-url}/static/bundle/css/machinata-nerves-bundle.css?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}">
<script type="text/javascript" src="/static/bundle/js/machinata-nerves-bundle.js?lang={page.language}&amp;theme={page.theme}&amp;build={build-id}&amp;debug={debug}"></script>
<style>
    
    .ui-container {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .ui-button,
    a.button {
        color: white;
        background-color: black;
        border-color: transparent;
        font-size: 16px;
        padding-top: 8px;
        padding-bottom: 6px;
        padding-left: 15px;
        padding-right: 15px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1.72222;
    }
    
    .ui-listing-header {
        background-color: black;
        border-bottom: 2px solid white;
    }
    .ui-listing-header * {
        color: white;
    }
    
    .ui-listing-item {
        background-color: black;
    }
    .ui-listing-item * {
        color: white;
    }

    .ui-listing-item .column {
        border-bottom: 1px solid white;
    }

    .ui-schedule-slot.is-now.is-today {
        background-color: gray;
    }

    .ui-schedule-slot.is-now.is-today .column.time {
        color: white;
    }

    .ui-schedule-item {
        background-color: #409ACF;
    }

    .ui-schedule-item .title {
        color: white;
    }

    .ui-schedule-item .relative-time {
        color: white;
    }


    .ui-listing-flag .status {
        color: white;
    }

    .zvvtimetable-sign .connection.is-past {
        opacity: .7;
    }
    
    .zvvtimetable-sign .connection .icon.icon-tram {
        background-image: url({cdn-url}/static/file/images/signage/tram-2x.png?recolor=%23FFFFFF);
    }
    .zvvtimetable-sign .connection .icon.icon-train {
        background-image: url({cdn-url}/static/file/images/signage/train-2x.png?recolor=%23FFFFFF);
    }
    .zvvtimetable-sign .connection .icon.icon-bus {
        background-image: url({cdn-url}/static/file/images/signage/bus-2x.png?recolor=%23FFFFFF);
    }
</style>