<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<script>
    Machinata.ready(function () {
        if ($(".zvvtimetable-sign").length > 0) {
            $("#footer table.right").hide();
        }
    });

    Machinata.Responsive.onResize(function () {
      
     
        var elements = $(".zvvtimetable-sign, .advertisement-sign, .odttimetable-sign");
    
        if ($(parent.window).height() > $(parent.window).width()) {
            Machinata.debug("portrait");
            elements.addClass("portrait");
            elements.removeClass("landscape");
        }
        else {
            Machinata.debug("landscape");
            elements.addClass("landscape");
            elements.removeClass("portrait");
        }
                 
    });
</script>
<style>
        
        /* Theme colors:
        https://fonts.google.com/specimen/Open+Sans     
        Rot			    227/43/51	#e32b33
        Grau dunkel	    58/65/76 	#3a414c
        Grau light		238/240/245	#eef0f5

        */

        /* Lachen SZ Standard Branding */
        * {
            font-family: "Open Sans",sans-serif;
            color: black;
            margin: 0px;
            padding: 0px;
        }

        body, html {
            height: 100%;
        }

        h1, h2 {
            color: white;
            font-weight: normal;
        }
        h1 {
            font-size: 31px;
        }

        /* Gemeinde Lachen SZ Header */
        #header {
            position: fixed;
            width: 100%;
            height: 72px;
            background-color: white;
            z-index: 100;
        }

        #headerpusher {
            height: 50px;
        }

        body.no-header #headerpusher {
            display: none;
        }

        #header img.logo {
            width: 230px;
            height: auto;
            position: absolute;
            top: 16px;
            left: 14px;
        }


        /* Lachen UI-Kit */

        .ui-button,
        a.button {
            border: 1px solid transparent;
            color: #fff;
            background-color: #409ACF;
            border-color: transparent;
            font-size: 16px;
            padding-top: 8px;
            padding-bottom: 6px;
            padding-left: 15px;
            padding-right: 15px;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 1.72222;
        }

        .ui-listing-header {
            background-color: #e32b33;
            border-bottom: none;
        }

        .ui-listing-header .label {
            color: white;
        }

        .ui-listing-item {
            background-color: #eef0f5;
        }

        .ui-listing-item .column {
            border-bottom: 1px solid white;
            height: 41px;
        }


        /*Copied rules from burri*/
        .ui-schedule-slot.is-now.is-today {
            background-color: gray;
        }

        .ui-schedule-slot.is-now.is-today .column.time {
            color: white;
        }

        .ui-schedule-item {
            background-color: #409ACF;
        }

        .ui-schedule-item .title {
            color: white;
        }

        .ui-schedule-item .relative-time {
            color: white;
        }

        .ui-listing-flag.status-busy {
            background-color: #ff4747;
        }

        .ui-listing-flag.status-free {
            background-color: #38e083;
        }

        .ui-listing-flag .status {
            color: white;
        }


        /*Lachen Timetable*/
        .zvvtimetable-sign .connection .icon.icon-tram {
            background-image: url(/static/file/images/signage/tram-2x.png?recolor=%23e32b33);
        }

        .zvvtimetable-sign .connection .icon.icon-train {
            background-image: url(/static/file/images/signage/train-2x.png?recolor=%23e32b33);
        }

        .zvvtimetable-sign .connection .icon.icon-bus {
            background-image: url(/static/file/images/signage/bus-2x.png?recolor=%23e32b33);
        }

        .zvvtimetable-sign .connection .time {
            font-weight: normal;
        }

        .zvvtimetable-sign .connection .time .relative-time {
            color: #e32b33;
        }
 
        .zvvtimetable-sign .connection .line {
            font-weight: normal;
        }

        .advertisement-sign .text  {
            background-color: white;
        }

        .advertisement-sign .text h1 {
            background-color: #3a414c;
            padding-top: 14px;
            padding-left: 12px;
            padding-right: 12px;

        }

        .advertisement-sign .text h2 {
            background-color: #3a414c;
            font-size: 16px;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 27px;
            padding-top: 0px;
        }

        .advertisement-sign .text p {
            background-color: #eef0f5;  
            padding-top: 12px;
            padding-left: 12px;
            padding-right: 12px;
        }

        .advertisement-sign  .text div.buffer {
            background-color: #eef0f5;  
            padding-top: 12px;
            padding-left: 12px;
            padding-right: 12px;
            height: 100%;
        }

        #footer table.right{
            position: fixed;
            width: 100%;
            left: 0px;
            bottom: 0px;
            padding: 12px;
            padding-top: 11px;
            padding-bottom: 12px;
            font-size: 9px;
            text-align: right;
            background-color: white;
        }

        body.fullscreen .zvvtimetable-sign .copyright
        {
            padding-top: 3px;
            font-size: 9px;
            padding-bottom: 14px;
        }

        DEPRECATED_body.advertisment-sign-image #footer{
            display: none;
        }

        .ui-listing-item .column {
            padding: 8px;
        }

    
        /*Landscape Mode*/  
        .advertisement-sign.landscape .text .ui-container,
        .advertisement-sign.landscape .image .ui-container {
            padding-top: 72px;
        }
        .advertisement-sign.landscape .ui-container
        {
            padding-left: 3px;
        }
        
        .advertisement-sign.landscape .image .ui-container {
            height: 100%;
            box-sizing: border-box;
            padding-bottom: 40px;
        }
        .advertisement-sign.landscape .image .ui-container .image-asset {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
       
        .advertisement-sign.landscape div.buffer  {
            margin-left: 3px;
            margin-right: 14px;
        }


        .zvvtimetable-sign.landscape.ui-container {
            padding-right: 3px;
        }
      
        .advertisement-sign.landscape .text h2 {
          line-height: 21px;
        }

        
   
      

</style>