﻿<!-- Begin div.container -->
<div id="container" class="container">
    <div id="header">
        <div class="menu">
            <div class="pusher"></div>
            <div class="pusher"></div>
            <div class="pusher"></div>
            <div class="pusher"></div>
            <a class="section-strategy" href="{text.routes.external.strategy}">{text.section.strategy}</a>
            <a class="section-design" href="{text.routes.external.design}">{text.section.design}</a>
            <a class="section-branding" href="{text.routes.external.branding}">{text.section.branding}</a>
            <a class="section-digital" href="{text.routes.external.digital}">{text.section.digital}</a>
            <a class="section-agency" href="{text.routes.external.agency}">{text.section.agency}</a>
            <a class="section-journal" href="{text.routes.external.journal}">{text.section.journal}</a>
            <!--<a class="section-jobs" href="{text.routes.external.jobs}">{text.section.jobs}</a>-->
            <a class="section-contact" href="{text.routes.external.contact}">{text.section.contact}</a>
            <!--<a href="{text.routes.legal}">{text.section.external.legal}</a>-->
            <div class="lang-de-only"><a href="{page.route.alias.en}">English</a></div>
            <div class="lang-en-only"><a href="{page.route.alias.de}">Deutsch</a></div>
        </div>
        <div class="tab"><a href="{text.routes.default}">Nerves</a></div>
    </div>
    <div id="cover">
    </div>
    