﻿<div id="footer">
    <table class="right">
        <tr>
            <td>
                <p>
                    Powered by BURRI public elements & Nerves Agency Zurich 
                </p>
            </td>
        </tr>
    </table>
    <div class="clear"></div>
</div>
<!-- End div.container -->
</div>