﻿<tr>
    <td rowspan="6">{product.name}</td>
    <!--<td rowspan="6">{product.sku}</td>-->
    <td>{text.sku=SKU}</td>
    <td>{configuration.sku}</td>
    {business-prices.sku}
</tr>
<tr >
    <td>{text.retail-price=Retail}</td>
    <td>{configuration.retail-price}</td>
    {business-prices.retail}
</tr>
 <tr>
    <td>{text.customer-price=Customer}</td>
    <td>{configuration.customer-price}</td>
     {business-prices.customer}

</tr>
<tr>
    <td>{text.retail-vat=VAT Retail}</td>
    <td>{configuration.retail-vat-rate}</td>
    {business-prices.retail-vat}

</tr>
<tr>
    <td>{text.customer-vat=VAT Customer}</td>
    <td>{configuration.customer-vat-rate}</td>
    {business-prices.customer-vat}

</tr>
<tr>
    <td>{text.internal-price=Internal Price}</td>
    <td>{configuration.internal-price}</td>
    {business-prices.internal-price}
</tr>
