﻿


/* ==== Standard ==== */

.machinata-reporting-styling * {
    font-family: $text-font;
    /*color: black;*/
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    line-height: $line-height;

}


.machinata-reporting-styling input[type=range]:focus,
.machinata-reporting-styling :focus {
    outline: 0;
    outline: none;
}
.machinata-reporting-styling ::-moz-focus-inner {border:0;}

/*  https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events:none
    The element is never the target of pointer events; however, pointer events may target its descendant elements 
    if those descendants have pointer-events set to some other value. In these circumstances, pointer events 
    will trigger event listeners on this parent element as appropriate on their way to/from the descendant 
    during the event capture/bubble phases */
.machinata-reporting-styling svg.icon * {
    pointer-events: none;
}


/* clears the 'X' from Internet Explorer */
.machinata-reporting-styling input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
.machinata-reporting-styling input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
.machinata-reporting-styling input[type="search"]::-webkit-search-decoration,
.machinata-reporting-styling input[type="search"]::-webkit-search-cancel-button,
.machinata-reporting-styling input[type="search"]::-webkit-search-results-button,
.machinata-reporting-styling input[type="search"]::-webkit-search-results-decoration { display: none; }
