﻿


/* =========================================================================================================== */
/* ======== Dashboard Node ====================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-DashboardNode {
    
}
.machinata-reporting-node.type-Dashboard .machinata-reporting-node.slot-child,
.machinata-reporting-node.type-Dashboard .machinata-reporting-node.layout-child {
    
}

.machinata-reporting-node.type-DashboardNode .machinata-reporting-toolbar,
.machinata-reporting-node.type-DashboardNode .machinata-reporting-toolbar label {
    cursor: grab;
}
.machinata-reporting-node.type-DashboardNode.ui-draggable-dragging,
.machinata-reporting-node.type-DashboardNode.ui-draggable-dragging .machinata-reporting-toolbar,
.machinata-reporting-node.type-DashboardNode.ui-draggable-dragging .machinata-reporting-toolbar label {
    cursor: grabbing;
}

.machinata-reporting-node.type-DashboardNode .packery-drop-placeholder {
    outline: 3px dashed #444;
    outline-offset: -6px;
    transition: transform 0.2s;
}
