﻿
/* =========================================================================================================== */
/* ======== Node ============================================================================================= */
/* =========================================================================================================== */


.machinata-reporting-node {
    position: relative;
}

.machinata-reporting-report .machinata-reporting-node {
    margin-bottom: 64px;
}
.machinata-reporting-report .machinata-reporting-node + .machinata-reporting-report .machinata-reporting-node {
    
}


.machinata-reporting-node .machinata-reporting-toolbar {
    border-bottom: $line-size-px solid $page-color;
    z-index: 1;
}
.machinata-reporting-node .machinata-reporting-subtoolbar {
    border-bottom: none;
    border-top: $line-size-px solid $page-color;
    z-index: 1;
}









/* =========================================================================================================== */
/* ======== Node Full Size Content =========================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node .option-fullsize-content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.machinata-reporting-node.option-toolbar .option-fullsize-content {
    DEP_top: $toolbar-height-plus-line;
    top: calc($toolbar-height-px + $line-size-px);
}
.machinata-reporting-node.option-subtoolbar .option-fullsize-content {
    DEP_bottom: $toolbar-small-height-plus-line;
    bottom: calc($toolbar-small-height-px + $line-size-px);
}






/* =========================================================================================================== */
/* ======== Node Bottom Fader ================================================================================ */
/* =========================================================================================================== */


.machinata-reporting-node .bottom-fader {
    pointer-events: none;
    height: $padding-quadruple-px;
    z-index: 1;
}
.machinata-reporting-node .bottom-fader.option-overflow-only {
    display: none;
}
.machinata-reporting-node.is-overflowing .bottom-fader.option-overflow-only {
    display: block;
}
.machinata-reporting-node.chrome-dark .bottom-fader {
    /* Note: uses CSS L4 8-digit hex numbers */
    /* https://caniuse.com/#feat=css-rrggbbaa */
    background: linear-gradient(to bottom, $chrome-dark-bg-color00 0%, $chrome-dark-bg-colorFF 100%);
}
.machinata-reporting-node.chrome-solid .bottom-fader {
    /* Note: uses CSS L4 8-digit hex numbers */
    /* https://caniuse.com/#feat=css-rrggbbaa */
    background: linear-gradient(to bottom, $chrome-solid-bg-color00 0%, $chrome-solid-bg-colorFF 100%);
}
.machinata-reporting-node.chrome-light .bottom-fader {
    /* Note: uses CSS L4 8-digit hex numbers */
    /* https://caniuse.com/#feat=css-rrggbbaa */
    background: linear-gradient(to bottom, $chrome-light-bg-color00 0%, $chrome-light-bg-colorFF 100%);
}



/* =========================================================================================================== */
/* ======== Node Top/Bottom Content ========================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node .option-bottom-content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.machinata-reporting-node .option-top-content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}







/* =========================================================================================================== */
/* ======== Node Config ============================================================================== */
/* =========================================================================================================== */

.machinata-reporting-config {
    padding-top: $padding-double-px;
}


.machinata-reporting-config .machinata-reporting-cross {
    float: left;
    position: relative;
    top: 8px;
    left: -15px;
    width: $icon-size-px;
    height: $icon-size-px;
}

.machinata-reporting-config .machinata-reporting-select {
    width: auto;
}
.machinata-reporting-config .machinata-reporting-select-wrapper {
    margin-right: $padding-quadruple-px;
}



/* =========================================================================================================== */
/* ======== Node Padded Content ============================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node .option-padded-content {
    padding: $padding-px;
}













/* =========================================================================================================== */
/* ======== Node Container Fullsize ============================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node.container-fullsize {
    width: 100%;
    height: 100%;
}
.machinata-reporting-node.container-fullsize .node-bg {
    width: 100%;
    height: 100%;
}