﻿



/* =========================================================================================================== */
/* ======== Core Satellite Node ============================================================================== */
/* =========================================================================================================== */


.machinata-reporting-report .machinata-reporting-node.type-CoreSatelliteNode .vegaview {
    height: $node-height-chart-huge;
}
.machinata-reporting-report .machinata-reporting-profile-print .machinata-reporting-node.type-CoreSatelliteNode .vegaview {
    height: 128px; /* testing/simulation only */
}


