﻿
/* =========================================================================================================== */
/* ======== Paragraph Node =================================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node.type-ParagraphNode {

}
.machinata-reporting-node.type-ParagraphNode .body {
    margin-top: $padding-quadruple-px;
}

.machinata-reporting-node.type-ParagraphNode.style-CS_W_Paragraph_TwoColumn .body {
    column-count: 2;
    column-gap: $padding-quadruple-px;
}


.machinata-reporting-node.type-ParagraphNode.style-CS_W_Paragraph_Overview .body {
    padding-bottom: $padding-quadruple-px;
}
.machinata-reporting-node.type-ParagraphNode.style-CS_W_Paragraph_Overview .body .lead {
    font-size: $h2-size-px;
    margin-top: 64px;
    margin-bottom: $padding-double-px;
}
.machinata-reporting-node.type-ParagraphNode.style-CS_W_Paragraph_Overview .body .content {
    font-size: $h3-size-px;
    font-family: "Credit Suisse Headline", CS-Type-eP, Arial, Helvetica, sans-serif;
}


.machinata-reporting-node.type-ParagraphNode.style-CS_Lead .body .content {
    font-size: $h3-size-px;
    font-family: "Credit Suisse Headline", CS-Type-eP, Arial, Helvetica, sans-serif;
}

.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder .body,
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder_Block2x2 .body,
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder_Block1x1 .body,
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder_Block1x2 .body,
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder_Block4x1 .body,
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder_Block4x2 .body,
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder_Block2x1 .body {
    margin-top: 0px;
}
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder p,
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder_Block2x2 p,
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder_Block1x1 p,
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder_Block1x2 p,
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder_Block4x1 p,
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder_Block4x2 p,
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder_Block2x1 p {
    color: $gray5;
    font-size: $h3-size-px;
    text-align: center;
    margin: 0px;
    padding-top: $padding-quadruple-px;
    padding-bottom: $padding-quadruple-px;
}
