﻿



/* =========================================================================================================== */
/* ======== Error Node ================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-ErrorNode.style-CS_W_Error .node-bg {
    padding: $padding-px;
}
.machinata-reporting-node.type-ErrorNode.style-CS_W_Error .message {
    DISABLED_font-size: $h4-size;
    DISABLED_font-weight: bold;
    padding-bottom: $padding-px;
}
.machinata-reporting-node.type-ErrorNode.style-CS_W_Error .error,
.machinata-reporting-node.type-ErrorNode.style-CS_W_Error .code {
    color: rgba(0,0,0,0.4);
}

