﻿


.machinata-reporting-table {
    border-collapse: collapse;
    width: 100%;
}
.machinata-reporting-table * {
    font-size: $text-size-px;
}
.machinata-reporting-table.option-full-width {
}

.machinata-reporting-table div.table-header,
.machinata-reporting-table th {
    padding: $padding-px;
    border-bottom: 1px solid $black;
    font-weight: normal;
    vertical-align: bottom;
}
.machinata-reporting-table td,
.machinata-reporting-table .table-cell {
    padding: $padding-px;
    padding-top: $padding-double-px;
    padding-bottom: $padding-double-px;
    border-bottom: $line-size-px solid $gray3;
    vertical-align: top;
}
.machinata-reporting-table.option-white-space-as-newlines td,
.machinata-reporting-table.option-white-space-as-newlines .table-cell {
    white-space: pre; /* allows \n line-breaks in tables */
}
.machinata-reporting-table .table-row.class-total .table-cell,
.machinata-reporting-table .table-row.class-total td {
    
}
.machinata-reporting-table td.label {
    DEPRECATED_font-weight: bold;
}


div.machinata-reporting-table  {
    display: table;
}
.machinata-reporting-table .table-head  {
    display: table-header-group;
}
.machinata-reporting-table .table-header  {
    display: table-cell;
    text-align: left;
}
.machinata-reporting-table .table-body  {
    display: table-row-group;
}
.machinata-reporting-table .table-cell  {
    display: table-cell;
}
.machinata-reporting-table .table-row {
    display: table-row;
}


.machinata-reporting-table .table-body:not(:last-of-type) tr:last-of-type td  {
    border-bottom: $line-size-px solid black;
}
DEPRECATED_.machinata-reporting-table .table-body tr.last-in-group td  {
    border-bottom: $line-size-px solid black;
}



.machinata-reporting-table td,
.machinata-reporting-table th {
    text-align: right;
}


.machinata-reporting-table .type-pl,
.machinata-reporting-table .type-pl *,
.machinata-reporting-table .type-mv,
.machinata-reporting-table .type-mv *,
.machinata-reporting-table .type-fxrate,
.machinata-reporting-table .type-fxrate *,
.machinata-reporting-table .type-p-abs,
.machinata-reporting-table .type-p-abs *,
.machinata-reporting-table .type-p-rel,
.machinata-reporting-table .type-p-rel *,
.machinata-reporting-table .type-number,
.machinata-reporting-table .type-number *,
.machinata-reporting-table .type-percent,
.machinata-reporting-table .type-percent *,
.machinata-reporting-table .type-amount,
.machinata-reporting-table .type-amount *,
.machinata-reporting-table .type-count,
.machinata-reporting-table .type-count *,
.machinata-reporting-table .type-date,
.machinata-reporting-table .type-date * {
    text-align: right;
    font-family: $number-font;
}


.machinata-reporting-table td.label,
.machinata-reporting-table th.label,
.machinata-reporting-table .type-string,
.machinata-reporting-table .type-string *,
.machinata-reporting-table .type-text,
.machinata-reporting-table .type-text * {
    text-align: left;
}

.machinata-reporting-table th:last-of-type,
.machinata-reporting-table td:last-of-type {
    text-align: right;
}






.machinata-reporting-table .green-number {
    color: $green-color;
    font-weight: bold;
}
.machinata-reporting-table .green-number svg {
    fill: $green-color;
}
.machinata-reporting-table .red-number {
    color: $red-color;
    font-weight: bold;
}
.machinata-reporting-table .red-number svg {
    fill: $red-color;
}



.machinata-reporting-table .data.has-icon .icon {
    width: $icon-size-px;
    height: $icon-size-px;
    position: relative;
    top: 4px;
    margin-left: 4px;
}
.machinata-reporting-table .data.has-icon .icon.alert {
    margin-right: 4px;
    margin-left: 0px;
}




.machinata-reporting-table .data.has-link {
    cursor: pointer;
}
.machinata-reporting-table .data.has-link:hover {
    text-decoration: underline;
}




.machinata-reporting-table .table-cell .note {
    font-size: 0.8em;
}


.machinata-reporting-table .type-image {
    width: 100px;
}
.machinata-reporting-table .type-image .thumbnail {
    width: 100px;
    height: 70px;
    background-size: cover;
    background-position: center center;
}



.machinata-reporting-table .type-tools {
    text-align: right;
    min-width: 3em;
}
.machinata-reporting-table .type-tools.table-cell {
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
}
.machinata-reporting-table .type-tools .icon {
    width: $icon-size-px;
    height: $icon-size-px;
    margin-left: $padding-px;
}
    




.machinata-reporting-table .table-row.option-link,
.machinata-reporting-table a.table-row {
    transition: $standard-transition-duration background-color ease-in-out;
}
.machinata-reporting-table .table-row.has-link,
.machinata-reporting-table .table-row.option-link {
    cursor: pointer;
}
.machinata-reporting-table .table-row.option-link:hover,
.machinata-reporting-table a.table-row:hover {
    color: $black;
    background-color: $gray2;
}
.cs-theme--dark .machinata-reporting-table .table-row.option-link:hover,
.cs-theme--dark .machinata-reporting-table a.table-row:hover {
    color: $black;
    background-color: $white;
}
.cs-theme--gray .machinata-reporting-table .table-row.option-link:hover,
.cs-theme--gray .machinata-reporting-table a.table-row:hover {
    color: $black;
    background-color: $gray3;
}





.machinata-reporting-table .table-row {
    transition: $standard-transition-duration background-color ease-in-out;
}
.machinata-reporting-table .table-row:hover {
    color: $black;
    background-color: $gray2;
}









/* Header Groups */
.machinata-reporting-table .header.groups th {
    border-bottom: none;
    text-align: right;
    font-weight: bold;
}

/* Sorters */

.machinata-reporting-table.tablesorter .filtered {
  display: none;
}

.machinata-reporting-table th.tablesorter-header .tablesorter-header-inner {
    cursor: pointer;
}
.machinata-reporting-table th.tablesorter-headerAsc,
.machinata-reporting-table th.tablesorter-headerDesc {
}
.machinata-reporting-table th.tablesorter-headerUnSorted .tablesorter-header-inner:before,
.machinata-reporting-table th.tablesorter-headerAsc .tablesorter-header-inner:before,
.machinata-reporting-table th.tablesorter-headerDesc .tablesorter-header-inner:before {
    font-family: $number-font;
    font-weight: bold;
    position: relative;
    left: -4px;
    content: "";
    display: none;
}
.machinata-reporting-table th.tablesorter-headerAsc,
.machinata-reporting-table th.tablesorter-headerDesc {
    font-weight: bold;
}
.machinata-reporting-table th.tablesorter-headerAsc .tablesorter-header-inner:before {
    DEP_content: "\2191"; /* UTF UPWARDS ARROW https://www.w3schools.com/charsets/ref_utf_arrows.asp */
    DEP_content: "\21A5"; /* UTF UPWARDS ARROW https://www.w3schools.com/charsets/ref_utf_arrows.asp */
    content: "\21E1"; /* UTF UPWARDS DASHED ARROW https://www.w3schools.com/charsets/ref_utf_arrows.asp */
    content: '\$symbol-font-sort-up-unicode'; 
    opacity: 1.0;
    display: unset;
}
.machinata-reporting-table th.tablesorter-headerDesc .tablesorter-header-inner:before {
    DEP_content: "\2193"; /* UTF DOWNWARDS ARROW https://www.w3schools.com/charsets/ref_utf_arrows.asp */
    DEP_content: "\21A7"; /* UTF DOWNWARDS ARROW https://www.w3schools.com/charsets/ref_utf_arrows.asp */
    content: "\21E3"; /* UTF DOWNWARDS DASHED ARROW https://www.w3schools.com/charsets/ref_utf_arrows.asp */
    content: '\$symbol-font-sort-down-unicode'; 
    opacity: 1.0;
    display: unset;
}

/* Filters */

.machinata-reporting-table .tablesorter-filter-row td {
    padding: $padding-px;
    padding-top: $padding-double-px;
    padding-bottom: 0px;
    border-bottom: none;
    display: none;
}
.machinata-reporting-table.option-filter .tablesorter-filter-row td {
    display: table-cell;
}
.machinata-reporting-table .tablesorter-filter-row td:first-of-type {
    padding-left: 0px;
}
.machinata-reporting-table .tablesorter-filter-row td:last-of-type {
    padding-right: 0px;
}
.machinata-reporting-table .tablesorter-filter-row td input.tablesorter-filter {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: $padding-quarter;
    padding-top: 0px;
    font-weight: bold;
    width: 100%;

    transition: $standard-transition-duration border-bottom-color ease-in-out;
}
.machinata-reporting-table .tablesorter-filter-row td input.tablesorter-filter::-moz-placeholder{
    font-weight: normal;
    opacity: 0.0;
    transition: $standard-transition-duration opacity ease-in-out;
}
.machinata-reporting-table .tablesorter-filter-row td input.tablesorter-filter::-ms-input-placeholder{
    font-weight: normal;
    opacity: 0.0;
    transition: $standard-transition-duration opacity ease-in-out;
}
.machinata-reporting-table .tablesorter-filter-row td input.tablesorter-filter::placeholder{
    font-weight: normal;
    opacity: 0.0;
    transition: $standard-transition-duration opacity ease-in-out;
}
.machinata-reporting-table .tablesorter-filter-row td input.tablesorter-filter::input-placeholder {
    font-weight: normal;
    opacity: 0.0;
    transition: $standard-transition-duration opacity ease-in-out;
}

.machinata-reporting-table .tablesorter-filter-row td input.tablesorter-filter:hover::-moz-placeholder{
    opacity: 1.0;
}
.machinata-reporting-table .tablesorter-filter-row td input.tablesorter-filter:hover::-ms-input-placeholder{
    opacity: 1.0;
}
.machinata-reporting-table .tablesorter-filter-row td input.tablesorter-filter:hover::placeholder{
    opacity: 1.0;
}
.machinata-reporting-table .tablesorter-filter-row td input.tablesorter-filter:hover::input-placeholder {
    opacity: 1.0;
}

.machinata-reporting-table .tablesorter-filter-row td input.tablesorter-filter {
    text-align: right;
}
.machinata-reporting-table .tablesorter-filter-row td:first-child input.tablesorter-filter {
    text-align: left;
}
.machinata-reporting-table .tablesorter-filter-row td.type-text input.tablesorter-filter {
    text-align: left;
}

.machinata-reporting-table .tablesorter-filter-row input.tablesorter-filter {
}
.machinata-reporting-table .tablesorter-filter-row td:hover input.tablesorter-filter {
    border-bottom-color: black;
}



.machinata-reporting-table .tablesorter-filter-row td .disabled {
    display: none;
}

.machinata-reporting-table tr.no-results td {
    text-align: center;
}
.machinata-reporting-table tr.no-results td a {
    cursor: pointer;
}



/* Totals */
.machinata-reporting-table th.class-total,
.machinata-reporting-table td.class-total,
.machinata-reporting-table tr.class-total td {
    font-weight: bold;
}



/* Importances */

.machinata-reporting-table .table-row.importance-1 td {
    font-weight: bold;
}








.machinata-reporting-table-head-pusher {
    height: 20px;
}





.machinata-reporting-table.header-is-sticky .table-head {
    background-color: $white;
}
.cs-theme--gray .machinata-reporting-table.header-is-sticky .table-head {
    background-color: $solid-bg;
}


.machinata-reporting-table .data.selected-drilldown,
.machinata-reporting-table .selected-highlight {
    background-color: black;
    color: white;
}

.machinata-reporting-table .data.has-drilldown {
    cursor: pointer;
}
.machinata-reporting-table .data.has-drilldown:hover {
    text-decoration: underline;
}




.machinata-reporting-table a.icon {
    text-decoration: none;
    border-bottom: none;
}





.machinata-reporting-table .tabs-row {
    padding: 0px;
}
.machinata-reporting-table .tabs-row .table-view-tabs {
    padding-top: $padding-double-px;
}


.machinata-reporting-table tr.option-no-border th {
    border-bottom: none;
}


.machinata-reporting-table .table-header .icon {
    position: relative;
    top: 3px;
    margin-left: 4px;
}



.machinata-reporting-table .table-header .icon-arrow.up {
    top: 1px;
}
.machinata-reporting-table .table-header .icon-arrow.up::before {
    display: inline-block;
    transform: rotate(-90deg);
    opacity: 0.0;
    top: 1px;
}
.machinata-reporting-table.header-is-sticky .table-header .icon-arrow.up::before {
    opacity: 1.0;
    cursor: pointer;
}











.machinata-reporting-table.option-no-sentdate .sentdate {
    display: none;
}


.machinata-reporting-table .group-type-bars {
    min-width: 120px;
}

.machinata-reporting-table .balanced-bars {
    height: 10px;
    position: relative;
}
.machinata-reporting-table .balanced-bars:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    background-color: $black;
}
.machinata-reporting-table .balanced-bars.has-positive:after {
    left: 0%;
}
.machinata-reporting-table .balanced-bars.has-negative:after {
    right: 0%;
}
.machinata-reporting-table .balanced-bars.has-negative.has-positive:after {
    left: 50%;
    transform: translateX(-1px);
}
.machinata-reporting-table .balanced-bars .microbar {
    height: 10px;
    position: absolute;
    width: 100%;
}
.machinata-reporting-table .balanced-bars.has-negative.has-positive .microbar {
    width: 50%;
}
.machinata-reporting-table .balanced-bars + .balanced-bars {
    DEPRECATED_margin-top: 8px;
}
.machinata-reporting-table .microbar .label {
    display: none;
}
.machinata-reporting-table .microbar.positive {
    right: 0px;
    top: 0px;
}
.machinata-reporting-table .microbar.negative {
    left: 0px;
    top: 0px;
}
.machinata-reporting-table .microbar.positive .bar {
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.machinata-reporting-table .microbar.negative .bar {
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
}


.machinata-reporting-table .indent-1 td:first-of-type {
    padding-left: 24px;
}
.machinata-reporting-table .indent-2 td:first-of-type {
    padding-left: 40px;
}
.machinata-reporting-table .indent-3 td:first-of-type {
    padding-left: 56px;
}
.machinata-reporting-table .indent-4 td:first-of-type {
    padding-left: 72px;
}
.machinata-reporting-table .indent-5 td:first-of-type {
    padding-left: 88px;
}
.machinata-reporting-table .indent-6 td:first-of-type {
    padding-left: 104px;
}
.machinata-reporting-table .indent-7 td:first-of-type {
    padding-left: 120px;
}
.machinata-reporting-table .indent-8 td:first-of-type {
    padding-left: 136px;
}




.machinata-reporting-table tr.has-child-rows.toggable {
    cursor: pointer;
}
.machinata-reporting-table tr.hidden {
    display: none !important;
}



.machinata-reporting-table tr.has-child-rows.toggable .icon {
    width: $icon-size-trend-px;
    height: $icon-size-trend-px;
    position: relative;
    top: 4px;
    left: -1px;
}
.machinata-reporting-table tr.has-child-rows.expanded.toggable td:first-of-type .icon-expand {
    display: none;
}
.machinata-reporting-table tr.has-child-rows.collapsed.toggable td:first-of-type .icon-collapse {
    display: none;
}


.machinata-reporting-table tr.group-header td {
    font-weight: bold;
}

