﻿



/* =========================================================================================================== */
/* ======== Section Node ===================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-SectionNode h2 {
    margin-bottom: $padding-double-px;
}
.machinata-reporting-report.type-SectionNode h2:first-of-type {
    margin-top: 64px;
}

