﻿


/* =========================================================================================================== */
/* ======== Node Chrome: Light =============================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.chrome-light {
    
}

.machinata-reporting-node.chrome-light .machinata-reporting-toolbar {
    background-color: $chrome-light-toolbar-bg-color;
}
.machinata-reporting-node.chrome-light .node-bg {
    background-color: $chrome-light-bg-color;
}

.machinata-reporting-node.chrome-light .machinata-reporting-toolbar {
    border-top: 1px solid $black;
}
.machinata-reporting-node.chrome-light .machinata-reporting-subtoolbar {
    border-top: none;
    border-bottom: 1px solid $black;
}
.machinata-reporting-node.chrome-light .machinata-reporting-toolbar label {
    padding-left: 0px;
}
.machinata-reporting-node.chrome-light .title {
    color: $chrome-light-toolbar-title-color;
}
.machinata-reporting-node.chrome-light .subtitle {
    color: $chrome-light-toolbar-text-color;
}

.machinata-reporting-node.chrome-light .tool {
    background-color: $chrome-light-toolbar-tool-normal-bg-color;
}
.machinata-reporting-node.chrome-light .tool, 
.machinata-reporting-node.chrome-light .tool svg {
    color: $chrome-light-toolbar-tool-normal-icon-color;
    fill: $chrome-light-toolbar-tool-normal-icon-color;
}

.machinata-reporting-node.chrome-light .tool.active {
    background-color: $chrome-light-toolbar-tool-selected-bg-color;
}
.machinata-reporting-node.chrome-light .tool.active, 
.machinata-reporting-node.chrome-light .tool.active svg {
    color: $chrome-light-toolbar-tool-selected-icon-color;
    fill: $chrome-light-toolbar-tool-selected-icon-color;
}

.machinata-reporting-node.chrome-light .tool:hover {
    background-color: $chrome-light-toolbar-tool-hover-bg-color;
}
.machinata-reporting-node.chrome-light .tool:hover, 
.machinata-reporting-node.chrome-light .tool:hover svg {
    color: $chrome-light-toolbar-tool-hover-icon-color;
    fill: $chrome-light-toolbar-tool-hover-icon-color;
}






/* =========================================================================================================== */
/* ======== Node Chrome: Dark =============================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.chrome-dark .machinata-reporting-toolbar {
    background-color: $chrome-dark-toolbar-bg-color;
}
.machinata-reporting-node.chrome-dark .node-bg {
    background-color: $chrome-dark-bg-color;
}
.machinata-reporting-node.chrome-dark .title {
    color: $chrome-dark-toolbar-title-color;
}
.machinata-reporting-node.chrome-dark .subtitle {
    color: $chrome-dark-toolbar-text-color;
}

.machinata-reporting-node.chrome-dark .tool {
    background-color: $chrome-dark-toolbar-tool-normal-bg-color;
}
.machinata-reporting-node.chrome-dark .tool, 
.machinata-reporting-node.chrome-dark .tool svg {
    color: $chrome-dark-toolbar-tool-normal-icon-color;
    fill: $chrome-dark-toolbar-tool-normal-icon-color;
}

.machinata-reporting-node.chrome-dark .tool:hover {
    background-color: $chrome-dark-toolbar-tool-hover-bg-color;
}
.machinata-reporting-node.chrome-dark .tool:hover, 
.machinata-reporting-node.chrome-dark .tool:hover svg {
    color: $chrome-dark-toolbar-tool-hover-icon-color;
    fill: $chrome-dark-toolbar-tool-hover-icon-color;
}






/* =========================================================================================================== */
/* ======== Node Chrome: Solid =============================================================================== */
/* =========================================================================================================== */



.machinata-reporting-node.chrome-solid .machinata-reporting-toolbar {
    background-color: $chrome-solid-toolbar-bg-color;
}
.machinata-reporting-node.chrome-solid .node-bg {
    background-color: $chrome-solid-bg-color;
}
.machinata-reporting-node.chrome-solid .title {
    color: $chrome-solid-toolbar-title-color;
}
.machinata-reporting-node.chrome-solid .subtitle {
    color: $chrome-solid-toolbar-text-color;
}

.machinata-reporting-node.chrome-solid .tool {
    background-color: $chrome-solid-toolbar-tool-normal-bg-color;
}
.machinata-reporting-node.chrome-solid .tool, 
.machinata-reporting-node.chrome-solid .tool svg {
    color: $chrome-solid-toolbar-tool-normal-icon-color;
    fill: $chrome-solid-toolbar-tool-normal-icon-color;
}

.machinata-reporting-node.chrome-solid .tool.active {
    background-color: $chrome-solid-toolbar-tool-selected-bg-color;
}
.machinata-reporting-node.chrome-solid .tool.active, 
.machinata-reporting-node.chrome-solid .tool.active svg {
    color: $chrome-solid-toolbar-tool-selected-icon-color;
    fill: $chrome-solid-toolbar-tool-selected-icon-color;
}

.machinata-reporting-node.chrome-solid .tool:hover {
    background-color: $chrome-solid-toolbar-tool-hover-bg-color;
}
.machinata-reporting-node.chrome-solid .tool:hover, 
.machinata-reporting-node.chrome-solid .tool:hover svg {
    color: $chrome-solid-toolbar-tool-hover-icon-color;
    fill: $chrome-solid-toolbar-tool-hover-icon-color;
}


