﻿
.machinata-reporting-badge {
    border-radius: 4px;
    text-transform: uppercase;
    font-size: $badge-size-px;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 2px;

    background-color: $gray3;
}
.machinata-reporting-badge.option-amber {
    background-color: $amber-color;
}
.machinata-reporting-badge.option-red {
    background-color: $red-color;
}
.machinata-reporting-badge.option-green {
    background-color: $green-color;
}