﻿

/* =========================================================================================================== */
/* ======== Report =========================================================================================== */
/* =========================================================================================================== */

.machinata-reporting-report {
    min-height: 600px;
}
.machinata-reporting-report h1 {
    margin-bottom: 64px;
}
DEPRECATED_.machinata-reporting-report.option-fullscreen h1 {
    margin-top: 64px;
}



.machinata-reporting-report .machinata-reporting-section-header h1 {
    display: none;
}
.machinata-reporting-report .machinata-reporting-section-header h2 {
    margin-top: 96px;
    margin-bottom: 48px;
}
.machinata-reporting-report .machinata-reporting-section-header h3 {
    margin-top: 96px;
    margin-bottom: $padding-quadruple-px;
}


