﻿


/* =========================================================================================================== */
/* ======== NoOp Node ================================================================================= */
/* =========================================================================================================== */

.machinata-reporting-node.type-NoOpNode {
    margin-top: 0px;
    margin-bottom: 0px;
}

