﻿


/* =========================================================================================================== */
/* ======== Link Node ================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-LinkNode {
    margin-top: $padding-quadruple-px;
    margin-bottom: $padding-double-px;
    font-size: $padding-double-px;
}
.machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .machinata-reporting-node.type-LinkNode {
    margin-top: -$padding-quadruple-px;
}
.machinata-reporting-node.type-RichTextNode.style-CS_W_Overview_FullWidth .machinata-reporting-node.type-LinkNode {
    margin-top: -$padding-quadruple-px;
}
