﻿
.machinata-reporting-readprogress {
    position: fixed;
    height: $padding-px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: $progress-bg-color;
    z-index: 100;
    opacity: 0;

}

.machinata-reporting-readprogress .progress {
    position: absolute;
    height: 100%;
    width: 0%;
    bottom: 0px;
    left: 0px;
    background-color: $progress-bar-color;

    transition: width $progress-bar-update-interval linear;
}


.machinata-reporting-readprogress.option-dissappear-at-zero {
    opacity: 1;
    transition: opacity $progress-bar-update-interval linear;
}
.machinata-reporting-readprogress.option-dissappear-at-zero.is-zero {
    opacity: 0;
}