﻿

/* =========================================================================================================== */
/* ======== Multi Gauge Node ================================================================================= */
/* =========================================================================================================== */


.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode .vegaview {
    height: $node-height-chart-huge;
}
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-2 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-3 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-4 .vegaview {
    height: $node-height-chart;
}
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-9 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-10 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-11 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-MultiGaugeNode.numfacts-12 .vegaview {
    height: 700px;
}
