﻿

.machinata-reporting-styling .theme-headline-font,
.machinata-reporting-styling h1,
.machinata-reporting-styling h2,
.machinata-reporting-styling h3,
.machinata-reporting-styling h4 {
    font-family: $headline-font;
    font-weight: $headline-weight;
    color: $headline-text-color;
}

.machinata-reporting-styling .theme-headline-color {
    color: $headline-text-color;
}

.machinata-reporting-styling .theme-number-font {
    font-family: $number-font;
}


 
.machinata-reporting-styling .theme-h1-size,
.machinata-reporting-styling h1 {
    font-size: $h1-size-px;
}
 
.machinata-reporting-styling .theme-h2-size,
.machinata-reporting-styling h2 {
    font-size: $h2-size-px;
}
 
.machinata-reporting-styling .theme-h3-size,
.machinata-reporting-styling h3 {
    font-size: $h3-size-px;
}
 
.machinata-reporting-styling .theme-h4-size,
.machinata-reporting-styling h4 {
    font-size: $h4-size-px;
}