﻿



/* =========================================================================================================== */
/* ======== Info Node ================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-InfoNode {
    
}
.machinata-reporting-node.type-InfoNode .node-bg {
    padding: $padding-px;
}
.machinata-reporting-node.type-InfoNode .message {
    position: relative;
    top: -0.1em;
}
.machinata-reporting-node.type-InfoNode .icon {
    width: $icon-size-px;
    height: $icon-size-px;
    margin-right: $padding-half-px;
    position: relative;
    top: 0.2em;
}