﻿


/* =========================================================================================================== */
/* ======== Vega Node ======================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-VegaNode .vegaview {
    overflow: hidden;
    position: relative;
    padding: $padding-px;
}
.machinata-reporting-node.type-VegaNode .vegaview svg {
    position: absolute;
    left: $padding-px;
    top: $padding-px;
}


.machinata-reporting-report .machinata-reporting-node.type-VegaNode .vegaview {
    height: $node-height-chart;
}






/* =========================================================================================================== */
/* ======== Vega Tooltips ==================================================================================== */
/* =========================================================================================================== */

#vg-tooltip-element.vg-tooltip.custom-theme {
    padding: $padding-px;
    color: $tooltip-text-color;
    background-color: $tooltip-bg-color;
    
    font-family: $text-font;
    font-size: unset;
    border-radius: 0px;
    box-shadow: none;
    border: none;
}


#vg-tooltip-element.vg-tooltip.custom-theme .title {
    font-weight: bold;
}
#vg-tooltip-element.vg-tooltip.custom-theme table tr td.key,
#vg-tooltip-element.vg-tooltip.custom-theme table tr td.value {
    color: $tooltip-text-color;
    vertical-align: bottom;
    display: table-cell;
}
#vg-tooltip-element.vg-tooltip.custom-theme table tr td.key {
    text-align: left;
}
#vg-tooltip-element.vg-tooltip.custom-theme table tr td.value {
    text-align: right;
}









