﻿


/* =========================================================================================================== */
/* ======== Offline Map Node ================================================================================= */
/* =========================================================================================================== */


.machinata-reporting-report .machinata-reporting-node.type-StackedAreaNode.series-count-range-5-10 .vegaview {
    height: $node-height-chart-large;
}
.machinata-reporting-report .machinata-reporting-node.type-StackedAreaNode.series-count-range-10-15 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-StackedAreaNode.series-count-range-15-20 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-StackedAreaNode.series-count-range-20-30 .vegaview {
    height: calc(2 * $node-height-chart-large);
}
