﻿

/* =========================================================================================================== */
/* ======== Node Styles: Nerves Block System ====================================================================================== */
/* =========================================================================================================== */

.machinata-reporting-report .machinata-reporting-node.style-CS_W_Block1x1,
.machinata-reporting-report .machinata-reporting-node.style-CS_W_Block2x1,
.machinata-reporting-report .machinata-reporting-node.style-CS_W_Block4x1,
.machinata-reporting-report .machinata-reporting-node.style-CS_W_Block1x2,
.machinata-reporting-report .machinata-reporting-node.style-CS_W_Block2x2 {
    float: left;
}


.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block1x1 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block2x1 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block4x1 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block1x2 .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block2x2 .vegaview {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: unset;
}

.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block1x1.option-toolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block2x1.option-toolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block4x1.option-toolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block1x2.option-toolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block2x2.option-toolbar .vegaview {
    top: calc($toolbar-height-px + $line-size-px);
}
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block1x1.option-subtoolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block2x1.option-subtoolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block4x1.option-subtoolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block1x2.option-subtoolbar .vegaview,
.machinata-reporting-report .machinata-reporting-node.type-VegaNode.style-CS_W_Block2x2.option-subtoolbar .vegaview {
    bottom: calc($toolbar-small-height-px + $line-size-px);
}



.machinata-reporting-node.type-LayoutNode .machinata-reporting-node.slot-child.style-CS_W_Overview_FullWidth {
    float: none;
}



.machinata-reporting-report:not(.machinata-reporting-profile-fullscreen) .machinata-reporting-node.type-SectionNode.style-CS_W_OverviewSection {
    margin-top: 0px;
}
.machinata-reporting-node.type-SectionNode.style-CS_W_OverviewSection .machinata-reporting-node.type-LayoutNode {
    margin-bottom: calc($padding-quadruple-px + $padding-double-px);
}
.machinata-reporting-node.type-SectionNode.style-CS_W_OverviewSection .section-title {
    display: none;
}




/* =========================================================================================================== */
/* ======== Node Styles: bmpi Column System ====================================================================================== */
/* =========================================================================================================== */

DEPRECATED_.machinata-reporting-node.style-CS_W_PaddedNodes,
DEPRECATED_.machinata-reporting-node.style-CS_C_Two_Columns,
DEPRECATED_.machinata-reporting-node.style-CS_C_Four_Charts,
DEPRECATED_.machinata-reporting-node.style-CS_W_OverviewPanel_DEP {
    margin-left: -$padding-double-px;
    margin-right: -$padding-double-px;
}
DEPRECATED_.machinata-reporting-node.style-CS_W_PaddedNodes .machinata-reporting-node,
DEPRECATED_.machinata-reporting-node.style-CS_C_Two_Columns .machinata-reporting-node.slot-child,
DEPRECATED_.machinata-reporting-node.style-CS_C_Four_Charts .machinata-reporting-node.slot-child,
DEPRECATED_.machinata-reporting-node.style-CS_W_OverviewPanel_DEP .machinata-reporting-node.slot-child {
    border: $padding-double-px solid white; /* creates a 2rem spacing */
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

/* =========================================================================================================== */
/* ======== Node Styles: Placeholders ======================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder {
    min-height: 400px;
}
.machinata-reporting-node.type-ParagraphNode.style-CS_Placeholder .body {
    height: 100%;
}

