﻿
/* =========================================================================================================== */
/* ======== Node Tags:  ====================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.tag-CS_T_TestWarning {
    background-color: $amber-color;
}
.machinata-reporting-node.tag-CS_T_TestWarning .body {
    padding: $padding-quarter-px;
}

.machinata-reporting-node.tag-PageBreak {
    page-break-before: always;
    page-break-inside: auto;
}


