﻿

/* =========================================================================================================== */
/* ======== RichText Node ==================================================================================== */
/* =========================================================================================================== */

.machinata-reporting-node.type-RichTextNode {

}
.machinata-reporting-node.type-RichTextNode .body {
    margin-top: $padding-quadruple-px;
    font-size: $text-size-px;
}
.machinata-reporting-profile-webprint .machinata-reporting-node.type-RichTextNode .body {
    margin-top: 0px;
}




.machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_TwoColumn .body {
    column-count: 2;
    column-gap: $padding-quadruple-px;
}




.machinata-reporting-node.type-RichTextNode .body * {
    font-size: $text-size-px;
}
.machinata-reporting-node.type-RichTextNode .body h1 {
    margin-top: 0px;
    font-size: $h2-size-px;
    margin-bottom: $padding-double-px;
}
.machinata-reporting-node.type-RichTextNode .body h2 {
    margin-top: 0px;
    font-size: $text-size-px;
    font-family: $text-font;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 1em;
}
/* margins */
.machinata-reporting-node.type-RichTextNode .body p,
.machinata-reporting-node.type-RichTextNode .body ol,
.machinata-reporting-node.type-RichTextNode .body ul {
    margin-top: $padding-px;
    margin-bottom: $padding-double-px;
}

.machinata-reporting-node.type-RichTextNode .body img {
    width: 100%;
    height: auto;
}
.machinata-reporting-node.type-RichTextNode .body ul,
.machinata-reporting-node.type-RichTextNode .body ol {
    margin-left: $padding-double-px;
}
.machinata-reporting-node.type-RichTextNode .body li {
    list-style: square;
}


.machinata-reporting-node.type-RichTextNode .body a {
    color: $text-color;
    text-decoration: underline;
}
.machinata-reporting-node.type-RichTextNode .body b, 
.machinata-reporting-node.type-RichTextNode .body strong {
    font-weight: bold;
    font-style: normal;
}
.machinata-reporting-node.type-RichTextNode .body em,
.machinata-reporting-node.type-RichTextNode .body i {
    font-style: italic;
}
.machinata-reporting-node.type-RichTextNode .body u {
    font-style: normal;
    text-decoration: underline double;
}
.machinata-reporting-node.type-RichTextNode .body mark {
    color: $page-color;
    background-color: $text-color;
}








.machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body {
    padding-bottom: $padding-quadruple-px;
}
.machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h1 {
    font-size: $h1-size-px;
    margin-top: 64px;
    margin-bottom: $padding-double-px;
}
.machinata-reporting-profile-webprint .machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h1 {
    margin-top: $padding-quadruple-px;
}
.machinata-reporting-node.type-RichTextNode.style-CS_W_RichText_Overview .body h2 {
    margin-top: 0px;
    font-size: $h2-size-px;
    font-family: $headline-font;
    margin-bottom: 24px;
    DEP_color: $text-color;
}


