﻿

.machinata-reporting-select {
    background-color: white;
    width: auto;
}


.machinata-reporting-select-wrapper {
    position: relative;
    display: inline-block;
    float: left;
}
.machinata-reporting-select-wrapper .machinata-reporting-select {
    padding-right: $padding-quadruple-px;
}
.machinata-reporting-select-wrapper .icon {
    position: absolute;
    width: $icon-size-px;
    height: $icon-size-px;
    right: 4px;
    top: 9px;
    pointer-events: none;
}