﻿

/* =========================================================================================================== */
/* ======== Pivot Table Node  ================================================================================ */
/* =========================================================================================================== */

.machinata-reporting-node.type-PivotTableNode .drilldown-table {
    margin-top: $padding-quadruple-px;
}

.machinata-reporting-node.type-PivotTableNode .charts {

}
.machinata-reporting-node.type-PivotTableNode .charts .machinata-reporting-node.type-LayoutNode {
    margin-top: 0px;
    margin-bottom: 0px;
}
