﻿


.machinata-reporting-menubar {
    clear: both;
}






.machinata-reporting-menubar.option-soft {
    height: 48px;
}
.machinata-reporting-menubar.option-soft ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.machinata-reporting-menubar.option-soft li {
    float: left;
}

.machinata-reporting-menubar.option-soft li a {
    
    cursor: pointer;
    padding: 10px 15px;
    font-size: $text-size-px;
    line-height: 1;
    border: 2px solid #dadada;
    border-width: 0 0 2px 0;
    text-align: center;
    display: block;
    font-weight: bold;

    color: #7c7c7b;
    border-color:#dadada;

    transition: all .25s 0s ease-out;
}

.machinata-reporting-menubar.option-soft li.selected a {
    color: $button-primary-selected-bg-color;
    border-color: $button-primary-selected-bg-color;
}






.machinata-reporting-menubar.option-wide {
    width: 100%;
}






.machinata-reporting-menubar.option-hard {
    display: table;
    height: auto;

    margin-top: $padding-quadruple-px;
    margin-bottom: 64px;
}

.machinata-reporting-menubar.option-hard ul {
    display: table-row;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.machinata-reporting-menubar.option-hard li {
    float: unset;
    display: table-cell;
    border: 1px solid $button-secondary-normal-border-color;
}
.machinata-reporting-menubar.option-hard li + li {
    border-left: 0;
}
.machinata-reporting-menubar.option-hard li a {
    cursor: pointer;
    padding: 10px 15px;
    font-size: $text-size-px;
    line-height: 1;
    text-align: center;
    display: block;
    border: 0;
    background: $button-secondary-normal-bg-color;
    color: $button-secondary-normal-text-color;
    font-weight: bold;
    transition: all .25s 0s ease-out;
    box-sizing: border-box;
    text-decoration: none;

}
.machinata-reporting-menubar.option-hard li a:hover {
    background: $button-secondary-hover-bg-color;
    color: $button-secondary-hover-text-color;
}
.machinata-reporting-menubar.option-hard li a.is-active,
.machinata-reporting-menubar.option-hard li a.option-selected,
.machinata-reporting-menubar.option-hard li.selected a {
    background: $button-primary-selected-bg-color;
    color: $button-primary-selected-text-color;
}






.machinata-reporting-node .machinata-reporting-menubar.option-soft, 
.machinata-reporting-node .machinata-reporting-menubar.option-hard {
    margin-top: -32px; /*TODO*/
}
