﻿


/* =========================================================================================================== */
/* ======== Layout Node ====================================================================================== */
/* =========================================================================================================== */


.machinata-reporting-node.type-LayoutNode {
    margin-top: -$padding-double-px;
    margin-left: -$padding-double-px;
    margin-right: -$padding-double-px;
}
.machinata-reporting-node.type-LayoutNode .machinata-reporting-node.slot-child,
.machinata-reporting-node.type-LayoutNode .machinata-reporting-node.layout-child {
    border: $padding-double-px solid transparent; /* creates a 2rem spacing */
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}



.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-LayoutNode,
.machinata-reporting-report.layout-tablet .machinata-reporting-node.type-LayoutNode {
    margin-top: -$padding-px;
    margin-left: -$padding-px;
    margin-right: -$padding-px;
}
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-LayoutNode .machinata-reporting-node.slot-child,
.machinata-reporting-report.layout-mobile .machinata-reporting-node.type-LayoutNode .machinata-reporting-node.layout-child,
.machinata-reporting-report.layout-tablet .machinata-reporting-node.type-LayoutNode .machinata-reporting-node.slot-child,
.machinata-reporting-report.layout-tablet .machinata-reporting-node.type-LayoutNode .machinata-reporting-node.layout-child {
    border-width: $padding-px; 
}

