﻿<div class="ui-card">
    <div class="ui-toolbar">
        <h2>{text.diff-text}</h2>
    </div>
    <div class="ui-card-content">
        {entity.diff-text}


       <br>
        <br>
        <br>


        {entity.body-result}
    </div>
</div>