﻿
<div class="ui-card">
    <div class="ui-toolbar">
        <h2>{text.visual-results.en=Visual Results}</h2>
    </div>
    <div class="ui-card-content">

        <div class="ui-image-comparer">
            <div class="layer"><img src="{entity.data-result}" /></div>
            <div class="layer"><img src="{entity.diff-data}" /></div>
            <img class="pusher" src="{entity.data-result}" />
        </div>
        <div class="clear"></div>
        
        {entity.properties.different-color}
        {entity.properties.different-pixels}
    </div>
</div>
<div class="clear"></div>