﻿<!--<li class="requires-policy policy-admin-threed"><a href="/admin/threed">{text.threed}<span class="icon icon-home-outline"></span></a></li>-->

<div class="section requires-policy policy-admin-threed">
    <div class="section-root section-item"><a class="" href="/admin/threed">{text.threed}</a></div>
    <!--<div class="section-items">
        <div class="section-item {item.classes}"><a class="" href="{item.path}" {item.target-attribute}>{item.title}</a></div>
    </div>-->
</div>