<script>
    function searchDialog(propertyKey, propertyName, propertyValue) {
        var text = propertyName;
        if (propertyName == "Email") {
            text = "{text.enter-whole-email=Please enter the whole email address}";
        }
        Machinata.inputDialog("{text.search}: " + propertyName, text, propertyValue)
                  .okay(function (id, dialog, button, val) {
                      Machinata.changeQueryString(propertyKey, val, document.location.href);
                  })
                  .input(function (val, id) { })
                  .cancel(function (id) { })
                  .show();
    }
</script>
<h2>{text.search}</h2>

<div class="bb-button-set" xselected-button="{selected-filter}">
    <a class="button" name="search" href="{page.navigation.current-path}">
        {text.all}
    </a>
    {search-properties}
</div>