﻿<li class="{status.active}">
    <a api-call="/api/admin/shop/order/{entity.public-id}/set-status/{status.name}" 
       confirm-title="{text.change-status}" 
       confirm-message="{text.are-you-sure}" 
       on-success="{page.navigation.current-path}">
        {status.name}
    </a>
</li>

