﻿<!--<a href="?status={filter.key}" class="{filter.selected}">{filter.name}</a>-->
<a href="javascript:toggleStatus('{filter.key}',{filter.selected});" class="{filter.class-selected}">{filter.name}</a>
